<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-1">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <h2 class="hero ae-2 pad bg-lightgrey">
              <span class="opacity-8 quote-2">
                 BEING<br/>
              </span>
              <span class="opacity-8 quote-1">
                COLOR-CONSCIOUS vs. "COLOR-BLIND"<br/>
              </span>
               <span class="opacity-8 quote-2">
                 IN AN AFFRIMATIVE SENSE
               </span>
             </h2>
           </li>
           <li class="col-6-12 left">
             <p class="ae-4">
               <span class="opacity-8">
               To be color-conscious means noticing and questioning patterns of inequitable educational outcomes
               among minority students, and contextualizing these inequitable outcomes in light of historical exclusion,
               discrimination, and educational
               apartheid.
               </span>
             </p>
             <h3 class="ae-6 text-lightgrey">EXAMPLE</h3>
             <p class="ae-6">
               <span class="opacity-8">
                 Counselors at a community college noticed that a large number of students of color who began in Basic Skills
                 math courses did not go on to take transfer level math. They reject explanations based on minority students’
                 lack of interest in math. They realize instructors may not be aware of campus resources to support students
                 with their homework, so counselors initiated an outreach strategy to notify instructors and students of campus
                 learning resource centers. The response from a survey of students who participate in tutoring services shows
                 that this approach increases the use of campus resources to supplement the instruction in Basic Skills math courses.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>

<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-1">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING AWARE OF RACIALLY-BOUNDED BELIEFS, EXPECTATIONS, AND PRACTICES
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
               Practitioners are careful not to attribute inequitable educational outcomes to incomplete or
               inaccurate explanations regarding students’ cultural predispositions, capacity, ability, or ambitions.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 A philosophy instructor notices that his Latina students rarely speak up in class. He wonders if it is because
                 they have been socialized by their families to be more submissive. The instructor generally focuses on canonized
                 Western authors, but decides to introduce the work of Chicana scholar Gloria Anzaldúa in class one day. The animated
                 response her work generates among the Latina students amazes him. He experiments with incorporating other diverse authors
                 in the curriculum and finds that the class appreciates the exposure to a spectrum of perspectives.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>

<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-1">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING ABLE TO DEMONSTRATE "AUTHENTIC CARING" TO BECOME INSTITUTIONAL AGENTS
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
               Institutional agents are individuals who have the capacity and commitment to transmit directly, or
               negotiate the transmission of, institutional resources and opportunities (Stanton-Salazar, 1997).
               Therefore, to care authentically means to reach out to students proactively and give them the tools they
               need to succeed. Authentic care encompasses substantial help-giving actions and should not be confused with
               being understanding or sympathetic. While understanding and sympathy may provide the motivation for help-giving
               actions, alone they are not sufficient to make a difference in minority students’lives.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 Instructors take the time and trouble to equip students with the tools they need to succeed in college by showing them,
                 among other things, how to research and format a paper, outline their class notes and reading assignments, and study
                 effectively for exams.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>

<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-1">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING ABLE TO ASSUME RESPONSIBILITY FOR THE ELIMINATION OF INEQUALITY
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
                 Rather than viewing inequities in student achievement as unfortunate but expected outcomes, practitioners allow for the
                 possibility that they might be created or exacerbated by taken-for-granted practices and policies, inadequate knowledge,
                 a lack of cultural know-how, or the absence of institutional support.
               </span>
             </p>
             <h4>EXAMPLE</h4>
            <p class="ae-2">
               <span class="opacity-8">
                 Community college counselors notice that incoming students who take the campus placement test for ESL lack information on how
                  this placement exam affects their ability to take transfer level English coursework. They find that students take ESL courses,
                   but lack the knowledge or resources to understand how to interpret the placement exam results and what courses would satisfy
                   transfer requirements. They develop an outreach strategy to educate incoming students about the interpretation of placement
                   test results and proper course placement. As a result of this strategy, the counselors notice an increase in the number of
                   students who take ESL courses and then enroll in English transfer level course work.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>

<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING ABLE TO ASSUME RESPONSIBILITY FOR THE ELIMINATION OF INEQUALITY
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
                 Rather than viewing inequities in student achievement as unfortunate but expected outcomes, practitioners allow for the
                 possibility that they might be created or exacerbated by taken-for-granted practices and policies, inadequate knowledge,
                 a lack of cultural know-how, or the absence of institutional support.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 Community college counselors notice that incoming students who take the campus placement test for ESL lack information on how
                  this placement exam affects their ability to take transfer level English coursework. They find that students take ESL courses,
                   but lack the knowledge or resources to understand how to interpret the placement exam results and what courses would satisfy
                   transfer requirements. They develop an outreach strategy to educate incoming students about the interpretation of placement
                   test results and proper course placement. As a result of this strategy, the counselors notice an increase in the number of
                   students who take ESL courses and then enroll in English transfer level course work.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>

<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING DATA ORIENTED FOR ASSESSMENT
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
                 Practitioners define the cause of unequal student outcomes in ways that make them observable, manageable and measurable.
                 They also monitor outcomes by race and ethnicity, and their progress toward benchmarks.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 As part of an effort to improve transfer rates, practitioners disaggregate attrition rates by race and ethnicity, and assess
                 the impact of targeted interventions (e.g. counseling, mentoring, and learning communities) over time. They focus their attention
                 on barriers to transfer that they can actually control (e.g. lack of institutional support, no guidance from peers or mentors)
                 instead of barriers beyond their control (e.g. socioeconomic status, high school preparation).
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
