<body class="slides zoom noPreload animated ">
  <style>
     .slides {
        -webkit-transition:1s;
        transition:1s;
     }

     .slide.transparent,
     .slide.transparent .background {
        background:transparent !important;
     }
     .autoHeight {
        min-height:60vh;
     }
     /* ignore */
     .slides.scroll .menuToggle.scrollEffectToggle,
     .slides:not(.scroll) .menuToggle.slideEffectToggle { background: #fff; color:#303030; padding: 11px 7px; margin: -5px 0 !important; border-radius: 5px; }
     .slides.scroll .menuToggle.scrollEffectToggle *,
     .slides:not(.scroll) .menuToggle.slideEffectToggle * { cursor: default !important; opacity:1; pointer-events:none;}}
     /* ignore */
     </style>




<body class="slides zoom noPreload animated ">
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>

  <!-- title -->
  <section class="slide kenBurns">
    <div class="content" style="background: rgba(31, 18, 63, .97);">
      <div class="container">
        <div class="wrap top">
          <div class="fix-12-12 toCenter ae-3 margin-bottom-2">
            <div class="margin-bottom-2 left underline ae-1">
              <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">Section 3</h5>
            </div>
            <h1 class="large ae-3 left">What is Equity-Mindedness? </h1>
            <p class="normal left semiBold opacity-5 ae-5">A mindset that enables racial equity</p>

            <ul class="grid margin-top-10 margin-bottom-5 left">
              <li class="col-8-12 left">
                <div class="margin-top-10 left">
                  <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">learning outcome</h5>
                </div>
                <h2 class="small ae-3 left margin-top-3">
                  A greater understanding of equity-mindedness, equity-minded practice, and practices that—through their lack of equity-mindedness—impede racial equity.
                </h2>
              </li>
              <li class="col-4-12 float-right margin-top-4">
                <%= image_tag("graphics/mind.png", class:"wide ae-1 fromCenter")%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
  </section>

 <!-- intro -->
 <section class="slide kenBurns">
   <div class="content" style="background: rgba(31, 18, 63, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">



          <div class="margin-bottom-2 left underline ae-1">
            <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">section 3</h5>
          </div>
          <ul class="grid">
            <li class="col-8-12">
              <h2 class="ae-3 left">Equity-mindedness is demonstrated as a way of thinking that enables racial equity.</h2>
            </li>
            <li class="col-12-12">
              <h2 class="small left opacity-8 ae-5 margin-top-5 opacity-6">We'll explore three concepts to further explain this way of thinking.</h2>
            </li>
          </ul>


          <ul class="flex margin-top-7">
            <li class="fix-4-12 left float-right margin-top-3">
              <h3 class="ae-1 center normal shadow p1-bg rounded padding-2">
                <span class="text-white">A  Mode of thinking</span>
              </h3>
              <h3 class="ae-1 center normal shadow p2-bg rounded padding-2">
                <span class="text-white">Exploring Outcomes</span>
              </h3>
              <h3 class="ae-1 center normal shadow p3-bg rounded padding-2">
                <span class="text-white">Being race-conscious</span>
              </h3>
            </li>
            <li class="fix-3-12 float-left">
              <%= image_tag("graphics/mind.png", class:"white shadow wide ae-1 fromCenter")%>
            </li>
          </ul>
          <p class="margin-top-3 left semiBold opacity-5 lead ae-8"><i class="fal fa-mouse-alt margin-right-1"></i> Scroll down to continue</p>
        </div>
      </div>
    </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
 </section>

  <!-- Mode of thinking -->
  <section class="slide kenBurns ">
    <div class="content" style="background: rgba(31, 18, 63, .97);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12">

           <div class="margin-bottom-2 left underline ae-1">
             <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">What is Equity-Mindedness?</h5>
           </div>
           <h2 class="ae-3 left">A mindset that enables racial equity as...</h2>


         <ul class="fix-5-12 reverse margin-top-8">
           <li class="col-12-12 center">
             <h1 class="ae-1 center normal shadow p1-bg rounded padding-3">
             <span class="text-white">A  Mode of thinking</span>
             </h1>
           </li>
           <li class="col-12-12 center">
             <%= image_tag("graphics/mind-1.png", class:"wide ae-1 fromCenter")%>
           </li>
          </ul>
       </div>
     </div>
     </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
  </section>

  <!-- mode of thinking -->
  <section class="slide kenBurns">
    <div class="content" style="background: rgba(31, 18, 63, .97);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12">

           <div class="margin-bottom-2 left underline ae-1">
             <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">What is Equity-Mindedness?</h5>
           </div>
           <h1 class="large ae-3 left">What is Equity-Mindedness?</h1>
           <h2 class="ae-3 left opacity-5 small margin-bottom-10">A Mode of Thinking</h2>

           <ul class="flex center margin-top-10">
             <li class="col-3-12">
               <%= image_tag("graphics/mind-1.png", class:"opacity-7 wide ae-1 toLeft left")%>
            </li>
             <li class="col-9-12">
               <ul class="flex center">
                 <li class="col-12-12 center">
                   <h2 class="small ae-1 normal shadow p1-bg text-white  rounded padding-3">
                   A <span class="">mode of thinking</span> exhibited by practitioners willing to:
                   </h2>
                 </li>
               </ul>
               <ul class="flex center margin-top-2">
                 <li class="col-12-12 center">
                   <ul class="grid">
                      <li class="col-2-12 right ae-4 Above align-left">
                        <i class="far fa-check-circle fa-3x margin-top-2 margin-right-1"></i>
                      </li>
                      <li class="col-10-12 left ae-5 fromAbove toLeft align-left">
                       <p class="hero semiBold ae-5">
                        take responsibility for the success of historically underserved and minoritized student groups
                       </p>
                      </li>
                    </ul>
                  <ul class="grid">
                    <li class="col-2-12 right ae-6 Above align-left">
                      <i class="far fa-check-circle h1 margin-right-1"></i>
                    </li>
                    <li class="col-10-12 ae-6 Above align-left">
                     <p class="hero semiBold ae-5">
                       critically assess their own practices as educators and/or administrators.
                     </p>
                    </li>
                  </ul>
                 </li>
               </ul>
             </li>
            </ul>
         </div>
       </div>
     </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
  </section>





  <!-- section 2 -->


  <section class="slide kenBurns">
   <div class="content" style="background: rgba(31, 18, 63, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">

          <div class="margin-bottom-2 left underline ae-1">
            <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">What is Equity-Mindedness?</h5>
          </div>
          <h2 class="ae-3 left">A mindset that enables racial equity as...</h2>

        <ul class="fix-5-12 reverse margin-top-8">
          <li class="col-12-12 center">
            <h1 class="ae-1 center normal shadow p2-bg rounded padding-3">
            <span class="text-white">Exploring Outcomes</span>
            </h1>
          </li>
          <li class="col-12-12 center">
            <%= image_tag("graphics/mind-2.png", class:"wide ae-1 fromCenter")%>
          </li>
         </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
 </section>

 <section class="slide kenBurns">
   <div class="content" style="background: rgba(31, 18, 63, .97);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12">

           <div class="margin-bottom-2 left underline ae-1">
             <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">What is Equity-Mindedness?</h5>
           </div>
           <h1 class="large ae-3 left">What is Equity-Mindedness?</h1>
           <h2 class="ae-3 left opacity-5 small margin-bottom-10">Exploring Outcomes</h2>


           <ul class="flex center margin-top-10">
             <li class="col-3-12">
               <%= image_tag("graphics/mind-2.png", class:"opacity-7 wide ae-1 toLeft left")%>
            </li>
             <li class="col-9-12">
              <ul class="flex center">
                <li class="col-12-12 center">
                  <h2 class="small ae-1  normal shadow p2-bg text-white  rounded padding-3">
                  Equity-minded practitioners explore student outcomes:
                  </h2>
                </li>
              </ul>
              <ul class="flex reverse margin-top-2">
               <li class="col-12-12 left">
                  <ul class="grid">
                  <li class="col-2-12 right ae-4 Above align-left">
                    <i class="far fa-check-circle h1 margin-right-1"></i>
                  </li>
                  <li class="col-10-12 left ae-5 fromAbove toLeft align-left  ">
                    <p class="hero semiBold ae-5">
                     They do not solely blame students for their lack of success (a deficit-minded approach)
                    </p>
                  </li>
                </ul>
                <ul class="grid">
                  <li class="col-2-12 right ae-6 Above align-left">
                    <i class="far fa-check-circle h1 margin-right-1"></i>
                  </li>
                  <li class="col-10-12 ae-6 Above align-left">
                    <p class="hero semiBold ae-5">
                     Nor do they rely on racial stereotypes or biases to justify or disregard inequitable outcomes
                    </p>
                  </li>
                </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
 </section>

  <!-- section 3 -->
  <!-- Being race conscious -->

  <section class="slide kenBurns">
    <div class="content" style="background: rgba(31, 18, 63, .97);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12">

           <div class="margin-bottom-2 left underline ae-1">
             <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">What is Equity-Mindedness?</h5>
           </div>
           <h2 class="ae-3 left">A mindset that enables racial equity as...</h2>

         <ul class="fix-5-12 reverse margin-top-8">
           <li class="col-12-12 center">
             <h1 class="ae-1 center normal shadow p3-bg rounded padding-3">
             <span class="text-white">Being race-conscious</span>
             </h1>
           </li>
           <li class="col-12-12 center">
             <%= image_tag("graphics/mind-3.png", class:"wide ae-1 fromCenter")%>
           </li>
          </ul>
       </div>
       </div>
     </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
  </section>


  <section class="slide kenBurns">
     <div class="content" style="background: rgba(31, 18, 63, .97);">
      <div class="container">
        <div class="wrap top">

          <div class="fix-12-12">

            <div class="margin-bottom-2 left underline ae-1">
              <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">What is Equity-Mindedness?</h5>
            </div>
            <h1 class="large ae-3 left">What is Equity-Mindedness?</h1>
            <h2 class="ae-3 left opacity-5 small margin-bottom-10">Being Race-conscious</h2>



            <ul class="flex center margin-top-6">
              <li class="col-3-12">
                <%= image_tag("graphics/mind-3.png", class:"opacity-7 wide ae-1 toLeft left")%>
             </li>
              <li class="col-9-12">
                <ul class="flex center">
                  <li class="col-12-12 center">
                    <h2 class="small ae-1  normal shadow p3-bg text-white  rounded padding-3">
                    Equity-minded practitioners are critically race-conscious:
                    </h2>
                  </li>
                </ul>
                <ul class="flex reverse margin-top-2">
                  <li class="col-12-12 left">
                     <ul class="grid">
                     <li class="col-2-12 right ae-4 Above align-left">
                       <i class="far fa-check-circle h1 margin-right-1"></i>
                     </li>
                     <li class="col-10-12 left ae-5 fromAbove toLeft align-left  ">
                      <p class="hero semiBold ae-5">
                       take responsibility for the success of historically underserved and minoritized student groups
                      </p>
                     </li>
                   </ul>
                   <ul class="grid">
                     <li class="col-2-12 right ae-6 Above align-left">
                       <i class="far fa-check-circle h1 margin-right-1"></i>
                     </li>
                     <li class="col-10-12 ae-6 Above align-left">
                      <p class="hero semiBold ae-5">
                        critically assess their own practices as educators and/or administrators.
                      </p>
                     </li>
                   </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
  </section>





  <section class="slide kenBurns">
    <div class="content" style="background: rgba(31, 18, 63, .97);">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 toCenter">
            <h2 class="ae-2 normal small margin-bottom-2">
              <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
              <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>What is Equity-Mindedness?</h1>

          </div>
          <div class="fix-5-12 ae-5">
            <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
          </div>


          <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
          <h3 class="ae-3 large semiBold">
            <%= link_to recap_3_path, class: "ae-10 center button big transparent" do %>
            Learning Summary  <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
            <% end %>
          </h3>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-01.png")%>)"></div>
  </section>




   <nav class="panel bottom small fixed">
     <div class="sections">
       <div class="left"></div>
       <div class="center">
         <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
       </div>
       <div class="right">

       </div>
     </div>
   </nav>

   <nav class="panel bottom small customPanel">
     <div class="sections">
       <div class="left">
         <ul class="menu small">
           <li tabindex="0" class="toFirstSlide hover-state shadow">
             <%= link_to "Section Intro", intro_2_path %>
           </li>
         </ul>
     </div>
       <div class="right">
         <ul class="menu small">
           <li tabindex="0" class="toFirstSlide hover-state shadow">
             <%= link_to "Next Section", recap_2_path %>
           </li>
         </ul>
       </div>
     </div>
   </nav>




</body>
