<body class="slides zoom horizontal noPreload animated ">
  <style>
     .slides {
        -webkit-transition:1s;
        transition:1s;
     }
     /* set background colors for each of your slides */
     .slides.stage-1 {
        background:#FFFFFF;
     }
     .slides.stage-2 {
        background:#FFFFFF;
     }
     .slides.stage-3 {
        background:#FFFFFF;
     }
     .slides.stage-4 {
        background:#FFFFFF;
     }
     .slides.stage-5 {
        background:#FFFFFF;
     }
     .slides.stage-6 {
        background:#FFFFFF;
     }
     .slides.stage-7 {
        background:#FFFFFF;
     }
     .slides.stage-8 {
        background:#E7FDFF;
     }
     .slides.stage-9 {
        background:#E7FDFF;
     }
     .slides.stage-10 {
        background:#FFFFFF;
     }
     .slides.stage-11 {
        background:#FFFFFF;
     }
     .slides.stage-12 {
        background:#FFFFFF;
     }
     .slide.transparent,
     .slide.transparent .background {
        background:transparent !important;
     }
     .autoHeight {
        min-height:60vh;
     }
     /* ignore */
     .slides.scroll .menuToggle.scrollEffectToggle,
     .slides:not(.scroll) .menuToggle.slideEffectToggle { background: #fff; color:#303030; padding: 11px 7px; margin: -5px 0 !important; border-radius: 5px; }
     .slides.scroll .menuToggle.scrollEffectToggle *,
     .slides:not(.scroll) .menuToggle.slideEffectToggle * { cursor: default !important; opacity:1; pointer-events:none;}}
     /* ignore */
     </style>




<body class="slides zoom horizontal noPreload animated ">
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>

   <!-- White Slide #01 -->
   <section class="slide  whiteSlide autoHeight">
     <div class="content">
       <div class="container">
         <div class="wrap">
           <ul class="flex center">
             <li class="col-12-12 left toCenter">
               <h1 class="ae-1 center" style="font-family: 'Arial' !important; font-size: 40px; line-height: 48px;
               text-decoration: underline; text-decoration-color: #3BC0D1;">
                 What is Equity-Mindedness?</h1>
              </li>
            </ul>
           <div class="fix-4-12">
             <%= image_tag("graphics/mind.png", class:"wide ae-1 fromCenter")%>
           </div>

         </div>
       </div>
     </div>
   </section>

   <section class="slide transparent whiteSlide autoHeight font-arial" style="background: #fff;">
     <div class="content">
      <div class="container">
        <div class="wrap center">
          <ul class="fix-5-12 reverse margin-top-8">
            <li class="col-12-12 center">
              <h1 class="ae-1 center normal shadow p1-bg rounded padding-3">
              <span class="text-white">A  Mode of thinking</span>
              </h1>
            </li>
            <li class="col-12-12 center">
              <%= image_tag("graphics/mind-1.png", class:"wide ae-1 fromCenter")%>
            </li>
           </ul>
        </div>
      </div>
   </section>

    <section class="slide transparent whiteSlide autoHeight font-arial" style="background: #fff;">
      <div class="content">
       <div class="container">
         <div class="wrap center">
           <ul class="fix-5-12 reverse margin-top-8">
             <li class="col-12-12 center">
               <h1 class="ae-1 center normal shadow p2-bg rounded padding-3">
               <span class="text-white">Being race-conscious</span>
               </h1>
             </li>
             <li class="col-12-12 center">
               <%= image_tag("graphics/mind-2.png", class:"wide ae-1 fromCenter")%>
             </li>
            </ul>
         </div>
       </div>
    </section>

   <section class="slide transparent whiteSlide autoHeight font-arial" style="background: #fff;">
     <div class="content">
      <div class="container">
        <div class="wrap center">
          <ul class="fix-5-12 reverse margin-top-8">
            <li class="col-12-12 center">
              <h1 class="ae-1 center normal shadow p3-bg rounded padding-3">
              <span class="text-white">Being race-conscious</span>
              </h1>
            </li>
            <li class="col-12-12 center">
              <%= image_tag("graphics/mind-3.png", class:"wide ae-1 fromCenter")%>
            </li>
           </ul>
        </div>
      </div>
   </section>


   <!-- White Slide #01 -->
   <section class="slide  whiteSlide autoHeight">
     <div class="content">
       <div class="container">
         <div class="wrap">
           <ul class="flex center">
             <li class="col-12-12 left toCenter">
               <h1 class="big normal ae-1 p1-color margin-bottom-4 center"></h1>
               <h1 class="ae-1 center" style="font-family: 'Arial' !important; font-size: 40px; line-height: 48px;
               text-decoration: underline; text-decoration-color: #3BC0D1;">
                 What is Equity-Mindedness?</h1>
              </li>
            </ul>
           <div class="fix-4-12">
             <%= image_tag("graphics/mind-0.png", class:"wide ae-1 fromCenter")%>
           </div>

            <%= link_to s3_1_path, class: "button p1-bg ae-8" do %>
              <h2 class="small margin-bottom-0">Let's dive in!<i class="far fa-long-arrow-alt-right margin-left-1"></i></h2>
            <% end %>

         </div>
       </div>
     </div>
   </section>





 <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
   <div class="sections desktop ">
     <div class="left">
       <span class="onTop" data-tooltip="Section Home">
         <span class="white button actionButton">
           <%= link_to title_3_path do %>
             <i class="far fa-home h4"></i>
           <% end %>
         </span>
       </span>
     </div>
     <div class="center opacity-3">
       <i class="fal fa-arrow-alt-left h2 no-margin"></i>
       <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
       <i class="fal fa-arrow-alt-right h2 no-margin"></i>
     </div>
     <div class="right">
       <span class="onTop" data-tooltip="Next Page">
         <span class="white button actionButton">
           <%= link_to s3_1_path do %>
             <i class="fal fa-check-circle h3"></i>
           <% end %>
         </span>
       </span>
     </div>
   </div>
 </nav>




</body>
