<body class="slides zoom horizontal noPreload animated ">
  <style>
     .slides {
        -webkit-transition:1s;
        transition:1s;
     }
     /* set background colors for each of your slides */
     .slides.stage-1 {
        background:#FFFFFF;
     }
     .slides.stage-2 {
        background:#FFFFFF;
     }
     .slides.stage-3 {
        background:#FFFFFF;
     }
     .slides.stage-4 {
        background:#F2D7FF;
     }
     .slides.stage-5 {
        background:#F2D7FF;
     }
     .slides.stage-6 {
        background:#FFFFFF;
     }
     .slide.transparent,
     .slide.transparent .background {
        background:transparent !important;
     }
     .autoHeight {
        min-height:60vh;
     }
     /* ignore */
     .slides.scroll .menuToggle.scrollEffectToggle,
     .slides:not(.scroll) .menuToggle.slideEffectToggle { background: #fff; color:#303030; padding: 11px 7px; margin: -5px 0 !important; border-radius: 5px; }
     .slides.scroll .menuToggle.scrollEffectToggle *,
     .slides:not(.scroll) .menuToggle.slideEffectToggle * { cursor: default !important; opacity:1; pointer-events:none;}}
     /* ignore */
     </style>




<body class="slides zoom horizontal noPreload animated ">
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>

 <!-- White Slide #01 -->
 <section class="slide  whiteSlide autoHeight">
   <div class="content">
     <div class="container">
       <div class="wrap">
         <ul class="flex center">
           <li class="col-12-12 left toCenter">
             <h1 class="ae-1 center" style="font-family: 'Arial' !important; font-size: 40px; line-height: 48px;
             text-decoration: underline; text-decoration-color: #3BC0D1;">
               What is Equity-Mindedness?</h1>
            </li>
          </ul>
         <div class="fix-4-12">
           <%= image_tag("graphics/mind-3.png", class:"wide ae-1 fromCenter")%>
         </div>

       </div>
     </div>
   </div>
 </section>

 <section class="slide transparent whiteSlide autoHeight font-arial" style="background: #fff;">
   <div class="content">
    <div class="container">
      <div class="wrap center">
        <ul class="fix-5-12 reverse margin-top-8">
          <li class="col-12-12 center">
            <h1 class="ae-1 center normal shadow p3-bg rounded padding-3">
            <span class="text-white">[Being race-conscious]</span>
            </h1>
          </li>
          <li class="col-12-12 center">
            <%= image_tag("graphics/mind-3.png", class:"wide ae-1 fromCenter")%>
          </li>
         </ul>
      </div>
    </div>
 </section>

  <section class="slide transparent whiteSlide autoHeight font-arial" style="background: #fff;">
    <div class="content">
     <div class="container">
       <div class="wrap top">
         <ul class="fix-9-12 center margin-top-6">
           <li class="col-12-12">
             <ul class="flex center">
               <li class="col-12-12 center">
                 <h2 class="small ae-1  normal shadow p3-bg text-white  rounded padding-3">
                 Equity-minded practitioners are critically race-conscious:
                 </h2>
               </li>
             </ul>
             <ul class="flex reverse margin-top-2">
              <li class="col-12-12 left">
                 <ul class="grid">
                 <li class="col-2-12 right ae-4 Above align-left">
                   <i class="far fa-check-circle h1 margin-right-1"></i>
                 </li>
                 <li class="col-10-12 left ae-5 fromAbove toLeft align-left  ">
                   <h3 class="big ae-5">
                    Aware that their beliefs, assumptions, knowledge and approaches are racialized and
                    can have racial consequences, typically do the disadvantage of racially minoritized
                    students
                   </h3>
                 </li>
               </ul>
               <ul class="grid">
                 <li class="col-2-12 right ae-6 Above align-left">
                   <i class="far fa-check-circle h1 margin-right-1"></i>
                 </li>
                 <li class="col-10-12 ae-6 Above align-left">
                   <h3 class="big ae-6">
                    Aware that norms, policies, and practices that are taken-for-granted in higher
                    education can perpetuate racial hierarchies and inequalities, even in the absence
                    of explicit racism
                   </h3>
                 </li>
               </ul>
               </li>
             </ul>
             <ul class="flex reverse">
               <li class="col-11-12">
                 <%= image_tag("graphics/mind-3.png", class:"opacity-5 wide ae-1 toLeft left")%>
               </li>
              </ul>
           </li>
          </ul>
       </div>
     </div>
  </section>

  <section class="slide transparent whiteSlide autoHeight font-arial" style="background: #fff;">
    <div class="content">
     <div class="container">
       <div class="wrap top">

         <ul class="fix-9-12 center">
           <li class="col-12-12">
             <ul class="flex center">
               <li class="col-12-12 center">
                 <h2 class="small ae-1  normal shadow p3-bg text-white  rounded padding-3">
                   [Equity-minded practitioners are critically race-conscious:]
                 </h2>
               </li>
             </ul>
             <ul class="flex reverse margin-top-2">
               <li class="col-11-12 left">
                  <ul class="grid">
                  <li class="col-2-12 right ae-4 Above align-left">
                    <i class="far fa-check-circle h1 margin-right-1"></i>
                  </li>
                  <li class="col-10-12 left ae-5 fromAbove toLeft align-left  ">
                   <h3 class="big ae-5">
                    take responsibility for the success of historically underserved and minoritized student groups
                   </h3>
                  </li>
                </ul>
                <ul class="grid">
                  <li class="col-2-12 right ae-6 Above align-left">
                    <i class="far fa-check-circle h1 margin-right-1"></i>
                  </li>
                  <li class="col-10-12 ae-6 Above align-left">
                   <h3 class="big ae-6">
                     critically assess their own practices as educators and/or administrators.
                   </h3>
                  </li>
                </ul>
               </li>
               <li class="col-11-12">
                 <%= image_tag("graphics/mind-3.png", class:"wide ae-1 toLeft left")%>
               </li>
             </ul>
           </li>
          </ul>
       </div>
     </div>
  </section>

  <%= render "step3/sections/3/slide3" %>

 <!-- White Slide #01 -->
 <section class="slide  whiteSlide autoHeight">
   <div class="content">
     <div class="container">
       <div class="wrap">
         <ul class="flex center">
           <li class="col-12-12 left toCenter">
             <h1 class="big normal ae-1 p1-color margin-bottom-4 center"></h1>
             <h1 class="ae-1 center" style="font-family: 'Arial' !important; font-size: 40px; line-height: 48px;
             text-decoration: underline; text-decoration-color: #3BC0D1;">
               What is Equity-Mindedness?</h1>
            </li>
          </ul>
         <div class="fix-5-12">
           <%= image_tag("graphics/mind-0.png", class:"wide ae-1 fromCenter")%>
         </div>

         <%= link_to recap_3_path, class: "button big p3-bg ae-8" do %>
           Great Job! Let's Recap <i class="far fa-long-arrow-alt-right margin-left-1"></i>
         <% end %>

       </div>
     </div>
   </div>
 </section>





 <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
   <div class="sections desktop ">
     <div class="left">
       <span class="onTop" data-tooltip="Section Home">
         <span class="white button actionButton">
           <%= link_to title_3_path do %>
             <i class="far fa-home h4"></i>
           <% end %>
         </span>
       </span>
     </div>
     <div class="center opacity-3">
       <i class="fal fa-arrow-alt-left h2 no-margin"></i>
       <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
       <i class="fal fa-arrow-alt-right h2 no-margin"></i>
     </div>
     <div class="right">
       <span class="onTop" data-tooltip="Next Page">
         <span class="white button actionButton">
           <%= link_to s3_1_path do %>
             <i class="fal fa-check-circle h3"></i>
           <% end %>
         </span>
       </span>
     </div>
   </div>
 </nav>




</body>
