<ul class="flex fix-12-12 toCenter grid noSpaces margin-top-2">
  <li class="col-10-10">
    <div class="">
      <span class="bottom">
        <%= image_tag("emoji/animations/disinterested.gif", style: "height: 95px; margin-bottom: 0px;")%>
      </span>
      <span class="bottom">
        <%= image_tag("emoji/animations/interested.gif", style: "height: 130px; margin-bottom: 0px;")%>
      </span>
      <span class="bottom">
        <%= image_tag("emoji/animations/uncomfortable.gif", style: "height: 140px; margin-bottom: 0px;")%>
      </span>
      <span class="bottom">
        <%= image_tag("emoji/animations/worried.gif", style: "height: 100px; margin-bottom: 0px;")%>
      </span>
    </div>

    <div class="">
      <span class="top">
        <%= image_tag("emoji/animations/frustrated.gif", style: "height: 90px; margin-left: 30px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/angry.gif", style: "height: 125px; margin-right: -20px; margin-top: -20px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/excited.gif", style: "height: 170px; margin-left: 20px; margin-top: -40px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/neutral.gif", style: "height: 150px; margin-top: -20px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/disappointed.gif", style: "height: 120px; margin-left: 0px;")%>
      </span>
    </div>

    <div class="" style="">
      <span class="top">
        <%= image_tag("emoji/animations/tired.gif", style: "height: 100px; margin-right: 40px; margin-top: -40px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/scared.gif", style: "height: 115px; margin-left: -35px; margin-top: -40px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/confused.gif", style: "height: 140px; margin-left: -0px; margin-top: -40px;")%>
      </span>
      <span class="top">
        <%= image_tag("emoji/animations/happy.gif", style: "height: 105px;  margin-top: -30px; margin-left: 0px;")%>
      </span>
    </div>
  </li>
</ul>
