
<style media="screen">

.fade-7 .content {
  background: rgba(33, 101, 131, .95) !important;
}
.fade-1 .content {
  background: rgba(255, 255, 255, .25) !important;

}

  /* Colors by Google Meterial Design (C) */
  /* @include generateColors("red", $red);
  @include generateColors("pink", $pink);
  @include generateColors("purple", $purple);
  @include generateColors("deepPurple", $deepPurple);
  @include generateColors("indigo", $indigo);
  @include generateColors("blue", $blue);
  @include generateColors("cyan", $cyan);
  @include generateColors("teal", $teal);
  @include generateColors("green", $green);
  @include generateColors("lightGreen", $lightGreen);
  @include generateColors("lime", $lime);
  @include generateColors("yellow", $yellow, $default-button-color);
  @include generateColors("amber", $amber);
  @include generateColors("orange", $orange);
  @include generateColors("deepOrange", $deepOrange);
  @include generateColors("brown", $brown);
  @include generateColors("gray", $gray);
  @include generateColors("blueGray", $blueGray);
  @include generateColors("cueRed", $cueRed); */




</style>

<!-- Panel Bottom #09 -->
<nav class="panel bottom">
  <div class="sections">
    <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
  </div>
</nav>


<!-- Navigation -->
<nav class="side medium">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>

<%= render "pages/overview/s0" %>
<%= render "pages/overview/s1" %>
<%= render "pages/overview/s2" %>
<%= render "pages/overview/s3" %>
<%= render "pages/overview/s4" %>



<section class="slide fade-1 kenBurns autoplay" data-name="s1" data-title="s1" class="slider autoplay" data-slider-interval="1000" data-slider-id="unique-id">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-12-12 left">
          <h1 class="page-title margin-top-10 margin-bottom-10 ae-4 center fromLeftnunito">
            What is a Syllabus Review?
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
</section>
