
<body class="slides zoom noPreload animated ">

  <!-- Navigation -->
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>

    <section class="slide fade-8 kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap">
            <div class="fix-2-12 margin-bottom-5">
              <h4 class="ae-1 small uppercase letter-spacing-3 teal padding-1 rounded"><span class="">overview</span></h4>
            </div>
            <h1 class="huge semiBold margin-bottom-2 ae-2">What is a Syllabus Review?</h1>
            <p class="large ae-5 opacity-9">A brief introduction to the CUE Syllabus Review tool.</p>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap center">
            <div class="fix-9-12">
              <!-- <p class="ae-2 large opacity-7 margin-bottom-5">What is Syllabus Review?</p> -->
              <div class="col-12-12 ae-3 cell-100 rounded margin-bottom-2 done padding-5 teal shadow">
                <h1 class="large semiBold ae-7 fromLeftnunito">
                  The Syllabus Review tool is an <u class="medium">inquiry tool</u> for promoting racial and ethnic equity and <u class="medium">equity-minded</u> practice.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide fade-8 kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap">

            <div class="fix-12-12">

              <div class="fix-9-12 toLeft left">
                <h1 class="large ae-1">How does Syllabus Review work?</h1>
              </div>

              <ul class="grid margin-top-4">
                <li class="col-4-12 left ae-3">
                  <h2 class="small semiBold teal padding-2" style=" border-radius: 4px;">1. Inquiry</h2>
                </li>
                <li class="col-4-12 left ae-4">
                  <h2 class="small semiBold teal padding-2" style=" border-radius: 4px;">2. Self-assessment</h2>
                </li>
                <li class="col-4-12 left ae-5">
                  <h2 class="small semiBold teal padding-2" style=" border-radius: 4px;">3. Reflection</h2>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap top">

            <div class="fix-4-12">
              <%= image_tag("icons/1/PNG/26.png", class: "ae-8 width-80 shift-down-5")%>
              <h2 class="fromLeft small ae-1 padding-2 type-nunito bold teal uppercase shift-up-5" style="border-radius: 4px;">1. Inquiry</h2>
            </div>
            <div class="fix-12-12 margin-top-5">
              <h2 class="ae-10 cell-100 border padding-3">Promotes faculty inquiry into teaching approaches and practices that affect African American, Latinx, Native American, Pacific Islander, and other racially/ ethnically minoritized students;</h1>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap top">

            <div class="fix-6-12">
              <%= image_tag("icons/1/PNG/26.png", class: "ae-8 width-50 shift-down-5")%>
              <h2 class="ae-1 small padding-2 type-nunito bold teal uppercase" style=" border-radius: 4px;">2. self-assessment</h2>
            </div>
            <div class="fix-12-12 margin-top-5">
              <h2 class="ae-10 cell-100 border padding-3">Facilitates a self-assessment of these teaching approaches and practices from a racial/ethnic equity lens;</h2>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap top">

            <div class="fix-4-12">
              <%= image_tag("icons/1/PNG/26.png", class: "ae-8 width-80 shift-down-5")%>
              <h2 class="ae-1 small padding-2 type-nunito bold teal uppercase" style=" border-radius: 4px;">3. reflection</h2>
            </div>
            <div class="fix-12-12 margin-top-5">
              <h2 class="ae-10 cell-100 border padding-3">Allows faculty to consider changes that result in more equitable teaching approaches and practices.</h2>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content" style="background: rgba(34, 67, 95, .98);">
        <div class="container">
          <div class="wrap">

            <div class="fix-10-12 toCenter">
              <h2 class="ae-2 normal small margin-bottom-2">
                <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">Well Done.</span></h2>
                <h1 class="ae-3 huge">Great job! Let's move on.</h1>

            </div>
            <div class="fix-5-12 ae-5">
              <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>


      <section class="slide zoom kenBurns">
        <div class="content" style="background: rgba(59, 62, 83, .98);">
          <div class="container">
            <div class="wrap top left">
              <div class="fix-12-12 toCenter ae-3 margin-bottom-10">
                <h5 class="ae-1 small bold margin-bottom-1 uppercase underline padding-bottom-2 opacity-5">UP NEXT</h5>
                <!-- <h1 class="ae-1 normal">Section 4</h1> -->
                <!-- <p class="ae-2 margin-bottom-3"><span class="opacity-8">Each section is approximately 10-15 minutes.</span></p> -->
                <ul class="grid grid-74 later equal margin-top-2 center">
                  <li class="col-8-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromLeft padding-right-5">
                    <ul class="flex margin-bottom-2 left">
                      <li class="col-12-12">
                        <h1 class="large ae-3 left">How do you Feel?</h1>
                        <p class="normal p semiBold opacity-5 ae-5">Exploring reactions to racial equity</p>
                        <div class="margin-top-10 left">
                          <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">this Section</h5>
                        </div>
                        <p class="hero normal ae-5 opacity-9 left margin-top-3">
                          This section explains why syllabi matter and aligning content with equity-minded syllabi practices can support the goal of racial/ethnic equity.
                        </p>
                      </li>
                    </ul>
                    <div class="ae-2 left">
                      <%= link_to intro_1_path, class: "big button transparent ae-3
                     " do %>
                     Start Section <i class="fad fa-long-arrow-alt-right margin-left-2"></i>
                     <% end %>
                   </div>
                  </li>
                  <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-4 right fromLeft">
                    <div class="box-74 margin-top-10">
                      <div class="thumbnail-74 white margin-top-10 rounded" style="height: 275px;">
                        <%= image_tag("emoji/animations/excited.gif", class: "wide padding-2")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal">
                        <div class="cell left top">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
      </section>


    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to overview_title_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-5">
          <i class="fal fa-arrow-alt-up h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-down h2 no-margin"></i>

        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to title_1_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>




    <%#= render "overview/sections/s0" %>
    <%#= render "overview/sections/s1" %>
    <%#= render "overview/sections/s2" %>
    <%#= render "overview/sections/s3" %>
    <%#= render "overview/sections/s4" %>



</body>
