
<body class="slides zoom noPreload animated ">

  <!-- Navigation -->
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>



    <section class="slide zoom kenBurns">
      <div class="content" style="background: rgba(29, 68, 100, .97);">
        <div class="container">
          <div class="wrap top left">
            <div class="fix-12-12">

              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="uppercase semiBold margin-bottom-2 ae-2">
                  <span class="opacity-5 margin-left-1 text-white">Overview</span>
                </h5>
              </div>
              <ul class="flex margin-bottom-8 left">
                <li class="col-12-12">
                  <h1 class="ae-3 left">
                    What is a Syllabus Review?
                  </h1>
                  <p class="normal p semiBold opacity-5 ae-5">A brief introduction to the CUE Syllabus Review tool.</p>
                </li>
              </ul>

              <ul class="grid left">
                <li class="col-10-12">
                  <h5 class="fromLeft normal uppercase letter-spacing-2 margin-bottom-3 opacity-3 ae-4">
                    <i class="fas fa-search margin-right-1"></i> Defining Syllabus Review
                  </h5>
                  <h2 class=" ae-5 light fromLeft opacity-8">
                    The Syllabus Review tool is an <u class="medium text-yellow">inquiry tool</u> for promoting
                    racial and ethnic equity and <u class="medium text-yellow">equity-minded</u> practice.
                  </h2>
                 </li>
               </ul>

               <p class="hero semiBold margin-top-7 ae-5">
                Next, let's examine <span class="medium text-yellow">inquiry</span> as a tool.
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
    </section>

    <!-- inquiry tools -->
    <section class="slide zoom kenBurns">
      <div class="content" style="background: rgba(29, 68, 100, .97);">
        <div class="container">
          <div class="wrap top left">
            <div class="fix-12-12">

              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="uppercase semiBold margin-bottom-2 ae-2">
                  <span class="opacity-5 margin-left-1 text-white">OVERVIEW</span>
                </h5>
              </div>
              <ul class="flex margin-bottom-5 left">
                <li class="col-12-12">
                  <h2 class="ae-3 left">
                    CUE sees <span class="medium text-yellow">inquiry</span> as a powerful means of uncovering why existing practices may not meet intended objectives.
                  </h2>
                  <!-- <p class="normal p semiBold opacity-5 ae-5">A brief introduction to the CUE Syllabus Review tool.</p> -->
                </li>
              </ul>


               <ul class="grid fixedSpaces left margin-top-10">
                 <li class="col-6-12 ae-3">
                   <p class="lead semiBold ae-2 light fromLeft opacity-8 text-yellow">Specifically, inquiry helps identify:</p>
                   <ol class="ae-6 list decimal margin-left-2 margin-top-3 margin-bottom-3 flexs">
                     <li class="">
                       <p class="semiBold ae-4 left margin-top-2 opacity-9">Institutional practices that are supporting African American, Latina/o, Native American, and Asian students</p>
                     </li>
                     <hr class="opacity-2 margin-2"/>
                     <li class="">
                       <p class="semiBold ae-4 left margin-top-2 opacity-9">Institutional practices that are inadvertently contributing to or failing to address racial/ethnic inequities</p>

                     </li>
                     <hr class="opacity-2 margin-2"/>
                     <li class="">
                       <p class="semiBold ae-4 left margin-top-2 opacity-9">How practices could be modified, reconsidered, or replaced to increase equity</p>

                     </li>
                   </ol>
                 </li>
                 <li class="col-5-12 ae-3 float-right">
                   <p class="lead semiBold ae-2 light fromLeft opacity-8 text-yellow">Examples of CUE’s inquiry tools, which are designed to prompt
                     critical reflection on familiar instructional artifacts and practices, include:
                  </p>
                  <p class="small semiBold opacity-8 margin-top-2">
                      Equity-Minded Document/Syllabi Reviews; <br/>
                      Race-Conscious Observations of Classrooms and other campus spaces;<br/>
                      and Race-Conscious Mapping of student progression through area-specific and timeline directed milestones
                      (for example, classroom assignments and attendance or progression through the steps necessary for completing
                      financial aid paperwork).
                    </p>
                 </li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
    </section>

    <section class="slide zoom kenBurns">
      <div class="content" style="background: rgba(29, 68, 100, .97);">
        <div class="container">
          <div class="wrap top left">
            <div class="fix-12-12">

              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="uppercase semiBold margin-bottom-2 ae-2">
                  <span class="opacity-5 margin-left-1 text-white">OVERVIEW</span>
                </h5>
              </div>
              <ul class="flex margin-bottom-5 left">
                <li class="col-12-12">
                  <h1 class="ae-3 left">
                    How does Syllabus Review work?
                  </h1>
                  <p class="normal p semiBold opacity-5 ae-5">High-level Process</p>
                </li>
              </ul>


               <br/>
               <p class="hero semiBold left ae-1 margin-top-3"></p>
               <ul class="grid margin-top-4">
                 <li class="col-4-12 left ae-3">
                   <h3 class="uppercase teal padding-1 rounded padding-left-3">1. Inquiry</h3>
                   <p class="semiBold ae-10 cell-100 border padding-2 rounded left margin-top-2">Promotes faculty inquiry into teaching approaches and practices that affect African American, Latinx, Native American, Pacific Islander, and other racially/ ethnically minoritized students;</p>
                 </li>
                 <li class="col-4-12 left ae-4">
                   <h3 class="uppercase teal padding-1 rounded padding-left-3">2. Self-assessment</h3>
                   <p class="semiBold ae-10 cell-100 border padding-2 rounded left margin-top-2">Facilitates a self-assessment of these teaching approaches and practices from a racial/ethnic equity lens;</p>
                 </li>
                 <li class="col-4-12 left ae-5">
                   <h3 class="uppercase teal padding-1 rounded padding-left-3">3. Reflection</h3>
                   <p class="semiBold ae-10 cell-100 border padding-2 rounded left margin-top-2">Allows faculty to consider changes that result in more equitable teaching approaches and practices.</p>
                 </li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content" style="background: rgba(29, 68, 100, .97);">
        <div class="container">
          <div class="wrap">

            <div class="fix-12-12 toCenter">
              <h2 class="ae-2 normal small margin-bottom-2">
                <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
                <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>What is a Syllabus Review?</h1>

            </div>
            <div class="fix-5-12 ae-5">
              <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
            </div>


            <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
            <h3 class="ae-3 large semiBold">
              <%= link_to intro_1_path, class: "ae-10 center button big transparent" do %>
              How do you Feel?<i class="fad fa-long-arrow-alt-right margin-left-1"></i>
              <% end %>
            </h3>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
    </section>




      <section class="slide zoom kenBurns">
        <div class="content" style="background: rgba(29, 68, 100, .97);">
          <div class="container">
            <div class="wrap top left">
              <div class="fix-12-12 toCenter ae-3 margin-bottom-10">
                <h5 class="ae-1 small bold margin-bottom-1 uppercase underline padding-bottom-2 opacity-5">UP NEXT</h5>
                <!-- <h1 class="ae-1 normal">Section 4</h1> -->
                <!-- <p class="ae-2 margin-bottom-3"><span class="opacity-8">Each section is approximately 10-15 minutes.</span></p> -->
                <ul class="grid grid-74 later equal margin-top-2 center">
                  <li class="col-8-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromLeft padding-right-5">
                    <ul class="flex margin-bottom-2 left">
                      <li class="col-12-12">
                        <h1 class="large ae-3 left">How do you Feel?</h1>
                        <p class="normal p semiBold opacity-5 ae-5">Exploring reactions to racial equity</p>
                        <div class="margin-top-10 left">
                          <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">this Section</h5>
                        </div>
                        <p class="hero normal ae-5 opacity-9 left margin-top-3">
                          This section explains why syllabi matter and aligning content with equity-minded syllabi practices can support the goal of racial/ethnic equity.
                        </p>
                      </li>
                    </ul>
                    <div class="ae-2 left">
                      <%= link_to intro_1_path, class: "big button transparent ae-3
                     " do %>
                     Start Section <i class="fad fa-long-arrow-alt-right margin-left-2"></i>
                     <% end %>
                   </div>
                  </li>
                  <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-4 right fromLeft">
                    <div class="box-74 margin-top-10">
                      <div class="thumbnail-74 white margin-top-10 rounded" style="height: 275px;">
                        <%= image_tag("emoji/animations/excited.gif", class: "wide padding-2")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal">
                        <div class="cell left top">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
      </section>


    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to overview_title_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-5">
          <i class="fal fa-arrow-alt-up h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-down h2 no-margin"></i>

        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to title_1_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>




    <%#= render "overview/sections/s0" %>
    <%#= render "overview/sections/s1" %>
    <%#= render "overview/sections/s2" %>
    <%#= render "overview/sections/s3" %>
    <%#= render "overview/sections/s4" %>



</body>
