  <!-- <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },7000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

<body class="slides zoom horizontal noPreload animated ">

    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <h4 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-3">overview</span></h4>
            <h1 class="big margin-bottom-2 ae-2">What is a Syllabus Review?</h1>
            <p class="large ae-3 opacity-5">A brief introduction to the CUE Syllabus Review tool.</p>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>


    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap center">
            <div class="fix-9-12">
              <p class="ae-2 large opacity-7 margin-bottom-5">What is Syllabus Review?</p>
              <div class="col-12-12 ae-3 cell-100 rounded margin-bottom-2 done padding-5">
                <h1 class="large ae-4 fromLeftnunito">
                  An <u class="light">inquiry tool</u> for promoting racial/ethnic equity and <u class="light">equity-minded</u> practice.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>


    <!-- Slide #30 -->
    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-12-12">

              <div class="fix-9-12 toLeft left">
                <h1 class="large ae-1">How does Syllabus Review work?</h1>
              </div>

              <ul class="grid margin-top-4">
                <li class="col-4-12 left ae-3">
                  <h2 class="small semiBold teal padding-2" style=" border-radius: 4px;">1. Inquiry</h1>
                </li>
                <li class="col-4-12 left ae-4">
                  <h2 class="small semiBold teal padding-2" style=" border-radius: 4px;">2. Self-assessment</h1>
                </li>
                <li class="col-4-12 left ae-5">
                  <h2 class="small semiBold teal padding-2" style=" border-radius: 4px;">3. Reflection</h1>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-3-12">
              <h1 class="huge type-nunito bold teal" style=" border-radius: 4px;">1</h1>
              <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">Inquiry</span></h3>
            </div>
            <div class="fix-12-12">
              <h1 class="large thin ae-2">Promotes faculty inquiry into teaching approaches and practices that affect African American, Latinx, Native American, Pacific Islander, and other racially/ ethnically minoritized students;</h1>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-3-12">
              <h1 class="huge type-nunito bold teal" style=" border-radius: 4px;">2</h1>
              <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">self-assessment</span></h3>
            </div>
            <div class="fix-12-12">
              <h1 class="large thin ae-2">Facilitates a self-assessment of these teaching approaches and practices from a racial/ethnic equity lens;
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-3-12">
              <h1 class="huge type-nunito bold teal" style=" border-radius: 4px;">3</h1>
              <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">reflection</span></h3>
            </div>
            <div class="fix-12-12">
              <h1 class="large thin ae-2">Allows faculty to consider changes that result in more equitable teaching approaches and practices.
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>

    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-10-12 toCenter">
              <h2 class="ae-2 normal small margin-bottom-2">
                <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">Well Done.</span></h2>
              <h1 class="ae-3 large">Thank you for exploring the reactions you feel when conversations about racial
                  equity emerge.</h1>
              <%= link_to title_1_path, class: "button blue margin-top-5 ae-8" do %>
                <h3 class="large margin-bottom-0">Let's move on <i class="far fa-long-arrow-alt-right margin-left-1"></i></h2>
              <% end %>
            </div>
            <div class="fix-12-12 ae-5">
              <%= image_tag("emoji/animations/interested.gif", class: "ipad-36", style: "")%>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>


    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to overview_title_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-1">
          <i class="fal fa-arrow-alt-left h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-right h2 no-margin"></i>

        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to title_1_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>




</body>
