
<section class="slide fade-1 stack" data-name="page-1-green-tag" data-title="page-1-green-tag">
  <div class="content" style="background: #5DA5B1;">
    <div class="container">
      <div class="wrap">

        <div class="flex">
          <ul class="grid">
            <li class="col-5-12 left ae-1 fromRight">
              <h3 class="uppercase ae-5 center">Page</h3>
              <p class="small center">1 2 3 4</p>
              <div class="">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/center-placeholder.png")%>" alt="iPad Image"/>
                <a href="#page-1-yellow-tag">
                  <img class="" style="position: absolute; top: 50px; left: -50px;" width="96" data-action="" src="<%= image_url("graphics/sections/6/yellow-tag.png")%>" alt="iPad Image"/>
                </a>
                <a href="#page-1-green-tag">
                  <img class="" style="position: absolute; top: 300px; left: -50px;" width="96" data-action="" src="<%= image_url("graphics/sections/6/purple-tag.png")%>" alt="iPad Image"/>
                </a>
                <a href="#page-1-purple-tag">
                  <img class="" style="position: absolute; top: 120px; right: 20px;" width="96" data-action="" src="<%= image_url("graphics/sections/6/green-tag.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -40px; right: -30px;" width="185" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>


              </div>
            </li>
            <li class="col-4-12 left cell-32">
              <br/><br/><br/>
              <h1 class="huge display-1 ae-2 bold">Click on a tag</h1>
              <h2 class="huge display-1 ae-3 medium">To begin analyzing this syllabus</h2>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
