<!-- Slide #68 -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-9-12 toCenter">
          <h1 class="huge ae-1">HOW DOES IT MAKE YOU FEEL</h1>
          <h2 class="ae-1">TO TALK ABOUT RACIAL EQUITY?</h2>
          <!-- <p class="ae-2"><span class="opacity-8">Design is all around us, in our homes, in buildings, architecture, landscaping, products, movies, television, and much more.</span></p> -->

          <!-- remove class tintLogos class to disable color change of the logo images -->
          <ul class="flex grid-68 tintLogos equal equalMobile">
            <li class="col-3-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-3">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/expressionless-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-3-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-4">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/frowning-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-3-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-4">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/flushed-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-4">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/unamused-face.png")%>
                </a>
                </div>
              </div>
            </li>
          </ul>

          <ul class="flex grid-68 tintLogos equal equalMobile">
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-5">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/persevering-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-6">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/face-with-steam-from-nose.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-7">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/neutral-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-8">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/neutral-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-3">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/smiling-face-with-heart-eyes.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-4">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/sleeping-face.png")%>
                  </a>
                </div>
              </div>
            </li>
          </ul>


          <ul class="flex grid-68 tintLogos equal equalMobile">
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-5">
                <div class="cell">
                  <a href="#">
                    <%= image_tag("emoji/cue/disappointed-face.png")%>
                  </a>
                </div>
              </div>
            </li>
            <li class="col-4-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-6">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/grimacing-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-4-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-7">
                <div class="cell"><a href="#">
                  <%= image_tag("emoji/cue/thinking-face.png")%>
                </a>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
              <div class="table wide equalElement ae-8">
                  <%= image_tag("emoji/cue/anxious-face-with-sweat.png")%>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-68.jpg)"></div>
</section>
