<ul class="flex fix-12-12 toLeft grid noSpaces margin-top-10">
  <li class="col-6-10 left">
    <div class="margin-left-5">
      <span class="reveal-section top">
        <a href="/section/1/s1_2#disinterested" class="">
          <%= image_tag("emoji/animations/disinterested.gif", style: "height: 95px; margin-bottom: -150px;")%>
        </a>
      </span>
      <span class="reveal-section center">
        <a href="/section/1/s1_2#interested" class="">
          <%= image_tag("emoji/animations/interested.gif", style: "height: 130px; margin-bottom: -50px;")%>
        </a>
      </span>
      <span class="reveal-section center">
        <a href="/section/1/s1_2#uncomfortable" class="">
          <%= image_tag("emoji/animations/uncomfortable.gif", style: "height: 140px; margin-bottom: -40px;")%>
        </a>
      </span>
      <span class="reveal-section center">
        <a href="/section/1/s1_2#worried" class="">
          <%= image_tag("emoji/animations/worried.gif", style: "height: 100px; margin-bottom: -30px;")%>
        </a>
      </span>
    </div>

    <div class="">
      <span class="reveal-section center">
        <a href="/section/1/s1_2#frustrated" class="">
          <%= image_tag("emoji/animations/frustrated.gif", style: "height: 90px;")%>
        </a>
      </span>
      <span class="reveal-section top">
        <a href="/section/1/s1_2#angry" class="">
          <%= image_tag("emoji/animations/angry.gif", style: "height: 125px; margin-left: 0px; margin-top: 30px;")%>
        </a>
      </span>
      <span class="reveal-section top">
        <a href="/section/1/s1_2#excited" class="">
          <%= image_tag("emoji/animations/excited.gif", style: "height: 150px; margin-left: -30px margin-bottom: -55px;")%>
        </a>
      </span>
      <span class="reveal-section center">
        <a href="/section/1/s1_2#neutral" class="">
          <%= image_tag("emoji/animations/neutral.gif", style: "height: 150px; margin-left: -20px;")%>
        </a>
        <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/neutral.gif")%>)">
          <h1 class="huge semiBold margin-bottom-1 opacity-3">Neutral</h1>
        </div>
      </span>
      <span class="reveal-section center">
        <a href="/section/1/s1_2#disappointed" class="">
          <%= image_tag("emoji/animations/disappointed.gif", style: "height: 120px; margin-left: -20px;")%>
        </a>
        <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/disappointed.gif")%>)">
          <h1 class="huge semiBold margin-bottom-1 opacity-3">Disappointed</h1>
        </div>
      </span>
    </div>

    <div class="margin-left-5" style="margin-top: -65px;">
      <span class="reveal-section top">
        <a href="/section/1/s1_2#tired" class="">
          <%= image_tag("emoji/animations/tired.gif", style: "height: 135px; margin-top: 35px;")%>
        </a>
        <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/tired.gif")%>)">
          <h1 class="huge center semiBold margin-bottom-1 opacity-3">Tired</h1>
        </div>
      </span>

      <span class="reveal-section center">
        <a href="/section/1/s1_2#scared" class="">
          <%= image_tag("emoji/animations/scared.gif", style: "height: 115px; margin-left: -0px; margin-top: 30px;")%>
        </a>
        <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/scared.gif")%>)">
          <h1 class="huge center semiBold margin-bottom-1 opacity-3">Scared</h1>
        </div>
      </span>

      <span class="reveal-section top">
        <a href="/section/1/s1_2#confused" class="">
          <%= image_tag("emoji/animations/confused.gif", style: "height: 140px; margin-left: -0px; margin-top: 30px;")%>
        </a>
        <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/confused.gif")%>)">
          <h1 class="huge semiBold center margin-bottom-1 opacity-3">Confused</h1>
        </div>
      </span>

      <span class="reveal-section top">
        <a href="/section/1/s1_2#happy" class="">
          <%= image_tag("emoji/animations/happy.gif", style: "height: 105px;  margin-top: 40px; margin-left: -10px;")%>
        </a>
        <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/happy.gif")%>)">
          <h1 class="huge semiBold center margin-bottom-1 opacity-3">Happy</h1>
        </div>
      </span>
    </div>
  </li>
  <li class="col-5-10 right">
  </li>
</ul>
