<%= render "step1/css/s1_2" %>


<body class="slides noPreload animated">
  <%= render "shared/panels/top/nav_1" %>

  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>


    <section class="slide kenBurns">
      <div class="content" style="background: rgba(0, 105, 113, .96);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12 toCenter ae-3 margin-bottom-2">
              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">Section 1</h5>
              </div>
              <h1 class="large ae-3 left">How do you Feel?</h1>
              <p class="normal left semiBold opacity-5 ae-5">Exploring reactions to racial equity</p>

              <ul class="grid margin-top-10 left">
                <li class="col-8-12 left">
                  <div class="margin-top-10 left">
                    <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">learning outcome</h5>
                  </div>
                  <h2 class="small ae-3 left margin-top-3">
                    A greater understanding of, and comfort with, the emotions initially provoked by conversations about race and racism.
                  </h2>
                </li>
                <li class="col-4-12 float-right margin-top-8">
                  <div class="ae-3">
                    <%= image_tag("emoji/animations/excited.gif", class: "wide padding-2")%>
                  </div>
                </li>
              </ul>
              <p class="left semiBold opacity-5 lead ae-8"><i class="fal fa-mouse-alt margin-right-1"></i> Scroll down to begin</p>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-23.png")%>)"></div>
    </section>


    <section class="slide kenBurns">
    <div class="content" style="background: rgba(0, 105, 113, .96);">
      <div class="container">
        <div class="wrap center">

          <h1 class="ae-1">
            We'll use emojis to explore and better <br/>
             understand how we're feeling about racial equity.
          </h1>

          <%= render "step1/intro/emoji_group" %>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-23.png")%>)"></div>
  </section>

  <section class="slide kenBurns">
    w
      <div class="container">
        <div class="wrap padding-top-phablet-5">

          <div class="fix-12-12">
            <h1 class="left">A  quick example...</h1>
            <ul class="flex later">
              <li class="col-5-12 left ae-1  flex-slide-100">

                <div class="wrap-img-100" style="background-image: url(assets/img/image-100.jpg);">
                  <%= image_tag("emoji/animations/interested.gif", class: "center", style: "height: 450px; margin-bottom: 0px;")%>
                  <div class=""></div>
                  <div class="wrap-text-100">
                    <!-- <h1 class="ae-2">I'm feeling Disppointed</h1>
                    <h3 class="ae-3 margin-bottom-3">No matter how many times your amazing, absolutely brilliant work is rejected by the client, for whatever dopey</h3> -->
                  </div>
                </div>
              </li>
              <li class="col-7-12 left padding-left-3 padding-left-phablet-0 margin-top-phablet-3">
                <h2 class="ae-2 bold margin-bottom-3 opacity-8">I'm feeling Interested...</h2>
                <div class="ae-1 fromBottomLeft"><p class="small shadow opaque chat-bubble fade-6 hideOnScroll">I am curious to learn about practices and policies that negatively impact students of color.</p></div>
                <div class="ae-3 fromBottomLeft"><p class="small shadow opaque chat-bubble">I have never engaged in talks about racial equity but am interested to learn what it entails</p></div>
                <div class="ae-5 fromBottomLeft"><p class="small shadow opaque chat-bubble">I have been talking to students and noticing more that race is important</p></div>
                <div class="ae-7 fromBottomLeft"><p class="small shadow opaque chat-bubble">I’ve seen my disaggregated data and have some gaps. I want to do something but I don’t know what</p></div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-23.png")%>)"></div>
  </section>

  <section class="slide kenBurns">
    <div class="content" style="background: rgba(0, 105, 113, .96);">
      <div class="container">
        <div class="wrap center ">
          <div class="fix-12-12">
            <h1 class=" ae-1 left light">
              How does it make you feel<br/>to talk about racial equity?</h1>
            <h3 class="left big ae-2 semiBold opacity-5">Select an emoji to begin. <i class="fal fa-hand-pointer"></i></h3>
            <%= render "step1/intro/emoji_group_linked" %>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-23.png")%>)"></div>
  </section>


  <nav class="panel bottom small fixed">
    <div class="sections">
      <div class="left"></div>
      <div class="center">
        <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
      </div>
      <div class="right">

      </div>
    </div>
  </nav>

  <nav class="panel bottom small customPanel">
    <div class="sections">
      <div class="left">
        <ul class="menu small">
          <li tabindex="0" class="toFirstSlide hover-state">
            <%= link_to intro_2_path do %>
              <i class="far fa-home margin-right-1"></i>
              Section Home
            <% end %>
          </li>
        </ul>
    </div>
      <div class="right">
        <ul class="menu small">
          <li tabindex="0" class="toFirstSlide hover-state">
            <%= link_to s1_2_path do %>
              <i class="fal fa-check-circle margin-right-1"></i> Next Section
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--
  <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
    <div class="sections desktop ">
      <div class="left">
        <span class="onTop" data-tooltip="Section Home">
          <span class="white button actionButton">
            <%= link_to title_1_path do %>
              <i class="far fa-home h4"></i>
            <% end %>
          </span>
        </span>
      </div>
      <div class="center opacity-5">
        <i class="fal fa-arrow-alt-up h2 no-margin"></i>
        <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
        <i class="fal fa-arrow-alt-down h2 no-margin"></i>

      </div>
      <div class="right">
        <span class="onTop" data-tooltip="Next Page">
          <span class="white button actionButton">
            <%= link_to recap_1_path do %>
              <i class="fal fa-check-circle h3"></i>
            <% end %>
          </span>
        </span>
      </div>
    </div>
  </nav> -->






</body>
