

<body class="slides zoom noPreload animated">

  <nav class="panel top fixed">
    <!-- desktop version -->
    <div class="sections">
      <div class="left">
        <%= image_tag("logos/cue-white-logo.png", class: "", style:"height: 40px; width: auto;")%>
      </div>
      <div class="center">
        <ul class="menu">
          <li>
            <%#= link_to "EQMD", title_1_path, class: "bold" %>
          </li>
        </ul>
      </div>
      <div class="right"><span class="button actionButton white sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>

  <script>
    $(function(){
      $('.typeIn').each(function(){
        var $element = $(this),
            letters = $element.text().split(""),
            interval = 0.02;

        $element.empty();

        $.each(letters, function(i, letter){
          if (letter == " ") {
            letter = "&nbsp;"
          }
          $element.append('<span style="-webkit-transition-delay: ' + interval * i + 's; transition-delay: ' + interval * i+ 's; ">'+letter+'</span>')
        });
      });
    });
  </script>
  <style>
  .typeIn span {
    opacity: 0;
    display: inline-block;
    -webkit-transform: scale(1.2) translateY(-10px) !important;
    transform: scale(1.2) translateY(-10px) !important;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }

  .slide:not(.active) .typeIn span {
    transition-delay: 0s !important;
  }

  .page-loaded:not(.resizing) .slide.active .typeIn span {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
  }
  </style>

  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>



      <section class="slide kenBurns">
        <div class="content" style="background: rgba(130, 53, 89, .97);">
          <div class="container">
            <div class="wrap top">
              <div class="fix-12-12 toCenter ae-3 margin-bottom-2">
                <div class="margin-bottom-2 left underline ae-1">
                  <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">Section 1</h5>
                </div>
                <h2 class="ae-3 left">
                  Thank you for exploring the reactions you feel <br/>when conversations about racial equity emerge.
                </h2>
                <ul class="grid margin-top-10 margin-bottom-5 left">
                  <li class="col-6-12">
                    <p class="lead semiBold ae-4 left">
                      If you’re not there already, CUE’s goal is to help you feel comfortable and confident when talking about racial equity
                      and the ways in which race and racism exist in our and our students’ day-to-day lives.
                    </p>
                  </li>
                  <li class="col-6-12">
                    <div class="ae-3">
                      <p class="lead semiBold ae-4 left">
                        Our goal is to also provide you with language and tools that will help you make sense of your classroom dynamics in a
                        race-conscious way. In this module we’ll focus on reflecting on your syllabus and identifying the ways
                        it already serves students from minoritized racial/ethnic groups and also could be better leveraged to do so in
                        equity-minded ways.
                      </p>
                    </div>
                  </li>
                </ul>
                <br/><br/><br/>
                <hr/>
                <h2 class="small ae-1 left inline-block float-left margin-top-1">
                  To start, we encourage you to explore the following prompts...
                </h2>
                <div class="float-right">
                  <a href="#prompt-1" class="ae-10 button transparent right">
                    Prompt #1 <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
      </section>

      <section class="slide" data-name="prompt-1" data-title="Prompt 1">
        <div class="content" style="background: rgba(130, 53, 89, .97);">
          <div class="container">
            <div class="wrap left">
              <div class="fix-9-12 toCenter">
                <h5 class="uppercase semiBold p2-color margin-bottom-3 ae-10 underline padding-bottom-2">
                  <i class="far fa-stopwatch"></i> 1-minute reflection
                </h5>
                <h1 class="typeIn">What life experiences have contributed to yourreaction when conversations about racial &nbsp; &nbsp; &nbsp; &nbsp; equity emerge?</h1>
                <div class="opacity-8"><p class="hero opaque typeIn ae-10"></p></div>
                <a href="#prompt-2" class="ae-10 center button big transparent margin-top-5">
                  Prompt #2 <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
      </section>

      <section class="slide" data-name="prompt-2" data-title="Prompt 2">
        <div class="content" style="background: rgba(130, 53, 89, .97);">
          <div class="container">
            <div class="wrap left">
              <div class="fix-9-12 toCenter">
                <h5 class="uppercase semiBold p2-color margin-bottom-3 ae-10 underline padding-bottom-2">
                  <i class="far fa-stopwatch"></i> 1-minute reflection
                </h5>
                <h1 class="typeIn">Do you think that your peers have similar or &nbsp; &nbsp;different reactions when conversations about &nbsp; &nbsp;racial equity emerge? If different, what do you think contributes to this difference?</h1>
                <div class="opacity-8"><p class="hero opaque typeIn ae-10"></p></div>
                <a href="#prompt-3" class="ae-10 center button big transparent margin-top-5">
                  Prompt #3 <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
      </section>

      <section class="slide" data-name="prompt-3" data-title="Prompt 3">
        <div class="content" style="background: rgba(130, 53, 89, .97);">
          <div class="container">
            <div class="wrap left">
              <div class="fix-9-12 toCenter">
                <h5 class="uppercase semiBold p2-color margin-bottom-3 ae-10 underline padding-bottom-2">
                  <i class="far fa-stopwatch"></i> 1-minute reflection
                </h5>
                <h1 class="typeIn">In an ideal future, what reaction would you liketo have when conversations about racial equityemerge?</h1>
                <div class="opacity-8"><p class="hero opaque typeIn ae-10"></p></div>

              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
      </section>


        <section class="slide kenBurns">
          <div class="content" style="background: rgba(34, 67, 95, .97);">
            <div class="container">
              <div class="wrap">

                <div class="fix-12-12 toCenter">
                  <h2 class="ae-2 normal small margin-bottom-2">
                    <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
                    <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>Thoughts and Reflections</h1>

                </div>
                <div class="fix-5-12 ae-5">
                  <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
                </div>


                <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
                <h3 class="ae-3 large semiBold">
                  <a class="nextSlide ae-10 center button big transparent">
                    Learning Summary <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                  </a>
                </h3>

              </div>
            </div>
          </div>
          <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
        </section>



<section class="slide kenBurns">
    <div class="content" style="background: rgba(59, 62, 83, .98);">
      <div class="container">
        <div class="wrap top">
          <div class="fix-12-12 toCenter">
            <div class="margin-bottom-2 left underline">
              <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">Section 1</h5>
            </div>
            <ul class="flex margin-bottom-10 left">
              <li class="col-12-12">
                <h2 class="ae-3 left">
                  Learning Summary
                </h2>
                <p class="normal p semiBold opacity-5 ae-5">What did we learn in this section?</p>
              </li>
            </ul>
            <ul class="grid fixedSpaces left">
              <li class="col-4-12 ae-3">
                <div class="col-12-12 ae-2 equalElement verticalCenter">
                  <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">1.</h5>
                  <h3 class="big">A range of emotions is normal <br/>and expected.</h3>
                  <p class="tight semiBold ae-4 left margin-top-2 opacity-5">There are a range of emotions people feel when discussing race and racism.</p>
                </div>
              </li>
              <li class="col-4-12 ae-4">
                <div class="col-12-12 ae-2 equalElement verticalCenter">
                  <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">2.</h5>
                  <h3 class="big">Observing and naming your <br/>emotions is important.</h3>
                  <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                  It’s important to identify and name the emotions you feel when conversations about race and racism occur.</p>
                </div>
              </li>
              <li class="col-4-12 ae-6">
                <div class="col-12-12 ae-2 equalElement verticalCenter">
                  <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">3.</h5>
                  <h3 class="big">Knowing how you want to feel and working progressively.</h3>
                  <p class="tight semiBold ae-4 left margin-top-2 opacity-5">We encourage you to identify the emotions you’d like to feel when conversations about race and racism emerge and to work towards that emotional goal.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>

  <section class="slide zoom kenBurns">
    <div class="content" style="background: rgba(59, 62, 83, .98);">
      <div class="container">
        <div class="wrap top left">
          <div class="fix-12-12 toCenter ae-3 margin-bottom-10">
            <h5 class="ae-1 small bold margin-bottom-1 uppercase underline padding-bottom-2 opacity-5">UP NEXT</h5>
            <!-- <h1 class="ae-1 normal">Section 4</h1> -->
            <!-- <p class="ae-2 margin-bottom-3"><span class="opacity-8">Each section is approximately 10-15 minutes.</span></p> -->
            <ul class="grid grid-74 later equal margin-top-2 center">
              <li class="col-8-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromLeft padding-right-5">
                <ul class="flex margin-bottom-2 left">
                  <li class="col-12-12">
                    <h1 class="large ae-3 left">Why do Syllabi Matter?</h1>
                    <p class="normal p semiBold opacity-5 ae-5">Leveraging syllabi to support racial equity</p>
                    <div class="margin-top-10 left">
                      <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">Section 2 / 5</h5>
                    </div>
                    <p class="hero normal ae-5 opacity-9 left margin-top-3">
                      This section explains why syllabi matters and aligning content with equity-minded syllabi practices can support the goal of racial/ethnic equity.
                    </p>
                  </li>
                </ul>
                <div class="ae-2 left">
                  <%= link_to intro_2_path, class: "big button transparent ae-3
                 " do %>
                 Next Section <i class="fad fa-long-arrow-alt-right margin-left-2"></i>
                 <% end %>
               </div>
              </li>
              <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-4 right fromLeft">
                <div class="box-74 margin-top-10">
                  <div class="thumbnail-74 white margin-top-10 rounded" style="height: 275px;">
                    <%= image_tag("graphics/syllabus.svg", class: "wide padding-3")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>


  <nav class="panel bottom small fixed">
    <div class="sections">
      <div class="left"></div>
      <div class="center">
        <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
      </div>
      <div class="right">

      </div>
    </div>
  </nav>

  <nav class="panel bottom small customPanel">
    <div class="sections">
      <div class="left">
        <ul class="menu small">
          <li tabindex="0" class="toFirstSlide hover-state">
            <%= link_to "Section Intro", intro_2_path %>
          </li>
        </ul>
    </div>
      <div class="right">
        <ul class="menu small">
          <li tabindex="0" class="toFirstSlide hover-state">
            <%= link_to "Next Section", intro_3_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>
