<body class="slides zoom horizontal noPreload animated ">

  <!-- Slide #90 -->
  <section class="slide fade-6 kenBurns bg-softpink">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <p class="margin-bottom-2 ae-1"><span class="opacity-6">Case study</span></p>
            <h1 class="huge ae-1">Are you feeling <span class="typed"></span>?</h1>
          </div>
          <div class="fix-10-12 margin-top-7 toCenter center">
            <ul class="flex fixedSpaces later center">
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#neutral" class="button rounded empty margin-bottom-2 ae-4">
                  <%= image_tag("emoji/neutral-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-4">Neutral</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#uncomfortable" class="button rounded empty margin-bottom-2 ae-4">
                  <%= image_tag("emoji/uncomfortable-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-5">Uncomfortable</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#disinterested" class="button rounded empty margin-bottom-2 ae-5">
                  <%= image_tag("emoji/disinterested-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-6">Disinterested</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#frustrated" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/frustrated-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Frustrated</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#disappointed" class="button rounded empty margin-bottom-2 ae-5">
                  <%= image_tag("emoji/disappointed-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-6">Disappointed</h3>
              </li>
            </ul>
            <ul class="flex fixedSpaces later left">
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2##angry" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/mad-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Angry</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#annoyed" class="button rounded empty margin-bottom-2 ae-5">
                  <%= image_tag("emoji/annoyed-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-6">Annoyed</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#excited" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/excited-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Excited</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#angry" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/mad-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Angry</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#happy" class="button rounded empty margin-bottom-2 ae-5">
                  <%= image_tag("emoji/love-it-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-6">Happy</h3>
              </li>
            </ul>
            <ul class="flex fixedSpaces later left">
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#afraid" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/afraid-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Afraid</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#confused" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/confused-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Confused</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#worried" class="button rounded empty margin-bottom-2 ae-5">
                  <%= image_tag("emoji/worried-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-6">Worried</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#interested" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/interested-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Interested</h3>
              </li>
              <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
                <a href="/section/1/s1_2#disinterested" class="button rounded empty margin-bottom-2 ae-6">
                  <%= image_tag("emoji/disinterested-emoji.png", class: "wide")%>
                </a>
                <h3 class="ae-7">Disinterested</h3>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div id="cover"class="background" style="background-image:url()"></div>
  </section>

</body>
