<style media="screen">

.reveal-section > .reveal {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

.reveal-section:hover > .reveal {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}


</style>

<body class="slides zoom horizontal noPreload animated ">


  <!-- Slide 1 (#72) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <div class="fix-7-12 toLeft">
              <div class="ae-5 fromRight"><p class="opacity-6 margin-bottom-1">Section II</p></div>
              <h1 class="huge ae-1 margin-bottom-3">We explore do syllabi have to do with racial/ethnic equity?</h1>
              <a href="#" class="button blue gradient ae-2 crop">Start free trial</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-72.jpg)"></div>
  </section>

  <!-- Slide 2 (#74) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h1 class="ae-1">Simply Complicated</h1>
            <p class="ae-2"><span class="opacity-8">Creativity often consists of merely turning up what is already there. Did you know that right and left shoes were thought up only a little more than a century ago?</span></p>
          </div>
          <div class="fix-12-12">
            <ul class="grid grid-74 later equal margin-top-5">
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <img src="assets/img/gallery-74-1.jpg" class="wide" alt="Thumbnail"/>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">Inspiration</h3>
                      <p class="tiny opacity-6 cropBottom">Creativity is allowing yourself to make&nbsp;mistakes.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <img src="assets/img/gallery-74-2.jpg" class="wide" alt="Thumbnail"/>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">The Moment</h3>
                      <p class="tiny opacity-6 cropBottom">A person tends to critique a design in one of several&nbsp;ways.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <img src="assets/img/gallery-74-3.jpg" class="wide" alt="Thumbnail"/>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">Journey</h3>
                      <p class="tiny opacity-6 cropBottom">More designers should share space, share&nbsp;resources.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <img src="assets/img/gallery-74-4.jpg" class="wide" alt="Thumbnail"/>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">Colorado</h3>
                      <p class="tiny opacity-6 cropBottom">An essential aspect of creativity is not being afraid to&nbsp;fail.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-74.jpg)"></div>
  </section>


  <!-- Popup Video -->
  <div class="popup autoplay" data-popup-id="86-2">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-10-12">
            <div class="embedVideo popupContent">
              <iframe src="https://www.youtube.com/embed/g8yBqxTiHSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Slide 4 (#99) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap padding-top-phablet-5">

          <div class="fix-12-12 ae-1">
            <div class="swiper-container-4">
              <div class="swiper-wrapper">
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img1-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">Vacation locations of the year 2018 not to be missed</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>13 Sep 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img2-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">A yellow dreamscape totally hidden from reality</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>20 Dec 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img3-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">Loving the nature aesthetic of our favorite movies</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>08 Mar 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img4-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">Plan to visit 12 amazing national parks in 12 months</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>27 Jun 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img1-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">Vacation locations of the year 2018 not to be missed</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>13 Sep 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img2-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">A yellow dreamscape totally hidden from reality</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>20 Dec 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img3-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">Loving the nature aesthetic of our favorite movies</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>08 Mar 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
                <a href="#" class="box-99 swiper-slide cursorGrab">
                  <div class="thumbnail-99 disableSelect">
                    <img src="assets/img/img4-99.png" alt="Picture" class="wide"/>
                    <p class="title-slide-99">Plan to visit 12 amazing national parks in 12 months</p>
                    <p class="date-slide-99"><img src="assets/img/time.png"><span>27 Jun 2018</span></p>
                    <div class="blackout-sl-4"></div>
                  </div>
                </a>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination ae-3"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-99.jpg)"></div>
  </section>


  <!-- Slide 5 (#97) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap padding-top-phablet-5">

          <div class="fix-10-12 toCenter">
            <h1 class="ae-1">Upcoming Shows</h1>
            <p class="ae-2 margin-bottom-3"><span class="opacity-8">Shop deals on amazing live events nesr you.</span></p>
          </div>
          <div class="fix-12-12">
            <div class="frame-97 ae-3 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">23</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Soular Order - Altitude</span>
                <span class="regular dislocation">Atlanta, GA</span>
                <a href="#" class="button green gradient button-buy-97">Tickets</a>
              </h2>
            </div>
            <div class="frame-97 ae-4 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">24</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Vinoy Park</span>
                <span class="regular dislocation">Cristalhaven</span>
                <a href="#" class="button green gradient button-buy-97">Tickets</a>
              </h2>
            </div>
            <div class="frame-97 ae-5 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">26</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Buckridgebury</span>
                <span class="regular dislocation">North Eloisa</span>
                <a href="#" class="button green gradient button-buy-97">Tickets</a>
              </h2>
            </div>
            <div class="frame-97 ae-6 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">28</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Lake Brennonchester</span>
                <span class="regular dislocation">Lake Marinaview</span>
                <a href="#" class="button thin-stroke text-white button-buy-97">Sold Out!</a>
              </h2>
            </div>
            <div class="frame-97 ae-7 padding-bottom-3 margin-top-2 opacity-6">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">30</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">West Keaganstad</span>
                <span class="regular dislocation">South Austen</span>
                <a href="#" class="button thin-stroke text-white button-buy-97">Cancelled</a>
              </h2>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-97.jpg)"></div>
  </section>


  <!-- Slide 6 (#37) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-8-12">
            <h1 class="huge thin ae-2">It's not just what it looks like and feels like. It&rsquo;s how it&nbsp;works.</h1>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-37.jpg)"></div>
  </section>

  <!-- Slide 7 (#23) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <h2 class="ae-1 small light margin-bottom-3"><span class="opacity-6">Travel Journal</span></h2>
          <h1 class="big cropBottom ae-2">Mars Exploration</h1>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-23.jpg)"></div>
  </section>



  <section class="slide fade-6 kenBurns bg-softpink">
    <div class="content">
      <div class="container">
        <div class="wrap top">
          <h6 class="subtitle left ae-1"> Section 1</h6>

          <div class="section-title left margin-bottom-8 ae-2" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
            <h2 class=""> How do you feel?</h2>
          </div>

          <ul class="flex 12-12">
            <li class="col-7-12">
              <ul class="flex 10-10 toCenter middle emojis">
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#neutral" class="trigger margin-bottom-2 ae-4">
                    <%= image_tag("emoji/neutral-emoji.png", class: "wide")%>
                  </a>
                  <div class="reveal emoji-bg" style="background-image:url(<%= image_url("emoji/animations/neutral.gif")%>)">
                    <h3 class="center subtitle">neutral</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#uncomfortable" class="trigger margin-bottom-2 ae-4">
                    <%= image_tag("emoji/uncomfortable-emoji.png", class: "wide")%>
                  </a>
                  <div class="reveal emoji-bg" style="background-image:url(<%= image_url("emoji/animations/worried.gif")%>)">
                    <h3 class="center subtitle type-nunito">uncomfortable</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#disinterested" class="trigger margin-bottom-2 ae-5">
                    <%= image_tag("emoji/disinterested-emoji.png", class: "wide")%>
                  </a>
                  <div class="reveal emoji-bg" style="background-image:url(<%= image_url("emoji/animations/uninterested.gif")%>)">
                    <h3 class="center subtitle type-nunito">disinterested</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#frustrated" class="trigger margin-bottom-2 ae-6">
                    <%= image_tag("emoji/frustrated-emoji.png", class: "wide")%>
                  </a>
                  <div class="reveal emoji-bg" style="background-image:url(<%= image_url("emoji/animations/frustrated.gif")%>)">
                    <h3 class="center subtitle type-nunito">frustrated</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#disinterested" class="trigger margin-bottom-2 ae-5">
                    <%= image_tag("emoji/disinterested-emoji.png", class: "wide")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/neutral.gif")%>)">
                    <h3 class="center subtitle">disinterested</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#angry" class="trigger margin-bottom-2 ae-6">
                    <%= image_tag("emoji/mad-emoji.png", class: "wide")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/angry.gif")%>)">
                    <h3 class="center subtitle type-nunito">angry</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#annoyed" class="trigger margin-bottom-2 ae-5">
                    <%= image_tag("emoji/annoyed-emoji.png", class: "wide")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/annoyed.gif")%>)">
                    <h3 class="center subtitle type-nunito">annoyed</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#excited" class="trigger margin-bottom-2 ae-6">
                    <%= image_tag("emoji/excited-emoji.png", class: "wide")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/excited.gif")%>)">
                    <h3 class="center subtitle type-nunito">excited</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#happy" class="trigger margin-bottom-2 ae-5">
                    <%= image_tag("emoji/love-it-emoji.png", class: "wide")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/happy.gif")%>)">
                    <h3 class="center subtitle type-nunito">happy</h3>
                  </div>
                </li>
                <li class="col-2-10 col-tablet-1-2 col-phone-1-1 reveal-section">
                  <a href="/section/1/s1_2#afraid" class="trigger margin-bottom-2 ae-6">
                    <%= image_tag("emoji/afraid-emoji.png", class: "wide")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/neutral.gif")%>)">
                    <h3 class="center subtitle type-nunito">afraid</h3>
                  </div>
                </li>
              </ul>
            </li>
            <li class="col-6-12">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>


  <%= render "step1/navigation/nav" %>
