<style media="screen">

.reveal-section > .reveal {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

.reveal-section:hover > .reveal {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}


</style>

<body class="slides zoom horizontal noPreload animated">



  <section class="slide kenBurns teal">
    <div class="content">
      <div class="container">
        <div class="wrap top">
          <h6 class="subtitle left ae-1"> Section 1</h6>

          <div class="section-title left margin-bottom-8 ae-2" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
            <h2 class=""> How do you feel?</h2>
          </div>

          <ul class="flex fix-11-12 toLeft">
            <li class="col-2-10">
              <a href="/section/1/s1_2#frustrated" class="">
                <%= image_tag("emoji/animations/frustrated.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#worried" class="">
                <%= image_tag("emoji/animations/worried.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#disappointed" class="">
                <%= image_tag("emoji/animations/disappointed.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#excited" class="">
                <%= image_tag("emoji/animations/excited.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#happy" class="">
                <%= image_tag("emoji/animations/happy.gif")%>
              </a>
            </li>
            <li class="col-3-10">
              <a href="/section/1/s1_2#interested" class="">
                <%= image_tag("emoji/animations/interested.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#scared" class="">
                <%= image_tag("emoji/animations/scared.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#confused" class="">
                <%= image_tag("emoji/animations/confused.gif")%>
              </a>
            </li>
            <li class="col-3-10">
              <a href="/section/1/s1_2#angry" class="">
                <%= image_tag("emoji/animations/angry.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#tired" class="">
                <%= image_tag("emoji/animations/tired.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#uncomfortable" class="">
                <%= image_tag("emoji/animations/uncomfortable.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#neutral" class="">
                <%= image_tag("emoji/animations/neutral.gif")%>
              </a>
            </li>
            <li class="col-2-10">
              <a href="/section/1/s1_2#disinterested" class="">
                <%= image_tag("emoji/animations/disinterested.gif")%>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url('<%= image_url("backgrounds/purple.png")%>'); backgroud-position: contain;"></div>

  </section>

</body>
