<style media="screen">


  .emoji-bg {
   width: 650px;
   height: 650px;
   opacity: 0;
   position: absolute;
   right: 10%;
   bottom: 7.5%;
   background-size: contain;
  }

  .emoji-bg .title {
   position: absolute;
   top: 5%;
   left: 40%;
   text-transform: uppercase;
   margin-bottom: 50px;

  }

.reveal-section > .reveal {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

.reveal-section:hover > .reveal {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}




</style>

<body class="slides zoom horizontal noPreload animated">
  <section class="slide kenBurns whiteSlide">
    <div class="content"  style="background: #DDFBFF;">
      <div class="container">
        <div class="wrap">

          <!-- <h1 class="left big margin-bottom-8 ae-2 bold text-cueRed"> How does it feel to talk about racial equity?</h1> -->
          <h1 class="big ae-1 left normal" style="
          text-decoration: underline; text-decoration-color: #3BC0D1;">
            How does it make you feel<br/>to talk about racial equity?</h1>
          <ul class="flex fix-12-12 toLeft grid noSpaces margin-top-10">
            <li class="col-10-10 left">
              <div class="margin-left-3">
                <span class="reveal-section">
                  <a href="/section/1/s1_2#disinterested" class="">
                    <%= image_tag("emoji/animations/disinterested.gif", style: "height: 95px; margin-bottom: -50px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/disinterested.gif")%>)">
                    <h1 class="center subtitle">Disinterested</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#interested" class="">
                    <%= image_tag("emoji/animations/interested.gif", style: "height: 130px; margin-bottom: -50px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/interested.gif")%>)">
                    <h1 class="center subtitle">Interested</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#uncomfortable" class="">
                    <%= image_tag("emoji/animations/uncomfortable.gif", style: "height: 140px; margin-bottom: -40px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/uncomfortable.gif")%>)">
                    <h1 class="center subtitle">Uncomfortable</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#worried" class="">
                    <%= image_tag("emoji/animations/worried.gif", style: "height: 120px; margin-bottom: -30px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/worried.gif")%>)">
                    <h1 class="center subtitle">Worried</h1>
                  </div>
                </span>
              </div>

              <div class="">
                <span class="reveal-section">
                  <a href="/section/1/s1_2#frustrated" class="">
                    <%= image_tag("emoji/animations/frustrated.gif", style: "height: 90px;")%>
                  </a>
                  <div class="emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/frustrated.gif")%>)">
                    <h1 class="center subtitle">Frustrated</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#angry" class="">
                    <%= image_tag("emoji/animations/angry.gif", style: "height: 115px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/angry.gif")%>)">
                    <h1 class="center subtitle">Angry</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#excited" class="">
                    <%= image_tag("emoji/animations/excited.gif", style: "height: 150px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/excited.gif")%>)">
                    <h1 class="center subtitle">Excited</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#neutral" class="">
                    <%= image_tag("emoji/animations/neutral.gif", style: "height: 150px; margin-left: -20px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/neutral.gif")%>)">
                    <h1 class="center subtitle">Neutral</h1>
                  </div>
                </span>
                <span class="reveal-section">
                  <a href="/section/1/s1_2#disappointed" class="">
                    <%= image_tag("emoji/animations/disappointed.gif", style: "height: 120px; margin-left: -20px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/disappointed.gif")%>)">
                    <h1 class="center subtitle">Disappointed</h1>
                  </div>
                </span>
              </div>

              <div class="margin-left-5">
                <span class="reveal-section">
                  <a href="/section/1/s1_2#tired" class="">
                    <%= image_tag("emoji/animations/tired.gif", style: "height: 90px; margin-top: -10px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/tired.gif")%>)">
                    <h1 class="center subtitle">Tired</h1>
                  </div>
                </span>

                <span class="reveal-section">
                  <a href="/section/1/s1_2#scared" class="">
                    <%= image_tag("emoji/animations/scared.gif", style: "height: 125px; margin-top: -150px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/scared.gif")%>)">
                    <h1 class="center subtitle">Scared</h1>
                  </div>
                </span>

                <span class="reveal-section">
                  <a href="/section/1/s1_2#confused" class="">
                    <%= image_tag("emoji/animations/confused.gif", style: "height: 126px; margin-top: -50px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/confused.gif")%>)">
                    <h1 class="center subtitle">Confused</h1>
                  </div>
                </span>

                <span class="reveal-section">
                  <a href="/section/1/s1_2#happy" class="">
                    <%= image_tag("emoji/animations/happy.gif", style: "height: 145px; margin-top: -40px;")%>
                  </a>
                  <div class=" emoji-bg reveal" style="background-image:url(<%= image_url("emoji/animations/happy.gif")%>)">
                    <h1 class="center subtitle">Happy</h1>
                  </div>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url('<%= image_url("backgrounds/purple.png")%>'); backgroud-position: contain;"></div>

  </section>

</body>
