
<%= render "step1/css/s1_2" %>

<body class="slides scroll noPreload animated ">

  <nav class="panel top fixed">
    <!-- desktop version -->
    <div class="sections">
      <div class="left">
        <%= image_tag("logos/cue-white-logo.png", class: "", style:"height: 40px; width: auto;")%>
      </div>
      <div class="center">
        <ul class="menu">
          <li>
            <%= render "step1/navigation/emoji_menu" %>
          </li>
        </ul>
      </div>
      <div class="right"><span class="button actionButton white sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>

  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>


  <%= render "step1/sections/frustration" %>
  <%= render "step1/sections/worried" %>
  <%= render "step1/sections/disappointed" %>
  <%= render "step1/sections/excited" %>
  <%= render "step1/sections/happy" %>
  <%= render "step1/sections/interested" %>
  <%= render "step1/sections/scared" %>
  <%= render "step1/sections/confused" %>
  <%= render "step1/sections/angry" %>
  <%= render "step1/sections/tired" %>
  <%= render "step1/sections/uncomfortable" %>
  <%= render "step1/sections/neutral" %>
  <%= render "step1/sections/disinterested" %>


    <section class="slide kenBurns">
      <div class="content" style="background: rgba(182, 81, 77, .95);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12 toCenter ae-3 margin-bottom-2">
              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">Section 1</h5>
              </div>
              <h2 class="ae-3 left">
                Thank you for exploring the reactions you feel <br/>when conversations about racial equity emerge.
              </h2>
              <ul class="grid margin-top-10 margin-bottom-5 left">
                <li class="col-6-12">
                  <p class="lead semiBold ae-4 left">
                    If you’re not there already, CUE’s goal is to help you feel comfortable and confident when talking about racial equity
                    and the ways in which race and racism exist in our and our students’ day-to-day lives.
                  </p>
                </li>
                <li class="col-6-12">
                  <div class="ae-3">
                    <p class="lead semiBold ae-4 left">
                      Our goal is to also provide you with language and tools that will help you make sense of your classroom dynamics in a
                      race-conscious way. In this module we’ll focus on reflecting on your syllabus and identifying the ways
                      it already serves students from minoritized racial/ethnic groups and also could be better leveraged to do so in
                      equity-minded ways.
                    </p>
                  </div>
                </li>
              </ul>
              <br/><br/><br/>
              <hr/>
              <h2 class="small ae-1 left inline-block float-left margin-top-1">
                To start, we encourage you to explore the following prompts...
              </h2>
              <div class="float-right">
                <a href="#prompt-2" class="ae-10 button transparent right">
                  Prompt #1 <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide" data-name="prompt-1" data-title="Prompt 1">
      <div class="content" style="background: rgba(182, 81, 77, .95);">
        <div class="container">
          <div class="wrap left">
            <div class="fix-9-12 toCenter">
              <h5 class="uppercase semiBold p2-color margin-bottom-3 ae-10 underline padding-bottom-2">
                <i class="far fa-stopwatch"></i> 1-minute reflection
              </h5>
              <h1 class="typeIn">What life experiences have contributed to &nbsp; &nbsp; &nbsp; &nbsp;reactions you feel when conversations about &nbsp; &nbsp;racial equity emerge?</h1>
              <div class="opacity-8"><p class="hero opaque typeIn ae-10"></p></div>
              <a href="#prompt-2" class="ae-10 center button big transparent margin-top-5">
                Prompt #2 <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide" data-name="prompt-2" data-title="Prompt 2">
      <div class="content" style="background: rgba(182, 81, 77, .95);">
        <div class="container">
          <div class="wrap left">
            <div class="fix-9-12 toCenter">
              <h5 class="uppercase semiBold p2-color margin-bottom-3 ae-10 underline padding-bottom-2">
                <i class="far fa-stopwatch"></i> 1-minute reflection
              </h5>
              <h1 class="typeIn">Do you think that your peers have similar or &nbsp; &nbsp;different reactions when conversations about &nbsp; &nbsp;racial equity emerge? If different, what do you think contributes to this difference?</h1>
              <div class="opacity-8"><p class="hero opaque typeIn ae-10"></p></div>
              <a href="#prompt-2" class="ae-10 center button big transparent margin-top-5">
                Prompt #3 <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide" data-name="prompt-3" data-title="Prompt 3">
      <div class="content" style="background: rgba(182, 81, 77, .95);">
        <div class="container">
          <div class="wrap left">
            <div class="fix-9-12 toCenter">
              <h5 class="uppercase semiBold p2-color margin-bottom-3 ae-10 underline padding-bottom-2">
                <i class="far fa-stopwatch"></i> 1-minute reflection
              </h5>
              <h1 class="typeIn">In an ideal future, what reaction would you liketo have when conversations about racial equityemerge?</h1>
              <div class="opacity-8"><p class="hero opaque typeIn ae-10"></p></div>
              <%= link_to s5_1_path, class: "ae-10 center button big transparent margin-top-5" do %>
                Great Job! Let's move on.<i class="fad fa-long-arrow-alt-right margin-left-1"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>


  <section class="slide kenBurns">
    <div class="content" style="background: rgba(34, 67, 95, .97);">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h2 class="ae-2 normal small margin-bottom-2">
              <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">Well Done.</span></h2>
              <h1 class="ae-3 huge">Great job! Let's move on.</h1>
            <%= link_to recap_1_path, class: "button transparent margin-top-5 ae-8" do %>
              <h3 class="large margin-bottom-0">Let's move on <i class="far fa-long-arrow-alt-right margin-left-1"></i></h3>
            <% end %>
          </div>
          <div class="fix-5-12 ae-5">
            <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>

<%#
  <div class="dialogContainer bottom">

    <div class="dialog hidden" data-dialog-id="dialog" data-dialog-delay="1000" data-dialog-hide-delay="20000">
      <div class="dialogContent" data-dialog-action="close">
        <img width="50" class="avatar" src="https://cdn0.iconfinder.com/data/icons/feather/96/591277-arrow-left-512.png" alt="Avatar">
        <div class="text">
          <strong>Explore!</strong> Click on an emoji or use LEFT or RIGHT arrow keys to navigate this section.
        </div>
      </div>
    </div>


  </div> %>
  <%= render "step1/navigation/section_panel" %>
</body>
