<body class="slides zoom horizontal noPreload animated ">
  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>
  <%= render "step1/sections/frustration" %>
  <%= render "step1/sections/worried" %>
  <%= render "step1/sections/disappointed" %>
  <%= render "step1/sections/excited" %>
  <%= render "step1/sections/happy" %>
  <%= render "step1/sections/interested" %>
  <%= render "step1/sections/scared" %>
  <%= render "step1/sections/confused" %>
  <%= render "step1/sections/angry" %>
  <%= render "step1/sections/uncomfortable" %>
  <%= render "step1/sections/neutral" %>
  <%= render "step1/sections/disinterested" %>
</body>
