


<body class="slides zoom horizontal noPreload animated ">


  <!-- Panel Bottom #03 -->
  <nav class="panel bottom forceMobileView">
    <div class="sections desktop">
      <div class="left"><span class="opacity-8">Build with <a href="#" title="Slides Framework"><svg style="width:52px;height:21px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></span></div>
      <<div class="center">
        <ul class="menu uppercase">
          <li>
            <%= link_to "Section 2", title_2_path %>
          </li>
        </ul>
      </div>
      <div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span></div>
    </div>
    <div class="sections compact hidden">
      <div class="left">Build with <a href="#" title="Slides Framework"><svg style="width:58px;height:16px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
      <div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span></div>
    </div>
  </nav>

  <!-- Share Window -->
  <div class="dropdown share bottom right" data-dropdown-id="2" data-text="Take a look at this" data-url="https://designmodo.com" data-pinterest-image="https://designmodo.com/wp-content/uploads/2015/10/Presentation.jpg">
    <div class="center">
      <ul class="menu uppercase">
        <li><a href="#">Tour</a></li>
        <li><a href="#">Upgrade</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>
    <ul>
      <li class="social-facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb-like"></use></svg></li>
      <li class="social-twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></li>
      <li class="social-googlePlus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></li>
      <li class="social-linkedin"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></li>
      <li class="mail" data-subject="Subject" data-body="Body">share by email</li>
    </ul>
  </div>



  <!-- Navigation Arrows -->
  <nav class="side left">
    <div class="navigation">
      <div class="cell">
        <span class="prevSlide"><svg class="sideArrow     "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
      </div>
    </div>
  </nav>

  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow     "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>
  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>
  <%= render "step1/sections/frustration" %>
  <%= render "step1/sections/worried" %>
  <%= render "step1/sections/disappointed" %>
  <%= render "step1/sections/excited" %>
  <%= render "step1/sections/happy" %>
  <%= render "step1/sections/interested" %>
  <%= render "step1/sections/scared" %>
  <%= render "step1/sections/confused" %>
  <%= render "step1/sections/angry" %>
  <%= render "step1/sections/uncomfortable" %>
  <%= render "step1/sections/neutral" %>
  <%= render "step1/sections/disinterested" %>


</body>
