<body class="slides zoom noPreload animated ">


  <!-- Navigation -->
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>


  <%= render "shared/panels/top/nav_1" %>

  <%= render "step1/title/toc" %>


  <section class="slide kenBurns">
    <div class="content" style="background: #b6514d;">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12">
            <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">Section I</span></h3>
            <h1 class="big cropBottom ae-2 normal margin-bottom-3">What	do syllabi have	to do	with <br/>racial and ethnic	equity?</h1>
            <h1 class="large ae-2 ">This section encourages you to reflect on your initial reactions to conversations focusing on race and racism.</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>


  <section class="slide kenBurns">
   <div class="content" style="background: #b6514d;">
     <div class="container">
       <div class="wrap center">
         <div class="fix-12-12 center">
           <div class="col-12-12 ae-3 cell-100 rounded margin-bottom-2 done padding-5">
             <h3 class="ae-1 small  margin-bottom-3 uppercase"><span class="">
               <i class="fal fa-lightbulb-on margin-right-1"></i> Key learning outcome</span></h3>
             <h2 class="normal ae-4 fromLeft">
               Practitioners will be further prepared to examine their syllabi—and the beliefs, values, and world views that informed their syllabi—from an equity-minded lens.
             </h2>
           </div>
            <div class="ae-2">
              <%= link_to intro_1_path, class: "big button border ae-3 middle margin-top-1
             " do %>
             Let's Begin
             <% end %>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
 </section>


  <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
    <div class="sections desktop ">
      <div class="left">
        <span class="onTop" data-tooltip="Section Home">
          <span class="white button actionButton">
            <%= link_to title_1_path do %>
              <i class="far fa-home h4"></i>
            <% end %>
          </span>
        </span>
      </div>
      <div class="center opacity-1">
        <i class="fal fa-arrow-alt-up h2 no-margin"></i>
        <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
        <i class="fal fa-arrow-alt-down h2 no-margin"></i>

      </div>
      <div class="right">
        <span class="onTop" data-tooltip="Next Page">
          <span class="white button actionButton">
            <%= link_to intro_1_path do %>
              <i class="fal fa-check-circle h3"></i>
            <% end %>
          </span>
        </span>
      </div>
    </div>
  </nav>


</body>
