<ul class="flex toCenter">
  <li class="col-1-10">
    <a href="/section/1/s1_2#neutral" class="trigger margin-bottom-2 ae-4">
      <%= image_tag("emoji/neutral-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#uncomfortable" class="trigger margin-bottom-2 ae-4">
      <%= image_tag("emoji/uncomfortable-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#disinterested" class="trigger margin-bottom-2 ae-5">
      <%= image_tag("emoji/disinterested-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#frustrated" class="trigger margin-bottom-2 ae-6">
      <%= image_tag("emoji/frustrated-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#disinterested" class="trigger margin-bottom-2 ae-5">
      <%= image_tag("emoji/disinterested-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#angry" class="trigger margin-bottom-2 ae-6">
      <%= image_tag("emoji/mad-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#annoyed" class="trigger margin-bottom-2 ae-5">
      <%= image_tag("emoji/annoyed-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#excited" class="trigger margin-bottom-2 ae-6">
      <%= image_tag("emoji/excited-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#happy" class="trigger margin-bottom-2 ae-5">
      <%= image_tag("emoji/love-it-emoji.png", class: "wide")%>
    </a>
  </li>
  <li class="col-1-10">
    <a href="/section/1/s1_2#afraid" class="trigger margin-bottom-2 ae-6">
      <%= image_tag("emoji/afraid-emoji.png", class: "wide")%>
    </a>
  </li>
</ul>
