<section class="slide autoHeight split bg-mudgreen">
  <div class="content" style="background: transparent;">
    <div class="container">
      <div class="wrap" style="background-image: url(<%= image_url("backgrounds/purple.png")%>);">
      </div>
      <div class="wrap left">
        <div class="mobile-wrap left">
          <h4 class="ae-2">Common thoughts and feelings… </h4>
          <br/>
          <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">I'm afraid that I'll be called a racist if I talk about race.</p></div>
          <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">I will soon be up for tenure and will need to focus my attention on other initiatives.</p></div>
          <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">I'm unsure if my institution will make equity a priority.</p></div>
          <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">My institution just isn’t capable of being a welcoming place for African American and Latinx students right now.</p></div>
          <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="background customBackground ae-1 fromTopLeft" style="background-image:url('<%= image_url("graphics/emojis/bored-emoji.png", class: "wide ")%>'); background-position: 20% center;"></div>
</section>
<section class="slide autoHeight split bg-mudgreen">
  <div class="content" style="background: transparent;">
    <div class="container">
      <div class="wrap" style="background-image: url(<%= image_url("backgrounds/purple.png")%>);">
        <%#= image_tag("graphics/emojis/afraid-emoji@3x.png", class: "wide ")%>
      </div>
      <div class="wrap left">
        <div class="mobile-wrap left">
          <div class="ae-1 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">Thank you for exploring the emotions you feel when conversations about racial equity emerge.</p></div>
          <div class="ae-3 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">Don't worry!</p></div>
          <div class="ae-5 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">The goal of this platform is to help you feel comfortable and confident when talking about racial equity and the ways in which race and racism exist in our day-to-day lives and the lives of students.</p></div>
          <div class="ae-7 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">So, we're about to provide you with language and tools that will help you make sense of your classroom dynamics in a race-conscious way.</p></div>
          <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque blue chat-bubble">  ...   </p></div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="slide autoHeight split bg-mudgreen">
  <div class="content" style="background: transparent;">
    <div class="container">
      <div class="wrap" style="background-image: url(<%= image_url("backgrounds/purple.png")%>);">
        <%#= image_tag("graphics/emojis/afraid-emoji@3x.png", class: "wide ")%>
      </div>
      <div class="wrap left">
        <div class="mobile-wrap left">
          <div class="ae-1 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">So, we're about to provide you with language and tools that will help you make sense of your classroom dynamics in a race-conscious way.</p></div>
          <div class="ae-3 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">But first!</p></div>
          <div class="ae-5 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">Think about the following…</p></div>
          <div class="ae-7 fromBottomRight"><p class="shadow bg-bluegreen chat-bubble">What life experiences have contributed to the reactions you feel when conversations about racial equity emerge?</p></div>
          <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">Do you think that your peers feel similar or different?</p></div>
          <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">In an ideal future, what reaction would you like to have when conversations about racial equity emerge? </p></div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="slide autoHeight split bg-mudgreen">
  <div class="content" style="background: transparent;">
    <div class="container">
      <div class="wrap padding-top-phablet-5">
        <div class="fix-12-12">
          <ul class="grid later equal left">
            <li class="image-96 col-4-12 padding-bottom-phablet-3 center">
              <h1 class="ae-2 fromCenter">Worried</h1>
              <div class="ae-1 fromCenter" data-popup-id="17">
                <%= image_tag("graphics/emojis/afraid-emoji@3x.png", class: "wide ")%>
                <!-- data-action="zoom" -->
              </div>
            </li>
            <li class="col-7-12 padding-left-5 padding-phablet-0">
              <ul class="flex grid-68 tintLogos equal equalMobile">
                <li class="col-3-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-3">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/disinterested-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-3-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-4">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/interested-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-3-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-4">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/uncomfortable-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-4">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/worried-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-4">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/annoyed-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
              </ul>

              <ul class="flex grid-68 tintLogos equal equalMobile">
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-5">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/frustrated-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-6">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/mad-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-7">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/neutral-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-8">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/love-it-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-3">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/bored-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
              </ul>


              <ul class="flex grid-68 tintLogos equal equalMobile">
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-5">
                    <div class="cell">
                      <a href="#">
                        <%= image_tag("graphics/emojis/small/disappointed-emoji.png")%>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col-4-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-6">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/nervous-emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-4-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-7">
                    <div class="cell"><a href="#">
                      <%= image_tag("graphics/emojis/small/confused-Emoji.png")%>
                    </a>
                    </div>
                  </div>
                </li>
                <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2">
                  <div class="table wide equalElement ae-8">
                      <%= image_tag("graphics/emojis/small/afraid-emoji.png")%>
                  </div>
                </li>
              </ul>



            </li>
          </ul>


      </div>
      </div>

    </div>
  </div>
  <div class="background" style="background-image:url('<%= image_url("backgrounds/purple.png")%>'); backgroud-position: contain;"></div>
</section>
