
<body class="slides zoom noPreload animated">

  <nav class="panel top fixed">
    <!-- desktop version -->
    <div class="sections">
      <div class="left">
        <%= image_tag("logos/cue-white-logo.png", class: "", style:"height: 40px; width: auto;")%>
      </div>
      <div class="center">
        <ul class="menu">
          <li>
            <%#= link_to "EQMD", title_1_path, class: "bold" %>
          </li>
        </ul>
      </div>
      <div class="right"><span class="button actionButton white sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>


    <section class="slide kenBurns">
      <div class="content" style="background: rgba(59, 62, 83, .95);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12 toCenter">
              <div class="margin-bottom-2 left underline">
                <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">Section 2</h5>
              </div>
              <ul class="flex margin-bottom-10 left">
                <li class="col-12-12">
                  <h2 class="ae-3 left">
                    Learning Summary
                  </h2>
                  <p class="normal p semiBold opacity-5 ae-5">What did we learn in this section?</p>
                </li>
              </ul>
              <ul class="grid fixedSpaces left">
                <li class="col-4-12 ae-3">
                  <div class="col-12-12 ae-2 equalElement verticalCenter">
                    <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">1.</h5>
                    <h3 class="big">A range of motions is normal <br/>and expected.</h3>
                    <p class="tight semiBold ae-4 left margin-top-2 opacity-5">There are a range of emotions people feel when discussing race and racism.</p>
                  </div>
                </li>
                <li class="col-4-12 ae-4">
                  <div class="col-12-12 ae-2 equalElement verticalCenter">
                    <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">2.</h5>
                    <h3 class="big">Observing and naming your <br/>emotions is important.</h3>
                    <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                    It’s important to identify and name the emotions you feel when conversations about race and racism occurs.</p>
                  </div>
                </li>
                <li class="col-4-12 ae-6">
                  <div class="col-12-12 ae-2 equalElement verticalCenter">
                    <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">3.</h5>
                    <h3 class="big">Knowing how you want to feel and work progressively.</h3>
                    <p class="tight semiBold ae-4 left margin-top-2 opacity-5">We encourages you to identify the emotions you’d like to feel when conversations about race and racism emerge and to work towards that emotional goal.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <section class="slide zoom kenBurns">
      <div class="content" style="background: rgba(59, 62, 83, .95);">
        <div class="container">
          <div class="wrap top left">
            <div class="fix-12-12 toCenter ae-3 margin-bottom-10">
              <h5 class="ae-1 small bold margin-bottom-1 uppercase underline padding-bottom-2 opacity-5">UP NEXT</h5>
              <!-- <h1 class="ae-1 normal">Section 4</h1> -->
              <!-- <p class="ae-2 margin-bottom-3"><span class="opacity-8">Each section is approximately 10-15 minutes.</span></p> -->
              <ul class="grid grid-74 later equal margin-top-2 center">
                <li class="col-8-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromLeft padding-right-5">
                  <ul class="flex margin-bottom-2 left">
                    <li class="col-12-12">
                      <h1 class="large ae-3 left">What is Equity-Mindedness? </h1>
                      <p class="normal p semiBold opacity-5 ae-5">A mindset that enables racial equity</p>
                      <div class="margin-top-10 left">
                        <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">Section 3</h5>
                      </div>
                      <p class="hero normal ae-5 opacity-9 left margin-top-3">
                        This section defines equity-mindedness while also providing a direct contrast to practices that lack equity-mindedness.
                      </p>
                    </li>
                  </ul>
                  <div class="ae-2 left">
                    <%= link_to intro_3_path, class: "big button transparent ae-3
                   " do %>
                   Next Section <i class="fad fa-long-arrow-alt-right margin-left-2"></i>
                   <% end %>
                 </div>
                </li>
                <li class="col-4-12 col-tablet-1-2 col-phablet-1-1 ae-4 right fromLeft">
                  <div class="box-74 margin-top-10">
                    <div class="thumbnail-74 white margin-top-10 rounded" style="height: 275px;">
                      <%= image_tag("graphics/mind.png", class: "wide padding-3")%>
                    </div>
                    <div class="name-74 equalElement table wide border-top teal">
                      <div class="cell left top">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>


</body>
