
<%= render "step2/sections/s1/p1" %>
<%= render "step2/sections/s1/p2" %>
<%= render "step2/sections/s1/p3" %>
<%= render "step2/sections/s1/p4" %>
<%= render "step2/sections/s1/p5" %>

  <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
    <div class="sections desktop ">
      <div class="left">
        <span class="onTop" data-tooltip="Section Home">
          <span class="white button actionButton">
            <%= link_to s1_1_path do %>
              <i class="far fa-home h4"></i>
            <% end %>
          </span>
        </span>
      </div>
      <div class="center opacity-1">
        <i class="fal fa-arrow-alt-up h2 no-margin"></i>
        <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
        <i class="fal fa-arrow-alt-down h2 no-margin"></i>

      </div>
      <div class="right">
        <span class="onTop" data-tooltip="Next Page">
          <span class="white button actionButton">
            <%= link_to s1_3_path do %>
              <i class="fal fa-arrow-circle-right h3"></i>
            <% end %>
          </span>
        </span>
      </div>
    </div>
  </nav>
