<body class="slides plain horizontal fast noPreload animated ">
  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>
  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>

<%= render "step2/sections/s1/p1" %>
<%= render "step2/sections/s1/p2" %>
<%= render "step2/sections/s1/p3" %>
<%= render "step2/sections/s1/p4" %>
<%= render "step2/sections/s1/p5" %>

</body>
