<body class="slides plain">


  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>
  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>

  <%= render "step2/sections/s2/p1" %>
  <%= render "step2/sections/s2/p2" %>
  <%= render "step2/sections/s2/p3" %>
  <%= render "step2/sections/s2/p4" %>

  <nav class="panel bottom white dark">
    <div class="sections desktop">
      <div class="left">
        <span class="onTop" data-tooltip="Section Home">
          <span class="white button actionButton">
            <%= link_to s2_1_path do %>
              <i class="fal fa-arrow-circle-left h3"></i>
            <% end %>
          </span>
        </span>
      </div>
      <div class="center"><nav class="medium"><div class="navigation"><ul></ul></div></nav></div>
      <div class="right">
        <span class="onTop" data-tooltip="Next Section">
          <span class="white button actionButton">
            <%= link_to s2_3_path do %>
              <i class="fal fa-arrow-circle-right h3"></i>
            <% end %>
          </span>
        </span>
      </div>
    </div>
  </nav>
