<body class="slides zoom horizontal noPreload animated ">

  <!-- <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },7000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

  <style>
    .item-100 {
      padding: 10px;
    }
  </style>

<%= render "shared/panels/top/nav_1" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>



<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
    <div class="wrap top">
      <div class="fix-12-12 toCenter ae-3 margin-bottom-2">

        <ul class="fix-8-12 center margin-bottom-10">
          <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
            <ul class="flex-slide-100">
              <li class="cell-100 rounded margin-bottom-2">
                <div class="item-100">
                  <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part II: Inquiry</p>
                  <h1 class="large">Why inquire into syllabi?</h1>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="flex left">
          <li class="col-12-12">
            <div class="fix-12-12 left margin-top-5">
              <ul class="grid margin-top-5">
                <li class="col-2-12 ae-1 fromCenter">
                  <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png")%>
                </li>
                <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                  <h2 class="small">Teaching is a core practice of college faculty, yet inquiry and self-reflection are rarely routine and often occur in an unstructured manner.</h2>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>);"></div>
</section>

<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter margin-bottom-2">

          <ul class="fix-8-12 center margin-bottom-10">
            <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
              <ul class="flex-slide-100">
                <li class="cell-100 rounded margin-bottom-2">
                  <div class="item-100">
                    <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part II: Inquiry</p>
                    <h1 class="large">Why inquire into syllabi?</h1>
                  </div>
                </li>
              </ul>
            </li>
          </ul>


          <ul class="flex left">

            <li class="col-12-12">
              <div class="fix-12-12 left margin-top-5">
                <ul class="grid margin-top-5">
                  <li class="col-2-12 ae-1 fromCenter">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/tools-512.png")%>
                  </li>
                  <li class="col-10-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                    <h2 class="small">Syllabus review is an opportunity for structured inquiry and reflection, providing a safe space to assess aspects of teaching as reflected in syllabi, for example, course goals, class norms and rules, expectations for and evaluations of student learning, and forms of assistance and support.</h2>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>);"></div>
</section>

<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter margin-bottom-2">

          <ul class="fix-8-12 center margin-bottom-10">
            <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
              <ul class="flex-slide-100">
                <li class="cell-100 rounded margin-bottom-2">
                  <div class="item-100">
                    <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part II: Inquiry</p>
                    <h1 class="large">Why inquire into syllabi?</h1>
                  </div>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="flex left">

            <li class="col-12-12">
              <div class="fix-12-12 left margin-top-5">
                <ul class="grid margin-top-5">
                  <li class="col-2-12 col-tablet-1-2 col-phablet-1-1 ae-1 fromCenter">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/compose-512.png", style: "width: 150px;")%>
                  </li>
                  <li class="col-10-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                    <h2 class="small">As artifacts of practice that capture how faculty see the course, what they assume students should be able to accomplish, and what they will do to advance student learning, inquiry into syllabi has the potential to reveal the assumptions, attitudes, values, and beliefs that shape teaching. Also, examining the content and language of a syllabus can help make explicit who it is written for (e.g., students, faculty, institution) and who it best serves.</h2>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>);"></div>
</section>


<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter ae-3 margin-bottom-2">


          <div class="left margin-bottom-4">
            <h5 class="font-weight-bold opacity-3 uppercase ae-1 underline padding-bottom-2 margin-bottom-2">A Quick Recap</h5>
            <p class="text-yellow small bold opacity-6 margin-bottom-1">Part II: Inquiry</p>
            <h1 class="small">Why inquire into syllabi?</h1>
          </div>

        <div class="fix-12-12 left margin-top-1">
          <ul class="grid fixedSpaces left">
            <li class="col-4-12 ae-3">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">1.</h5>
                <h3 class="big">A range of motions is normal <br/>and expected.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">Teaching is a core practice of college faulty, yet inquiry and self-reflection are rarely routine and often occur in an unstructured manner.</p>
              </div>
            </li>
            <li class="col-4-12 ae-4">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">2.</h5>
                <h3 class="big">Observing and naming your <br/>emotions is important.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                Syllabus review is an opportunity for structured inquiry and reflection, providing a safe space to assess aspects of teaching as reflected in syllabi, for example, course goals, class norms and rules, expectations for and evaluations of student learning, and forms of assistance and support.
              </p>
              </div>
            </li>
            <li class="col-4-12 ae-6">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">3.</h5>
                <h3 class="big">Knowing how you want to feel and work progressively.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">As artifacts of practice that capture how faculty see the course, what they assume students should be able to accomplish, and what they will do to advance student learning, inquiry into syllabi has the potential to reveal the assumptions, attitudes, values, and beliefs that shape teaching. Also, examining the content and language of a syllabus can help make explicit who it is written for (e.g., students, faculty, institution) and who it best serves.</p>
              </div>
            </li>
          </ul>
        </div>


      </div>
      </div>
    </div>
  </div>
<div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>



<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12 toCenter">
          <h2 class="ae-2 normal small margin-bottom-2">
            <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
            <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>Why inquire into syllabi?</h1>

        </div>
        <div class="fix-5-12 ae-5">
          <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
        </div>


        <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
        <h3 class="ae-3 large semiBold">
          <%= link_to s2_3_path, class: "ae-10 center button big transparent" do %>
          What do syllabi have to do with racial equity?<i class="fad fa-long-arrow-alt-right margin-left-1"></i>
          <% end %>
        </h3>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>





<nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
  <div class="sections desktop ">
    <div class="left">
      <span class="onTop" data-tooltip="Section Home">
        <span class="white button actionButton">
          <%= link_to title_2_path do %>
            <i class="far fa-home h4"></i>
          <% end %>
        </span>
      </span>
    </div>
    <div class="center opacity-5">
      <i class="fal fa-arrow-alt-up h2 no-margin"></i>
      <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
      <i class="fal fa-arrow-alt-down h2 no-margin"></i>

    </div>
    <div class="right">
      <span class="onTop" data-tooltip="Next Page">
        <span class="white button actionButton">
          <%= link_to s2_3_path do %>
            <i class="fal fa-check-circle h3"></i>
          <% end %>
        </span>
      </span>
    </div>
  </div>
</nav>


</body>
