<body class="slides zoom horizontal noPreload animated ">

  <!-- <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },7000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

  <style>
    .item-100 {
      padding: 10px;
    }
  </style>

<%= render "shared/panels/top/nav_1" %>

<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <%= render "step2/menus/part2" %>
        <div class="center margin-top-3">
          <%= render "step2/titles/part2" %>
        </div>
        <ul class="flex left">
          <li class="col-3-12">
            <h6 class="uppercase margin-bottom-2 opacity-5 semiBold"><i class="fas fa-lightbulb margin-right-1"></i> Takeaways</h6>
            <ul class="flex later flex-slide-100">

            </ul>
          </li>
          <li class="col-9-12">
            <div class="fix-12-12 left margin-top-5">
              <ul class="grid margin-top-5">
                <li class="col-2-12 ae-1 fromCenter">
                  <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/zoomin-512.png")%>
                </li>
                <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                  <h3 class="large">Teaching is a core practice of college faulty, yet inquiry and self-reflection are rarely routine and often occur in an unstructured manner.</h3>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>

<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <%= render "step2/menus/part2" %>
        <div class="center margin-top-3">
          <%= render "step2/titles/part2" %>
        </div>
        <ul class="flex left">
          <li class="col-3-12">
            <h6 class="ae-2 uppercase margin-bottom-2 opacity-5 semiBold"><i class="fas fa-lightbulb margin-right-1"></i> Takeaways</h6>
            <ul class="flex later flex-slide-100">
              <li class="col-12-12 ae-3 cell-100 rounded margin-bottom-2">
                <a href="#" class="item-100">
                  <!-- <p class="text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p> -->
                  <h3 class="left">Takeaway #1</h3>
                </a>
              </li>
            </ul>
          </li>
          <li class="col-9-12">
            <div class="fix-12-12 left margin-top-5">
              <ul class="grid margin-top-5">
                <li class="col-2-12 ae-1 fromCenter">
                  <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png")%>
                </li>
                <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                  <h3 class="large">Syllabus review is an opportunity for structured inquiry and reflection, providing a safe space to assess aspects of teaching as reflected in syllabi, for example, course goals, class norms and rules, expectations for and evaluations of student learning, and forms of assistance and support.</h3>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</section>

<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <%= render "step2/menus/part2" %>
        <div class="center margin-top-3">
          <%= render "step2/titles/part2" %>
        </div>
        <ul class="flex left">
          <li class="col-3-12">
            <h6 class="uppercase margin-bottom-2 opacity-5 semiBold"><i class="fas fa-lightbulb margin-right-1"></i> Takeaways</h6>
            <ul class="flex later flex-slide-100">
              <li class="col-12-12 cell-100 rounded margin-bottom-2">
                <a href="#" class="item-100">
                  <!-- <p class="text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p> -->
                <h3 class="left">Takeaway #1</h3>
                </a>
              </li>
              <li class="col-12-12 ae-3 cell-100 rounded margin-bottom-2">
                <a href="#" class="item-100">
                  <!-- <p class="text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p> -->
                  <h3 class="left">Takeaway #2</h3>

                </a>
              </li>
            </ul>
          </li>
          <li class="col-9-12">
            <div class="fix-12-12 left margin-top-5">
              <ul class="grid margin-top-5">
                <li class="col-2-12 ae-1 fromCenter">
                  <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/tools-512.png")%>
                </li>
                <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                  <h3 class="large">As artifacts of practice that capture how faculty see the course, what they assume students should be able to accomplish, and what they will do to advance student learning, inquiry into syllabi has the potential to reveal the assumptions, attitudes, values, and beliefs that shape teaching. Also, examining the content and language of a syllabus can help make explicit who it is written for (e.g., students, faculty, institution) and who it best serves.</h3>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</section>

<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <%= render "step2/menus/part2" %>

        <div class="fix-12-12 margin-top-5">
          <div class="center">
            <h5 class="font-weight-bold opacity-3 uppercase ae-1">A Quick Recap</h5>
            <h1 class="ae-3 fromLeft normal margin-top-1 light">Why Inquire into Syllabi?</h1>
          </div>
        <div class="fix-6-12 left margin-top-5">
          <ul class="flex center later flex-slide-100">
            <li class="col-12-12 ae-3 cell-100 rounded margin-bottom-2">
              <a href="#" class="item-100">
                <!-- <p class="text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p> -->
                <h3 class="">Takeaway #1</h3>
              </a>
            </li>
            <li class="col-12-12 ae-3 cell-100 rounded margin-bottom-2">
              <a href="#" class="item-100">
                <!-- <p class="text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p> -->
                <h3 class="">Takeaway #2</h3>
              </a>
            </li>
            <li class="col-12-12 ae-3 cell-100 rounded margin-bottom-2">
              <a href="#" class="item-100">
                <!-- <p class="text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p> -->
                <h3 class="">Takeaway #3</h3>
              </a>
            </li>
          </ul>
        </div>

        <div class="fix-12-12 center margin-top-5">
          <%= link_to s2_3_path, class: "center button blue ae-3 circle" do %>
            Next Section <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>


<nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
  <div class="sections desktop ">
    <div class="left">
      <span class="onTop" data-tooltip="Section Home">
        <span class="white button actionButton">
          <%= link_to title_2_path do %>
            <i class="far fa-home h4"></i>
          <% end %>
        </span>
      </span>
    </div>
    <div class="center opacity-1">
      <i class="fal fa-arrow-alt-up h2 no-margin"></i>
      <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
      <i class="fal fa-arrow-alt-down h2 no-margin"></i>

    </div>
    <div class="right">
      <span class="onTop" data-tooltip="Next Page">
        <span class="white button actionButton">
          <%= link_to s2_3_path do %>
            <i class="fal fa-check-circle h3"></i>
          <% end %>
        </span>
      </span>
    </div>
  </div>
</nav>


</body>
