<body class="slides zoom horizontal noPreload animated ">

  <!-- <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },7000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

  <style>
    .item-100 {
      padding: 10px;
    }
  </style>

<%= render "shared/panels/top/nav_1" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>


<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
    <div class="wrap top">
      <div class="fix-12-12 toCenter ae-3 margin-bottom-2">

        <ul class="fix-8-12 center margin-bottom-10">
          <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
            <ul class="flex-slide-100">
              <li class="cell-100 rounded margin-bottom-2">
                <div class="item-100">
                  <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part IV: Equity-mindedness</p>
                  <h1 class="large">Tools for Equity-minded Practice?</h1>
                </div>
              </li>
            </ul>
          </li>
        </ul>


        <ul class="flex left">
          <li class="col-12-12">
            <div class="fix-12-12 left margin-top-5">
              <ul class="grid margin-top-5">
                <li class="col-2-12 ae-1 fromCenter">
                  <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png")%>
                </li>
                <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                  <h2 class="small">Faculty can use syllabi to demystify the implicit norms and ambiguous processes that characterize college such as how to be a “successful” student.</h2>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>

<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter margin-bottom-2">

          <ul class="fix-8-12 center margin-bottom-10">
            <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
              <ul class="flex-slide-100">
                <li class="cell-100 rounded margin-bottom-2">
                  <div class="item-100">
                    <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part IV: Equity-mindedness</p>
                    <h1 class="large">Tools for Equity-minded Practice?</h1>
                  </div>
                </li>
              </ul>
            </li>
          </ul>


          <ul class="flex left">

            <li class="col-12-12">
              <div class="fix-12-12 left margin-top-5">
                <ul class="grid margin-top-5">
                  <li class="col-2-12 ae-1 fromCenter">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/tools-512.png")%>
                  </li>
                  <li class="col-10-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                    <h2 class="small">Syllabi can welcome them into a classroom where they will be cared for and validate their pursuit of a college degree and ability to be successful.</h2>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>

<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter margin-bottom-2">

          <ul class="fix-8-12 center margin-bottom-10">
            <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
              <ul class="flex-slide-100">
                <li class="cell-100 rounded margin-bottom-2">
                  <div class="item-100">
                    <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part IV: Equity-mindedness</p>
                    <h1 class="large">Tools for Equity-minded Practice?</h1>
                  </div>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="flex left">

            <li class="col-12-12">
              <div class="fix-12-12 left margin-top-5">
                <ul class="grid margin-top-5">
                  <li class="col-2-12 col-tablet-1-2 col-phablet-1-1 ae-1 fromCenter">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/compose-512.png", style: "width: 150px;")%>
                  </li>
                  <li class="col-10-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                    <h2 class="small">Syllabi can send the message that while students need to work hard in college, faculty are there to support and work in partnership with them.</h2>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>


<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter margin-bottom-2">

          <ul class="fix-8-12 center margin-bottom-10">
            <li class="padding-left-phablet-0 margin-top-phablet-3 bottom">
              <ul class="flex-slide-100">
                <li class="cell-100 rounded margin-bottom-2">
                  <div class="item-100">
                    <p class="text-yellow semiBold opacity-6 margin-bottom-1">Part IV: Equity-mindedness</p>
                    <h1 class="large">Tools for Equity-minded Practice?</h1>
                  </div>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="flex left">

            <li class="col-12-12">
              <div class="fix-12-12 left margin-top-5">
                <ul class="grid margin-top-5">
                  <li class="col-2-12 col-tablet-1-2 col-phablet-1-1 ae-1 fromCenter">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/compose-512.png", style: "width: 150px;")%>
                  </li>
                  <li class="col-10-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                    <h2 class="small">Finally, syllabi can affirm the belonging of racially minoritized students in higher education by representing their experiences in course materials and deconstructing the presentation of white students and white experiences as the norm.</h2>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>


<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 toCenter ae-3 margin-bottom-2">


          <div class="left margin-bottom-4">
            <h5 class="font-weight-bold opacity-3 uppercase ae-1 underline padding-bottom-2 margin-bottom-2">A Quick Recap</h5>
            <p class="text-yellow small bold opacity-6 margin-bottom-1">Part IV: Equity-mindedness</p>
            <h1 class="small">Tools for Equity-minded Practice?</h1>
          </div>

        <div class="fix-12-12 left margin-top-1">
          <ul class="grid fixedSpaces left">
            <li class="col-6-12 ae-3">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">1.</h5>
                <h3 class="big">A range of motions is normal <br/>and expected.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                  Faculty can use syllabi to demystify the implicit norms and ambiguous processes that characterize college such as how to be a “successful” student.</p>
              </div>
            </li>
            <li class="col-6-12 ae-4">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">2.</h5>
                <h3 class="big">Observing and naming your <br/>emotions is important.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                Syllabi can welcome them into a classroom where they will be cared for and validate their pursuit of a college degree and ability to be successful.
              </p>
              </div>
            </li>
            <li class="col-6-12 ae-6">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">3.</h5>
                <h3 class="big">Knowing how you want to feel and work progressively.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                  They can send the message that while students need to work hard in college, faculty are there to support and work in partnership with them.
                </p>
              </div>
            </li>
            <li class="col-6-12 ae-6">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">3.</h5>
                <h3 class="big">Knowing how you want to feel and work progressively.</h3>
                <p class="tight semiBold ae-4 left margin-top-2 opacity-5">
                  Finally, syllabi can affirm the belonging of racially minoritized students in higher education by representing their experiences in course materials and deconstructing the presentation of white students and white experiences as the norm.
                </p>
              </div>
            </li>
          </ul>
        </div>


      </div>
      </div>
    </div>
  </div>
<div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>

<section class="slide kenBurns">
  <div class="content" style="background: rgba(21, 79, 124, .97);">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12 toCenter">
          <h2 class="ae-2 normal small margin-bottom-2">
            <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
            <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>Tools for Equity-minded Practice?</h1>

        </div>
        <div class="fix-5-12 ae-5">
          <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
        </div>


        <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
        <h3 class="ae-3 large semiBold">
          <%= link_to recap_2_path, class: "ae-10 center button big transparent" do %>
          Learning Summary <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
          <% end %>
        </h3>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-02.png")%>)"></div>
</section>


    <nav class="panel bottom small fixed">
      <div class="sections">
        <div class="left">
          <ul class="menu small">
            <li tabindex="0" class="toFirstSlide hover-state">
              <%= link_to "Section Intro", intro_6_path %>
            </li>
          </ul>
        </div>
        <div class="center">
          <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
        </div>
        <div class="right">
          <ul class="menu small">
            <li tabindex="0" class="toFirstSlide hover-state">
              <%= link_to "Learning Summary", recap_6_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="panel bottom small customPanel">
      <div class="sections">


      </div>
    </nav>



</body>





  <%#= render "step2/sections/s3/p1" %>
  <%#= render "step2/sections/s3/p2" %>
  <%#= render "step2/sections/s3/p3" %>
  <%#= render "step2/sections/s3/p4" %>
