<body class="slides zoom horizontal noPreload animated ">
<!--
  <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },10000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

<%= render "shared/panels/top/nav_1" %>
<%= render "step2/title/toc" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>


  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">Section II</span></h3>
          <h1 class="big cropBottom ae-2">What is the rationale for doing syllabus review?</h1>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12">
            <h3 class="ae-1 small light margin-bottom-3 uppercase">
              <span class="opacity-6">focus</span></h3>
            <h1 class="large ae-2 left">This section makes the case that: <span class="big yellow normal padding-1 margin-left-2"> syllabi matter</span></h1>
            <h1 class="large ae-8 left margin-top-3">and...</h1>

          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>


    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-10-12">
              <h3 class="ae-1 small light margin-bottom-3 uppercase">
                <span class="opacity-6">focus</span></h3>
              <h2 class="light ae-2 left margin-bottom-5">...the process of:<h2/>
              <h2 class="light ae-3 left">1. <span class="yellow normal padding-1">reflecting</span> on taken-for-granted syllabi content;</h2>
              <hr class="ae-4" style="border-top-color: #333;"/>
              <h2 class="light ae-5 left" style="line-height: 1.4;">2. and then
                <span class="yellow normal padding-1">changing that content</span> as needed to better align with equity-minded syllabi practices
              </h2>
              <h3 class="large normal ae-6 left margin-top-4 text-yellow">can support the goal of racial/ethnic equity.</h2>
            </div>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
    </section>


    <!-- Slide #93 -->
  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="frame-93 rounded ae-1">
            <div class="ae-2">
              <h1 class="cropBottom inline">Ready to get started?
                <%= link_to intro_2_path, class: "big button blue gradient small ae-3 middle margin-top-1
                margin-left-4" do %>
                Yes, Let's Begin
                <% end %>
                <%= link_to root_path, class: "big button white small ae-3 middle margin-top-1
                " do %>
                I'll come back later
                <% end %>
              </h1>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>


    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to title_2_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-1">
          <i class="fal fa-arrow-alt-up h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-down h2 no-margin"></i>
        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to intro_2_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>



</body>
