<body class="slides zoom horizontal noPreload animated ">
<!--
  <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },10000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

<%= render "shared/panels/top/nav_1" %>
<%= render "step2/title/toc" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>


  <section class="slide teal kenBurns">
    <div class="content" style="background: #3B3E53;">
      <div class="container">
        <div class="wrap">

          <div class="fix-11-12">

            <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">Section II</span></h3>
            <h1 class="huge cropBottom normal ae-2 margin-bottom-2">Why do Syllabi Matter?</h1>
            <h1 class="large ae-2 ">
              This section explains why syllabi matters and aligning content with equity-minded syllabi practices
              can support the goal of racial/ethnic equity.
            </h1>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>


     <section class="slide kenBurns">
     <div class="content" style="background: #3B3E53;">
       <div class="container">
         <div class="wrap center">
           <div class="fix-12-12 center">
             <div class="col-12-12 ae-3 cell-100 rounded margin-bottom-2 done padding-5">
               <h3 class="ae-1 small  margin-bottom-3 uppercase"><span class="">
                 <i class="fal fa-lightbulb-on margin-right-1"></i> Key learning outcome</span></h3>
               <h2 class="normal ae-4 fromLeft">
                 Practitioners will be further prepared to examine their syllabi—and the beliefs, values, and world views that informed their syllabi—from an equity-minded lens.
               </h2>
             </div>
              <div class="ae-2">
                <%= link_to intro_2_path, class: "big button border ae-3 middle margin-top-1
               " do %>
               Let's Begin
               <% end %>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
   </section>


    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to title_2_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-1">
          <i class="fal fa-arrow-alt-up h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-down h2 no-margin"></i>
        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to intro_2_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>



</body>
