<body class="slides zoom horizontal noPreload animated ">
<!--
  <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },10000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->

<%= render "shared/panels/top/nav_1" %>
<%#= render "step2/title/toc" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>



    <section class="slide fade-8 kenBurns">
      <div class="content" style="background: rgba(59, 62, 83, .95);">
        <div class="container">
          <div class="wrap top">
            <div class="margin-bottom-5 left underline">
              <h4 class="ae-1 small uppercase letter-spacing-3">Section 2</h4>
            </div>
            <ul class="flex margin-bottom-5 left">
              <li class="col-6-12">
                <h1 class="large ae-1 uppercase letter-spacing-3 "></h1>
                <h2 class="big ae-5 opacity-9 left">
                  This section explains why syllabi matters and aligning content with equity-minded syllabi practices can support the goal of racial/ethnic equity.
                </h2>
                <!-- <h3 class=" ae-5 opacity-9 left">Throughout this tool, we will be talking about racial equity in the syllabus.</h3> -->
              </li>
              <li class="col-6-12">

                <div class="ae-3 cell-100 rounded margin-top-5 done padding-5">
                  <h3 class="ae-5 small Left margin-bottom-3 uppercase">
                    Key learning outcome
                  </h3>
                  <p class="hero normal ae-4 fromLeft">

                  </p>
                </div>
              </li>
            </ul>
            <div class="ae-2">
              <%= link_to intro_2_path, class: "big button border ae-3 middle margin-top-1
             " do %>
             Let's Begin
             <% end %>
           </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>



    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to title_2_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-5">
          <i class="fal fa-arrow-alt-up h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-down h2 no-margin"></i>
        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to intro_2_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>



</body>
