<!-- Panel Bottom #02 -->
<nav class="panel bottom forceMobileView white">
  <div class="sections desktop">
    <div class="left">
      <a href="#" title="Slides Framework">
        <%= image_tag("https://cue.usc.edu/files/2018/01/Informal_Horizontal_USC-Rossier-Center_for_Urban_Education_CardOnWhite.jpg", style: "width:150px;")%>
      </a>
    </div>
    <div class="left">
			<ul class="menu text-uppercase grid type-roboto-condensed equal equalMobile padding-bottom-2">
        <li class="">
         	<%= link_to overview_title_path do %>
				 		<h3>Intro</h3>
       			<span class="tiny">Introduction</span>
					<% end %>
        </li>
        <li class="">
         	<%= link_to title_1_path do %>
				 		<h3>step One</h3>
       			<span class="tiny">How Do you Feel</span>
					<% end %>
        </li>
        <li class="">
					<%= link_to title_2_path do %>
 					 <h3>step Two</h3>
 					 <span class="tiny">Why Syllabi?</span>
 				 <% end %>
        </li>
        <li class="">
					<%= link_to title_3_path do %>
 					 <h3>step Three</h3>
 					 <span class="tiny">What is EQMD?</span>
 				 <% end %>
        </li>
        <li class="">
         <%= link_to title_4_path do %>
					 <h3>step Four</h3>
					 <span class="tiny">EQMD Concepts</span>
				 <% end %>
        </li>
				<li class="">
				 <%= link_to title_5_path do %>
					 <h3>step Five</h3>
					 <span class="tiny">Who Syllabi Serve?</span>
				 <% end %>
				</li>
				<li class="">
				 <%= link_to title_6_path do %>
					 <h3>step Six</h3>
					 <span class="tiny">Analysis</span>
				 <% end %>
				</li>
      </ul>
    </div>
    <div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span></div>
  </div>
  <div class="sections compact hidden">
    <div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span></div>
  </div>
</nav>

<!-- Share Window -->
<div class="dropdown share bottom right" data-dropdown-id="2" data-text="Take a look at this" data-url="https://designmodo.com" data-pinterest-image="https://designmodo.com/wp-content/uploads/2015/10/Presentation.jpg">
  <div class="center padding-2">
    <div class="title">Share</div>
    <a href="#">Contact us</a>
  </div>
  <ul>
    <li class="social-facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb-like"></use></svg></li>
    <li class="social-twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></li>
    <li class="social-googlePlus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></li>
    <li class="social-linkedin"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></li>
    <li class="mail" data-subject="Subject" data-body="Body">share by email</li>
  </ul>
</div>




  <!-- <nav class="side ">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav> -->
