<!-- Panel Bottom #02 -->
<nav class="panel bottom forceMobileView">
  <div class="sections desktop">
    <div class="left">
      <a href="#" title="Slides Framework">
        <%= image_tag("https://cue.usc.edu/files/2018/01/Informal_Horizontal_USC-Rossier-Center_for_Urban_Education_CardOnWhite.jpg", style: "width:150px;")%>
      </a>
    </div>
    <div class="center">
			<ul class="menu grid box-87 equal equalMobile">
        <li class="">
         	<%= link_to one_path do %>
				 		<h3>One</h3>
       			<p class="tiny opacity-6">How do you feel?</p>
					<% end %>
        </li>
        <li class="">
					<%= link_to two_path do %>
 					 <h3>Two</h3>
 					 <p class="tiny opacity-6">Why Syllabi?</p>
 				 <% end %>
        </li>
        <li class="">
					<%= link_to three_path do %>
 					 <h3>Three</h3>
 					 <p class="tiny opacity-6">What is EQMD?</p>
 				 <% end %>
        </li>
        <li class="">
         <%= link_to four_path do %>
					 <h3>Four</h3>
					 <p class="tiny opacity-6">EQMD Concepts</p>
				 <% end %>
        </li>
				<li class="">
				 <%= link_to five_path do %>
					 <h3>Five</h3>
					 <p class="tiny opacity-6">Who Syllabi Serve?</p>
				 <% end %>
				</li>
				<li class="">
				 <%= link_to six_path do %>
					 <h3>Six</h3>
					 <p class="tiny opacity-6">Analysis</p>
				 <% end %>
				</li>
      </ul>
    </div>
    <div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span></div>
  </div>
  <div class="sections compact hidden">
    <div class="right"><span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span></div>
  </div>
</nav>

<!-- Share Window -->
<div class="dropdown share bottom right" data-dropdown-id="2" data-text="Take a look at this" data-url="https://designmodo.com" data-pinterest-image="https://designmodo.com/wp-content/uploads/2015/10/Presentation.jpg">
  <div class="center padding-2">
    <div class="title">Share</div>
    <a href="#">Contact us</a>
  </div>
  <ul>
    <li class="social-facebook"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb-like"></use></svg></li>
    <li class="social-twitter"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></li>
    <li class="social-googlePlus"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></li>
    <li class="social-linkedin"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></li>
    <li class="mail" data-subject="Subject" data-body="Body">share by email</li>
  </ul>
</div>




  <!-- <nav class="side ">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav> -->
