<body class="slides zoom horizontal noPreload animated">


  <!-- Navigation -->
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>


  <section class="slide fade-8 kenBurns">
    <div class="content" style="background: rgba(63, 3, 150, .97);">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12">
            <ul class="flex">
              <li class="fix-8-12 center">
                <div class="ae-5 fromRight">
                  <h4 class="uppercase letter-spacing-2 margin-bottom-2 opacity-5 normal">Center for Urban Education</h4>
                </div>
                <h1 class="huge semiBold margin-bottom-5 ae-2">Syllabus Review Guide</h1>
                <p class="hero normal ae-5 opacity-9">An inquiry tool designed to promote	racial and ethnic
                  equity	and	equity-minded	practice.</p>
              </li>
              <!-- <li class="col-5-12">
                <div class="relative left">
                  <%#= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png", style: "right: 150px; height: 150px; top: -50px;",  class: "absolute")%>
                  <%#= image_tag("graphics/mind.svg", style: "height: 250px; right: 00px;",  class: "absolute")%>
                  <%#= image_tag("graphics/syllabus.svg", style: "right:200px; height: 300px; ",  class: "absolute")%>
                  <%#= image_tag("graphics/syllabus-group.png", style: "height: 150px; top: 90px; right: 130px;",  class: "absolute")%>
                  <%#= image_tag("emoji/animations/excited.gif", style: "height: 130px; top: 150px; right: 90px;", class: " absolute")%>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>



<%= render "pages/pages/quote" %>
<%= render "pages/pages/goal" %>
<%= render "pages/pages/sections" %>
<%= render "pages/pages/instructions" %>


  <section class="slide kenBurns">
    <div class="content" style="background: rgba(83, 5, 200, .95);">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h2 class="ae-2 normal small margin-bottom-2">
              <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">You're All Set.</span></h2>
            <h1 class="ae-3 large">Thank you for taking the time to use our tool, we appreciate your participation in our work.</h1>

            <ul class="flex reverse noSpaces verticalCenter margin-top-10">
              <li class="col-12-12 left">
                <ul class="flex grid-62 later margin-top-2">
                  <li class="col-4-12 ae-5 margin-bottom-5 center">
                    <i class="fal fa-user-lock h1 huge text-blue"></i>
                    <h3 class="big">All user sessions <br/>are anonymous</h3>
                    <!-- <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p> -->
                  </li>
                  <li class="col-4-12 ae-6 margin-bottom-5 center">
                    <i class="fas fa-history h1 huge text-blue"></i>
                    <h3 class="big">Complete at your <br/>own pace</h3>
                    <!-- <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p> -->
                  </li>
                  <li class="col-4-12 ae-7 margin-bottom-5 center">
                    <i class="fas fa-comment  text-blue h1 huge"></i>
                    <h3 class="big  ">We appreciate your feedback</h3>
                    <!-- <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p> -->
                  </li>
                </ul>
              </li>
            </ul>

            <div class="fix-12-12 center">
              <%= link_to overview_intro_path, class: "button transparent margin-top-5 ae-8 big" do %>
                Let's Get Started! <i class="far fa-long-arrow-alt-right margin-left-1"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>



    <nav class="panel bottom forceMobileView dark">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">

          </span>
        </div>
        <div class="center opacity-5">
          <span class="uppercase h6 bold margin-right-2 opacity-9 letter-spacing-2">
            to navigate:
          </span>


          <i class="fal fa-arrows-alt fa-2x"></i>
            <span class="h4 margin-left-1" style="line-height: 1;">
              Keyboard
            </span>
          <i class="fal fa-mouse-alt fa-2x margin-left-2 margin-right-2"></i>
            <span class="h4" style="line-height: 1;">Scroll</span>
        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">

          </span>
        </div>
      </div>
    </nav>
