<body class="slides zoom horizontal noPreload animated">
  <!-- <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },4000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script> -->


  <!-- Navigation -->
  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>



  <!-- Slide #79 -->
  <section class="slide kenBurns" data-name="quote" data-title="quote">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <div class="quote-79 ae-1">“</div>
            <h1 class="ae-2">
              To truly support students who traditionally have faced greater obstacles to
              accessing and completing higher education, states, higher education systems,
              and institutions need an explicit <em>equity focus</em> to inform all efforts related to this
              essential work.
            </h1>

            <div class="ae-3 author-79 left margin-top-3">
              <img src="https://collegecampaign.org/wp-content/uploads/2018/11/Estela-New-Large-Nov-2018.png" width="64" class="avatar-79 round">
              <h3>Estesla Bensimon</h3>
              <p class="tiny opacity-6">Center for Urban Education</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <h1 class="ae-1 large">Our goal is to help you feel <em class="text-teal">comfortable</em>&nbsp;
              and <em class="text-teal">confident</em>&nbsp; when talking about <em class="text-teal">racial equity</em> and the ways in which race and racism
              exist in our students’ day-to-day lives. </h1>

          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-50.jpg)"></div>
  </section>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-11-12 left">
            <h1 class="ae-1 large">Our goal is to also provide you with
              <em class="text-teal">language</em> and <em class="text-teal">tools</em> that will help you make sense of your classroom dynamics in a
              <em class="text-teal">race-conscious</em> way. </h1>

          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-50.jpg)"></div>
  </section>


  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h5 class="uppercase text-gray semiBold margin-bottom-2 ae-1">cue online syllabus review</h5>
            <h1 class="large ae-2 margin-bottom-2">We've designed five learning modules</h1>
            <!-- <h2 class="small light ae-3"><span class="opacity-8">
              Our goal is to help you review your syllabi.</span>
            </h2> -->
          </div>
          <div class="fix-10-10">
            <ul class="grid grid-74 later equal margin-top-5">
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74 white" style="height: 250px;">
                    <%= image_tag("emoji/animations/uncomfortable.gif", class: "wide padding-4")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6">Step 1</h6>
                      <p class="cropBottom normal">How do you feel?</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74 white" style="height: 250px;">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png", class: "wide padding-7")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6">Step 2</h6>
                      <p class="cropBottom normal">Why do Syllabi Matter?</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74 white" style="height: 250px;">
                    <%= image_tag("graphics/mind.svg", class: "wide padding-4")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal" style="padding-right: 5px;">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6">Step 3</h6>
                      <p class="cropBottom normal" style="font-size: 20px;" >What is Equity-mindedness?</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74 white" style="height: 250px;">
                    <%= image_tag("graphics/syllabus.svg", class: "wide padding-3")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6">Step 4</h6>
                      <p class="cropBottom normal">Who do Syllabi Serve?</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74 white" style="height: 250px;">
                    <%= image_tag("graphics/syllabus-group.png", class: "wide padding-top-5 padding-right-2")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6">Step 5</h6>
                      <p class="cropBottom normal">Review Inquiry Tool</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <h5 class="uppercase text-gray semiBold margin-bottom-2 ae-1">cue online syllabus review</h5>
            <h1 class="large ae-2">A few quick tips for using our tool effectively.</h1>
            <p class="hero ae-3"><span class="opacity-8"></span></p>

            <ul class="flex reverse noSpaces verticalCenter">
              <li class="col-12-12 left">
                <ul class="flex grid-62 later margin-top-2">
                  <li class="col-5-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter padding-5">
                    <a href="#" class="box-74">
                      <div class="thumbnail-74 white" style="height: 375px;">
                        <%= image_tag("graphics/mind.svg", class: "wide padding-4")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal" style="padding-right: 5px;">
                        <div class="cell left top">
                          <h6 class="uppercase opacity-6">Step 3</h6>
                          <p class="big cropBottom normal">What is Equity-mindedness?</p>
                        </div>
                      </div>
                    </a>
                  </li>
                <li class="col-7-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                  <ul class="flex grid-62 later margin-top-7 center">
                    <li class="col-6-12 ae-4 margin-bottom-5 center">
                      <i class="fal fa-arrows-alt h1 margin-bottom-1 margin-right-2 huge text-blue"></i>
                      <i class="fal fa-mouse-alt h1 margin-bottom-1 big text-blue"></i>
                      <h3 class="large">Scroll or use keyboard arrows</h3>
                      <!-- <p class="tiny opacity-6">Design is the conscious effort to impose a meaningful order.</p> -->
                    </li>
                    <li class="col-6-12 ae-5 margin-bottom-5 center">
                      <i class="fal fa-user-lock h1 margin-bottom-1 big text-blue"></i>
                      <h3 class="large">Everything is Anonymous</h3>
                      <!-- <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p> -->
                    </li>
                    <li class="col-6-12 ae-6 margin-bottom-5 center">
                      <i class="fas fa-history h1 margin-bottom-1 big text-blue"></i>
                      <h3 class="large">Complete modules at your own pace</h3>
                      <!-- <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p> -->
                    </li>
                    <li class="col-6-12 ae-7 margin-bottom-5 center">
                      <i class="fas fa-comment h1 margin-bottom-1 big text-blue"></i>
                      <h3 class="large">We appreciate your feedback</h3>
                      <!-- <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p> -->
                    </li>
                  </ul>
                </li>
              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h2 class="ae-2 normal small margin-bottom-2">
              <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">You're All Set.</span></h2>
            <h1 class="ae-3 large">Thank you for taking the time to use our tool, we appreciate you participation in our work.</h1>
            <div class="fix-12-12 center margin-top-5">
              <%= link_to overview_title_path, class: "button blue margin-top-5 ae-8" do %>
                <h3 class="large margin-bottom-0">Let's Get Started! <i class="far fa-long-arrow-alt-right margin-left-1"></i></h2>
              <% end %>
            </div>
          </div>
          <div class="fix-12-12 ae-5">
            <%= image_tag("emoji/animations/interested.gif", class: "ipad-36", style: "")%>
          </div>


        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>



    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to home_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center opacity-1">
          <i class="fal fa-arrow-alt-up h2 no-margin"></i>
          <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
          <i class="fal fa-arrow-alt-down h2 no-margin"></i>

        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to overview_title_path do %>
                <i class="fal fa-check-circle h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>
