<style media="screen">

.fade-7 .content {
  background: rgba(33, 101, 131, .95) !important;
}

</style>


<!-- Slide #42 -->
<section class="slide fade-7 kenBurns" style="background: #216583;" data-name="afraid" data-title="Afraid">
  <div class="content">

    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="grid">
            <li class="col-6-12 left cell-33">
              <h1 class="ae-2 fromLeft">An Overview</h1>
              <p class="ae-2 fromLeft"><span class="opacity-8">
                The artist is a collector of things imaginary or real.
                He accumulates things with the same enthusiasm.</span></p>
              <ul class="tabs controller uppercase bold ae-3 fromCenter" data-slider-id="31">
                <li class="selected">How Do You Feel?</li>
                <li>
                  WHY SYLLABI?
                </li>
                <li>
                  WHAT IS EQMD?
                </li>
                <li>
                  EQMD CONCEPTS
                </li>
                <li>
                  WHO SYLLABI SERVE?
                </li>
                <li>
                  ANALYSIS
                </li>
              </ul>
              <br/><br/>
              <p>
                <%= link_to "Let's Get Started", title_1_path, class: "button circle cueRed gradient ae-3 margin-right-1" %>
              </p>
            </li>
            <li class="col-6-12 left ae-4 fromRight">
              <ul class="slider animated" data-slider-id="31">
                <li class="fromRight selected" data-action="zoom">
                  <img class="ipad-33"  data-action="zoom" width="500" src="<%= image_url("emoji/worried-emoji.png")%>">
                </li>
                <li class=" fromRight">
                  <img class="ipad-33"  data-action="zoom" width="800" src="<%= image_url("graphics/my_syllabus.svg")%>">
                </li>
                <li class="fromRight" data-action="zoom">
                  <img class="ipad-33"  data-action="zoom" width="800" src="<%= image_url("emoji/worried-emoji.png")%>">
                </li>
                <li class="fromRight" data-action="zoom">
                  <img class="ipad-33"  data-action="zoom" width="800" src="<%= image_url("graphics/syllabus-2.svg")%>"/>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="background" style="background-image:url(assets/img/background/img-33.jpg)"></div> -->
</section>
