<body class="slides horizontal noPreload animated">


  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="margin-top-10">
          <ul class="flex ">
            <li class="col-12-12 ">
              <h5 class="uppercase center margin-bottom-2 opacity-5">The Syllabus Review Tool</h5>
              <h2 class="light center">[Let's review a syllbus together]</h2>
              <img style="position: absolute; top: 22%;" class="group hover-hidden" src="<%= image_url("graphics/syl-group-0.png")%>"  alt="Macbook Image"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="">
          <ul class="flex">
            <li class="col-12-12">
              <h3 class="normal big center margin-top-5 opacity-4">Click analyze to begin.</h3>
              <%= link_to s6_1_path do %>
                <img style="position: absolute; top: 10%;" class="group hover-reveal" src="<%= image_url("graphics/syl-group.png")%>"  alt="Macbook Image"/>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


   <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
     <div class="sections desktop ">
       <div class="left">
         <span class="onTop" data-tooltip="Section Home">
           <span class="white button actionButton">
             <%= link_to title_6_path do %>
               <i class="far fa-home h4"></i>
             <% end %>
           </span>
         </span>
       </div>
       <div class="center opacity-3">
         <i class="fal fa-arrow-alt-up h2 no-margin"></i>
         <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
         <i class="fal fa-arrow-alt-down h2 no-margin"></i>
       </div>
       <div class="right">
         <span class="onTop" data-tooltip="Next Page">
           <span class="white button actionButton">
             <%= link_to s6_1_path do %>
               <i class="fal fa-check-circle h3"></i>
             <% end %>
           </span>
         </span>
       </div>
     </div>
   </nav>
