<style>
   .slides {
      -webkit-transition:1s;
      transition:1s;
   }
   /* set background colors for each of your slides */
   .slides.stage-1 {
      background:#FEF1EF;
   }
   .slides.stage-2 {
      background:#E7FDFF;
   }
   .slides.stage-3 {
      background:#F2D7FF;
   }
   .slides.stage-4 {
      background:#1D4183;
   }
   .slides.stage-5 {
      background:#489D43;
   }
   .slide.transparent,
   .slide.transparent .background {
      background:transparent !important;
   }
   .autoHeight {
      min-height:60vh;
   }
   /* ignore */
   .slides.scroll .menuToggle.scrollEffectToggle,
   .slides:not(.scroll) .menuToggle.slideEffectToggle { background: #fff; color:#303030; padding: 11px 7px; margin: -5px 0 !important; border-radius: 5px; }
   .slides.scroll .menuToggle.scrollEffectToggle *,
   .slides:not(.scroll) .menuToggle.slideEffectToggle * { cursor: default !important; opacity:1; pointer-events:none;}}
   /* ignore */
   </style>


   <div id="step3">
   <%= render "step3/sections/3/slide1" %>
   <%= render "step3/sections/3/slide2" %>
   <%= render "step3/sections/3/slide3" %>
   </div>


<%= render "step3/sections/2/slide1" %>
<%= render "step3/sections/2/slide2" %>

<%#
Equity as Fairness, Care, and Transformation (transition)
Demystifying, welcoming, validating, creating partnerships, representing, and deconstructing are equity-minded practices that are associated with three perspectives of equity discussed in Alicia Dowd’s and Estela Bensimon’s Engaging the ‘race’ question: Accountability and equity in US higher education . Each speaks to an aspect of equity that faculty and other practitioners must adopt if they are to serve students from racially minoritized groups in equity-minded ways. Below is a brief description of the equity perspectives and the equity-minded syllabus practice(s) with which they are associated.

[1] Bensimon, E. M. (2007). The underestimated significance of practitioner knowledge in the scholarship of student success. Review of Higher Education, 30(4), 441-469;  Dowd, A. C. & Bensimon, E. M.  (2015). Engaging the “Race Question”: Accountability and Equity in U.S. Higher Education. New York: Teachers College Press.; Bensimon, E. M., & Malcom, L. E. (Eds.) (2012). Confronting Equity Issues on Campus: Implementing the Equity Scorecard in Theory and Practice. Sterling, VA: Stylus Publishing.

[1] Bensimon, E. M. (2007). The underestimated significance of practitioner knowledge in the scholarship of student success. Review of Higher Education, 30(4), 441-469;  Dowd, A. C. & Bensimon, E. M.  (2015). Engaging the “Race Question”: Accountability and Equity in U.S. Higher Education. New York: Teachers College Press.; Bensimon, E. M., & Malcom, L. E. (Eds.) (2012). Confronting Equity Issues on Campus: Implementing the Equity Scorecard in Theory and Practice. Sterling, VA: Stylus Publishing. %>
