<%= render "step6/sections/page_4/p0" %>
<%= render "step6/sections/page_4/p1" %>
<%= render "step6/sections/page_4/p2" %>
<%= render "step6/sections/page_4/p3" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>

<!-- Panel Bottom #06 -->
<nav class="panel bottom">
  <div class="sections desktop">
    <div class="left">
      <span class="onTop" data-tooltip="Section Home">
        <span class="white button actionButton">
          <%= link_to title_6_path do %>
            <i class="fal fa-arrow-circle-left h3"></i>
          <% end %>
        </span>
      </span>
    </div>
    <div class="center opacity-3">
      <i class="fal fa-arrow-alt-up h2 no-margin"></i>
      <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
      <i class="fal fa-arrow-alt-down h2 no-margin"></i>
    </div>
    <div class="right">
      <span class="onTop" data-tooltip="Next Section">
        <span class="white button actionButton">
          <%= link_to s6_5_path do %>
            <i class="fal fa-arrow-circle-right h3"></i>
          <% end %>
        </span>
      </span>
    </div>
  </div>
</nav>
