<body class="slides zoom horizontal noPreload animated ">

  <%= render "shared/panels/top/nav_1" %>

  <nav class="side medium stroke">
    <div class="navigation">
      <ul></ul>
    </div>
  </nav>

  <section class="slide fade-8 kenBurns">
    <div class="content" style="background: rgba(59, 62, 83, .95);">
      <div class="container">
        <div class="wrap top">
          <div class="margin-bottom-5 left underline">
            <h4 class="ae-1 small uppercase letter-spacing-3 ">Section 5</h4>
          </div>
          <ul class="flex margin-bottom-5 left">
            <li class="col-6-12">
              <h1 class="large ae-1 uppercase letter-spacing-3 "></h1>
              <h2 class=" ae-5 opacity-9 left"></h2>
              <br/><br/><br/><br/><br/><br/>
              
              <p class="large ae-5 opacity-9 left">

              </p>
            </li>
            <li class="col-6-12">

              <div class="ae-3 cell-100 rounded margin-top-5 done padding-5">
                <h3 class="ae-5 small Left margin-bottom-3 uppercase">
                  <i class="fal fa-lightbulb-on margin-right-1"></i> Key learning outcome
                </h3>
                <p class="hero normal ae-4 fromLeft">

                </p>
              </div>
            </li>
          </ul>
          <div class="ae-2">
            <%= link_to intro_6_path, class: "big button border ae-3 middle margin-top-1
           " do %>
           Let's Begin
           <% end %>
         </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>

  <nav class="panel bottom">
    <div class="sections desktop">
      <div class="left">
        <span class="onTop" data-tooltip="Section Home">
          <span class="white button actionButton">
            <%= link_to title_6_path do %>
              <i class="fal fa-arrow-circle-left h3"></i>
            <% end %>
          </span>
        </span>
      </div>
      <div class="center opacity-5">

      </div>
      <div class="right">
        <span class="onTop" data-tooltip="Next Section">
          <span class="white button actionButton">
            <%= link_to intro_6_path do %>
              <i class="fal fa-check-circle  h3"></i>
            <% end %>
          </span>
        </span>
      </div>
    </div>
  </nav>

</body>
