<style media="screen">
  .thumbnail-74 {
    height: 250px;
  }
</style>


  <section class="slide kenBurns">
    <div class="content" style="background: rgba(34, 67, 95, .97);">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h5 class="uppercase semiBold margin-bottom-2 ae-1">cue online syllabus review</h5>
            <h1 class="big ae-2 margin-bottom-4">We've designed five learning sections</h1>
            <!-- <h2 class="small light ae-3"><span class="opacity-8">
              Our goal is to help you review your syllabi.</span>
            </h2> -->
          </div>
          <div class="">
            <ul class="grid grid-74 later equal margin-top-5">
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                <div class="box-74">
                  <div class="thumbnail-74 white">
                    <%= image_tag("emoji/animations/excited.gif", class: "wide padding-2")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6 letter-spacing-1">Section 1</h6>
                      <p class="cropBottom normal">How do you feel?</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                <div class="box-74">
                  <div class="thumbnail-74 white">

                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png", class: "wide padding-4")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6 letter-spacing-1">Section 2</h6>
                      <p class="cropBottom semiBold">Why do Syllabi Matter?</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <div class="box-74">
                  <div class="thumbnail-74 white">
                    <%= image_tag("graphics/mind.svg", class: "wide padding-4")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal" style="padding-right: 5px;">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6 letter-spacing-1">Section 3</h6>
                      <p class="cropBottom semiBold" style="font-size: 20px;">What is Equity-Mindedness? </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <div class="box-74">
                  <div class="thumbnail-74 white">
                    <%= image_tag("graphics/syllabus.svg", class: "wide padding-3")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6 letter-spacing-1">Section 4</h6>
                      <p class="cropBottom semiBold" style="font-size: 19px;">Who does your Syllabi Serve?</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <div class="box-74">
                  <div class="thumbnail-74 white">
                    <%= image_tag("graphics/syllabus-group.png", class: "wide padding-top-5 padding-right-2")%>
                  </div>
                  <div class="name-74 equalElement table wide border-top teal">
                    <div class="cell left top">
                      <h6 class="uppercase opacity-6 letter-spacing-1">Section 5</h6>
                      <p class="cropBottom semiBold">Example Syllabus </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>
