<style media="screen">
  .thumbnail-74 {
    height: 200px;
  }
</style>


<section class="slide kenBurns">
  <div class="content" style="background: rgba(100, 29, 68, .98);">
   <div class="container">
     <div class="wrap top ">
       <div class="fix-12-12 left">

         <div class="margin-bottom-2 left underline ae-1">
           <h5 class="uppercase semiBold margin-bottom-2 ae-2">
             <span class="opacity-5 margin-left-1 text-white"> Introduction</span>
           </h5>
         </div>
         <ul class="flex margin-bottom-5 left">
           <li class="col-12-12">
             <h1 class="ae-3 left">
               We've designed five learning sections.
             </h1>
             <p class="normal p semiBold opacity-5 ae-5">Learning Sections</p>
           </li>
         </ul>

         <h3 class="big margin-top-6 ae-3  done fromLeft opacity-8">
           Each section may be completed at your own pace.
         </h3>
         <p class="tiny uppercase semiBold margin-top-3 ae-2 done letter-spacing-3">
         <span class="opacity-8 text-yellow">
           <i class="far fa-stopwatch" aria-hidden="true"></i> 20-40 minutes is suggested</span>
         </p>


          <ul class="fix-12-12 margin-top-3 float-left">
            <li class="left">
              <div class="">
                <ul class="grid grid-74 later equal margin-top-5">
                  <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                    <div class="box-74">
                      <div class="thumbnail-74 white">
                        <%= image_tag("emoji/animations/excited.gif", class: "wide padding-top-3")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal">
                        <div class="cell left top">
                          <h6 class="uppercase opacity-6 letter-spacing-1">Section 1</h6>
                          <!-- <p class="cropBottom normal">How do you feel?</p> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                    <div class="box-74">
                      <div class="thumbnail-74 white">

                        <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png", class: "wide padding-top-4 padding-2")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal">
                        <div class="cell left top">
                          <h6 class="uppercase opacity-6 letter-spacing-1">Section 2</h6>
                          <!-- <p class="cropBottom semiBold">Why do Syllabi Matter?</p> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                    <div class="box-74">
                      <div class="thumbnail-74 white">
                        <%= image_tag("graphics/mind.svg", class: "wide padding-top-2")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal" style="">
                        <div class="cell left top">
                          <h6 class="uppercase opacity-6 letter-spacing-1">Section 3</h6>
                          <!-- <p class="cropBottom semiBold" style="font-size: 20px;">What is Equity-Mindedness? </p> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                    <div class="box-74">
                      <div class="thumbnail-74 white">
                        <%= image_tag("graphics/syllabus.svg", class: "wide padding-1 padding-top-2")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal">
                        <div class="cell left top">
                          <h6 class="uppercase opacity-6 letter-spacing-1">Section 4</h6>
                          <!-- <p class="cropBottom semiBold" style="font-size: 19px;">Who does your Syllabi Serve?</p> -->
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-2-10 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                    <div class="box-74">
                      <div class="thumbnail-74 white">
                        <%= image_tag("graphics/syllabus-group.png", class: "wide padding-top-3 padding-left-3")%>
                      </div>
                      <div class="name-74 equalElement table wide border-top teal">
                        <div class="cell left top">
                          <h6 class="uppercase opacity-6 letter-spacing-1">Section 5</h6>
                          <!-- <p class="cropBottom semiBold">Example Syllabus </p> -->
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>


              </li>
           </ul>


       </div>
     </div>
   </div>
 </div>
 <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-12.png")%>)"></div>
</section>
