<body class="slides plain fast animated ">


<section class="slide blackSlide">
  <div class="content" style="background: INDIANRED;">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-6-12 left middle">
              <h3 class="smaller text-yellow ae-1 font-weight-bold type-nunito">Get Reaqcuainted</h3>
              <h1 class="ae-2 fromLeft">How well do you know your syllabus?</h1>
              <h4 class="ae-3 margin-top-4 mb-4 pr-md-5 subtitle underline">Purpose & Intentionality</h4>
                <p class="lead">1. What are three words or phrases that come to mind when you hear the word "syllabus"?</p>
                 <div class="contact-form contact-form-inputs-filled contact-form-button-block">
                   <form class="slides-form wide left" action="ajax-email.php" id="contact-form" method="post" data-ajax-form="true">
                     <ul class="grid noSpaces">
                       <li class="col-12-12 form-55-input-1">
                         <input class="left form-contol button white gradient ae-3 fromCenter cropLeft" placeholder="Enter text"></input>
                       </li>
                       <li class="col-12-12 form-55-input-2">
                         <input class="left button white gradient ae-3 fromCenter cropLeft" placeholder="Enter text"></input>
                       </li>
                       <li class="col-12-12 form-55-input-2">
                         <input class="left button white gradient ae-3 fromCenter cropLeft" placeholder="Enter text"></input>
                       </li>
                     </ul>
                   </form>
                    <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                 </div><!-- /.contact-form -->
                 <br/><br/><br/>
                 <a href="#ld-tab-pane-42" class=" circle button blue gradient ae-3 fromCenter cropLeft">Next</a>

            </li>
            <li class="col-6-12">
              <img class="ae-4" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Slide #34 -->
<section class="slide blackSlide">
  <div class="content" style="background: INDIANRED;">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-6-12 left middle">
              <h3 class="smaller text-yellow ae-1 font-weight-bold type-nunito">Get Reaqcuainted</h3>
              <h1 class="ae-2 fromLeft">How well do you know your syllabus?</h1>
              <h4 class="ae-3 margin-top-4 mb-4 pr-md-5 subtitle underline">Purpose & Intentionality</h4>
                <p class="lead">2. Is the Syllabus important to me as an instructor??</p>
                <div class="contact-form contact-form-inputs-filled contact-form-button-block">
                   <form class="slides-form wide left" action="ajax-email.php" id="contact-form" method="post" data-ajax-form="true">
                     <ul class="grid noSpaces">
                       <li class="col-2-12 form-55-input-1">
                         <a class="button white gradient ae-3 fromCenter cropLeft">Yes</a>
                       </li>
                       <li class="col-2-12 form-55-input-2">
                         <a class="button white ae-4 fromCenter">No</a>
                       </li>
                     </ul>
                   </form>
                    <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                 </div><!-- /.contact-form -->
                 <br/><br/><br/>
                 <a href="#ld-tab-pane-42" class=" circle button blue gradient ae-3 fromCenter cropLeft">Next</a>
                 <%#= render "step2/s1/survey/2.html" %>
                 <%#= render "step2/s1/survey/3.html" %>
                 <%#= render "step2/s1/survey/4.html" %>
            </li>
            <li class="col-6-12">
              <img class="ae-4" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="slide blackSlide">
  <div class="content" style="background: INDIANRED;">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-6-12 left middle">
              <h3 class="smaller text-yellow ae-1 font-weight-bold type-nunito">Get Reaqcuainted</h3>
              <h1 class="ae-2 fromLeft">How well do you know your syllabus?</h1>
              <h4 class="ae-3 margin-top-4 mb-4 pr-md-5 subtitle underline">Purpose & Intentionality</h4>
                <p class="lead">3. What types of changes have you made to your course syllabus?</p>
                <div class="contact-form contact-form-inputs-filled contact-form-button-block">
                   <form class="slides-form wide left" action="ajax-email.php" id="contact-form" method="post" data-ajax-form="true">
                     <ul class="grid noSpaces">
                       <li class="col-12-12">
                         <textarea class="button white gradient ae-3 fromCenter cropLeft left" placeholder="(e.g., layout, content)">

                         </textarea>
                       </li>
                     </ul>
                   </form>
                 </div>
                 <br/><br/><br/>
                 <a href="#ld-tab-pane-42" class=" circle button blue gradient ae-3 fromCenter cropLeft">Next</a>
            </li>
            <li class="col-6-12">
              <img class="ae-4" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="slide blackSlide">
  <div class="content" style="background: INDIANRED;">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-6-12 left middle">
              <h3 class="smaller text-yellow ae-1 font-weight-bold type-nunito">Get Reaqcuainted</h3>
              <h1 class="ae-2 fromLeft">How well do you know your syllabus?</h1>
              <h4 class="ae-3 margin-top-4 mb-4 pr-md-5 subtitle underline">Purpose & Intentionality</h4>
                <p class="lead">4. Think about one or two changes you made. Why did you make those changes?</p>
                <div class="contact-form contact-form-inputs-filled contact-form-button-block">
                   <form class="slides-form wide left" action="ajax-email.php" id="contact-form" method="post" data-ajax-form="true">
                     <ul class="grid noSpaces">
                       <li class="col-12-12">
                         <textarea class="button white gradient ae-3 fromCenter cropLeft left" placeholder="(e.g., layout, content)">

                         </textarea>
                       </li>
                     </ul>
                   </form>
                 </div>
                 <br/><br/><br/>
                 <%= link_to "Next", s5_2_path, class: " circle button blue gradient ae-3 fromCenter cropLeft"  %>
            </li>
            <li class="col-6-12">
              <img class="ae-4" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
</body>
