<%= render "step5/sections/s2/p1" %>
<%= render "step5/sections/s2/p2" %>
<%= render "step5/sections/s2/p3" %>
<%= render "step5/sections/s2/p4" %>

<section class="slide kenBurns" data-name="intro" data-title="Intro">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <h1 class="big cropBottom ae-2"><i class="fal fa-check-square margin-right-2"></i> How Syllabi serve?</h1>
        <h3 class="ae-2 small light margin-top-3 uppercase"><span class="opacity-6">next up </span></h3>
        <h3 class="ae-3 large semiBold margin-top-3">DECONSTRUCTION AND REFLECTION</h3>


        <p class="">
          <%= link_to s5_3_path, class: "ae-10 center button big cell-100 rounded circle margin-top-5" do %>
            Let's Get Started.<i class="fad fa-long-arrow-alt-right margin-left-1"></i>
          <% end %>
        </p>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-23.jpg)"></div>
</section>


<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>



 <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
   <div class="sections desktop ">
     <div class="left">
       <span class="onTop" data-tooltip="Section Home">
         <span class="white button actionButton">
           <%= link_to title_5_path do %>
             <i class="far fa-home h4"></i>
           <% end %>
         </span>
       </span>
     </div>
     <div class="center opacity-3">
       <i class="fal fa-arrow-alt-up h2 no-margin"></i>
       <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
       <i class="fal fa-arrow-alt-down   h2 no-margin"></i>
     </div>
     <div class="right">
       <span class="onTop" data-tooltip="Next Page">
         <span class="white button actionButton">
           <%= link_to s5_3_path do %>
             <i class="fal fa-check-circle h3"></i>
           <% end %>
         </span>
       </span>
     </div>
   </div>
 </nav>
