
    <!-- Deconstruction and Reflection ********************** -->

    <!-- Deconstruction intro -->
    <section class="slide">
      <div class="content" style="background: rgba(130, 53, 89, .94);">
       <div class="container">
         <div class="wrap top left">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline ae-1">
               <h5 class="uppercase semiBold margin-bottom-2 ae-2 text-yellow">next:
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 15-minute exercise</span></h5>
             </div>
             <ul class="flex margin-bottom-10 left">
               <li class="col-12-12">
                 <h2 class="ae-3 left">
                   Deconstruction and Reflection
                 </h2>
                 <p class="normal p semiBold opacity-5 ae-5">Active Exercise</p>
               </li>
             </ul>
             <ul class="fix-9-12 float-left">
               <li class="left">
                 <h2 class="small ae-2 light fromLeft">Deconstructing your syllabus in terms of who it serves entails
                 categorizing its content by audiences.</h2>
                 <br/><br/>
                 <p class="semiBold lead ae-8">
                   <span class="normal yellow padding-1 rounded">Please pull out your syllabus to follow along.</span>
                 <p>
              </li>
            </ul>
            <ul class="fix-12-12 float-left">
              <li class="left">
                 <ul class="flex ae-2 cell-100 rounded margin-top-6 padding-3">
                   <li class="col-6-12">
                     <h5 class="uppercase semiBold margin-bottom-1 text-yellow ae-2"><i class="far fa-pen-square"></i> take notes</h5>
                     <p class=" ae-2 tight semiBold margin-bottom-0 ">As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and sensemaking.</p>
                   </li>
                   <li class="col-6-12">
                     <h5 class="uppercase semiBold margin-bottom-1 text-yellow ae-2"><i class="fal fa-crosshairs"></i> focused reflection</h5>
                     <p class="ae-2 tight semiBold margin-bottom-0">
                       What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?
                     </p>
                    </li>
                 </ul>

                </li>
             </ul>

                  </div>
                 <!-- <p class="">
                   <a href="#p1" class="ae-10 center button big transparent margin-top-3">
                     I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                   </a>
                 </p> -->


               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <!-- Deconstruction exercise -->
    <section class="slide kenBurns" data-name="p1" data-title="p1">
       <div class="content" style="background: rgba(130, 53, 89, .94);">
       <div class="container">
         <div class="wrap top">


           <div class="fix-12-12 left">
             <ul class="grid">
               <li class="col-12-12">
                 <%= render "step5/sections/s3/title" %>
               </li>
             </ul>

             <ul class="grid margin-top-5">

               <li class="col-4-12">
                 <%= image_tag("graphics/my-syllabus.png", class:"ae-8 shadow", alt:"iPad Image")%>
               </li>
               <li class="col-8-12">
                 <!-- <p class="lead ae-4">Although syllabi are documents used primarily by faculty and students, they often contain information for a wider range of higher education audiences.</p> -->
                 <ol class="list decimal margin-left-2 margin-top-2 margin-bottom-3">
                   <li class="margin-bottom-3">
                     <h3 class="normal">Write
                       <span class="text-teal bold">INSTITUTION</span>
                       next to sections required by your institution.
                     </h3>
                   </li>
                   <li class="margin-bottom-3">
                     <h3 class="normal">
                       Write
                       <span class="text-teal bold">DEPARTMENT</span>
                       next to sections required by your department.
                     </h3>
                   </li>
                   <li class="margin-bottom-3">
                     <h3 class="normal">
                       Write <span class="text-teal bold">FACULTY</span> next to sections that explicate your
                        classroom rules/policies and the relationship you expect to have with students.
                      </h3>
                   </li>
                 </ol>
               </li>
             </ul>
            </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
    </section>

    <!-- reflection intro -->
    <section class="slide">
      <div class="content" style="background: rgba(130, 53, 89, .94);">
       <div class="container">
         <div class="wrap top left">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline ae-1">
               <h5 class="uppercase semiBold margin-bottom-2 ae-2 text-yellow">next:
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 10-minute exercise</span></h5>
             </div>
             <ul class="flex margin-bottom-10 left">
               <li class="col-12-12">
                 <h2 class="ae-3 left">
                   Reflection on Inequity Observations
                 </h2>
                 <p class="normal p semiBold opacity-5 ae-5">Active Exercise</p>


               </li>
             </ul>
             <ul class="fix-9-12 float-left">
               <li class="left">
                 <h2 class="small ae-2 light fromLeft"> Reflecting on your inequity observations and findings is another
                  fundamental aspect of the equity-minded inquiry process.</h2>
                 <br/><br/>
                 <p class="semiBold opacity-3 lead ae-8"><i class="fal fa-mouse-alt margin-right-1"></i> Scroll down to begin</p>
                 <!-- <p class="semiBold lead ae-8">
                   <span class="normal yellow padding-1 rounded">Please pull out your syllabus to follow along.</span>
                 <p> -->
                 <!-- <p class="">
                   <a href="#p1" class="ae-10 center button big transparent margin-top-3">
                     I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                   </a>
                 </p> -->


               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

     <section class="slide" >
        <div class="content" style="background: rgba(130, 53, 89, .94);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12">
              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="uppercase semiBold margin-bottom-2 ae-2 opacity-3">A Deeper Understanding</h5>
              </div>
              <ul class="flex margin-bottom-8 left">
                <li class="col-8-12">
                  <h2 class="ae-3 left">
                    Reflection on Inequity Observations
                  </h2>
                  <p class="normal p semiBold opacity-5 ae-5">Active Reflection</p>
                </li>
              </ul>

              <h5 class="uppercase semiBold margin-bottom-3 text-yellow ae-4 left">
               <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
             </h5>


              <ul class="grid left">

                <li class="col-2-10">
                  <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
                </li>
                <li class="col-8-10 left">
                  <div class="ae-2 cell-100 rounded padding-3">
                    <ul class="grid left padding-1 rounded">
                      <li class="col-12-12">
                        <p class="lead semiBold">1. Reflect on the notes you made in your syllabus about the audiences being served. How would you describe what you found?</p>
                      </li>
                      <li class="col-12-12">
                        <p class="lead semiBold cropBottom">2. Drawing on your response from prompt #1, are any of the patterns you found suprising to you? Why or why not?</p>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>

              <p class="left margin-top-5 semiBold opacity-3 lead ae-8"><i class="fal fa-mouse-alt margin-right-1"></i> Scroll down once finished</p>
             </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
     </section>

     <section class="slide" >
        <div class="content" style="background: rgba(130, 53, 89, .94);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12">
              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="uppercase semiBold margin-bottom-2 ae-2 opacity-3">A Deeper Understanding</h5>
              </div>
              <ul class="flex margin-bottom-8 left">
                <li class="col-8-12">
                  <h2 class="ae-3 left">
                    Reflection on Inequity Observations
                  </h2>
                  <p class="normal p semiBold opacity-5 ae-5">Active Reflection</p>
                </li>
              </ul>

              <h5 class="uppercase semiBold margin-bottom-3 text-yellow ae-4 left">
               <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
             </h5>


              <ul class="grid left">

                <li class="col-2-10">
                  <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
                </li>
                <li class="col-8-10 left">
                  <div class="ae-2 cell-100 rounded padding-3">
                    <ul class="grid left padding-1 rounded">
                      <li class="col-12-12">
                        <p class="lead semiBold">3. Based on these patterns, for whom would you say your syllabus is
                          written? Does this match who you thought the audience for your syllabus is?</p>
                      </li>
                      <li class="col-12-12">
                        <p class="lead semiBold cropBottom">4. Are there any changes you’d like to make to your syllabus
                          based on this activity? When considering syllabus changes, which changes would you
                           say are within your control and could be immediately implemented? Which changes would
                           require conversations and further advocacy with your faculty peers?</p>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
             </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
     </section>

    <section class="slide kenBurns" data-name="intro" data-title="Intro">
      <div class="content" style="background: rgba(130, 53, 89, .94);">
        <div class="container">
          <div class="wrap">

            <h1 class="big cropBottom ae-2"><i class="fal fa-check-square margin-right-2"></i>Deconstruction and Reflection</h1>
            <h3 class="ae-2 small light margin-top-3 uppercase"><span class="opacity-6">next up </span></h3>
            <h3 class="ae-3 large semiBold margin-top-3">HOW SYLLABI COULD SERVE?</h3>


            <p class="">
              <%= link_to s5_4_path, class: "ae-10 center button big transparent margin-top-5" do %>
                Let's Get Started.<i class="fad fa-long-arrow-alt-right margin-left-1"></i>
              <% end %>
            </p>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
    </section>



<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>



<nav class="panel bottom small fixed">
  <div class="sections">
    <div class="left"></div>
    <div class="center">
      <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
    </div>
    <div class="right">

    </div>
  </div>
</nav>

<nav class="panel bottom small customPanel">
  <div class="sections">
    <div class="left">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Section Intro", intro_5_path %>
        </li>
      </ul>
  </div>
    <div class="right">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Next Section", s5_4_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--
 <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
   <div class="sections desktop ">
     <div class="left">
       <span class="onTop" data-tooltip="Section Home">
         <span class="white button actionButton">
           <%= link_to title_5_path do %>
             <i class="far fa-home h4"></i>
           <% end %>
         </span>
       </span>
     </div>
     <div class="center opacity-3">
       <i class="fal fa-arrow-alt-up h2 no-margin"></i>
       <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
       <i class="fal fa-arrow-alt-down   h2 no-margin"></i>
     </div>
     <div class="right">
       <span class="onTop" data-tooltip="Next Page">
         <span class="white button actionButton">
           <%= link_to s5_4_path do %>
             <i class="fal fa-check-circle h3"></i>
           <% end %>
         </span>
       </span>
     </div>
   </div>
 </nav> -->
