
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>



<nav class="panel bottom small fixed">
  <div class="sections">
    <div class="left"></div>
    <div class="center">
      <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
    </div>
    <div class="right">

    </div>
  </div>
</nav>

<nav class="panel bottom small customPanel">
  <div class="sections">
    <div class="left">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Section Intro", intro_5_path %>
        </li>
      </ul>
  </div>
    <div class="right">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Next Section", s5_5_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- intro -->
 <section class="slide">
   <div class="content" style="background: rgba(130, 53, 89, .94);">
    <div class="container">
      <div class="wrap center">
        <ul class="fix-10-12 center">
          <li class="left">
            <h1 class="ae-2 light large fromLeft">With well-crafted syllabi, faculty design learning
              experiences that positively shape and alter how students perceive their instructors
              and seek assistance for academic challenges.</h1>
              <h5 class="margin-top-8 uppercase semiBold margin-bottom-2 ae-8 text-yellow">next:
                <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> final exercise</span></h5>
              <h2 class="light small ae-8">A Deeper Understanding</h2>
              <p class="">
                <a href="#p1" class="ae-10 center button big transparent margin-top-3">
                  I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                </a>
              </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
 </section>

 <section class="slide" data-name="p1" data-title="p1">
    <div class="content" style="background: rgba(130, 53, 89, .94);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 left">
          <ul class="grid">
            <li class="col-8-12">
              <h5 class="margin-bottom-2 opacity-3 uppercase">Deeper Understanding</h5>
              <h1 class="large fromLeft normal">How Could Syllabi Serve</h1>
              <p class="lead semiBold margin-bottom-2 ae-3">With well-crafted syllabi, faculty design learning experiences that positively shape and alter how students perceive their instructors and seek assistance for academic challenges.</p>
            </li>
          </ul>

          <ul class="grid margin-top-10">
            <li class="col-4-12">

              <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
            </li>
            <li class="col-8-12 float-right">
              <div class="ae-2 cell-100 rounded padding-5">
                <h2 class="ae-2 light center fromLeft">Effective redesign of the syllabus is one action that can be
                  considered to improve educational outcomes, particularly for students of color.
                </h2>
              </div>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
 </section>

  <section class="slide" data-name="p1" data-title="p1">
     <div class="content" style="background: rgba(130, 53, 89, .97);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12 left">
           <ul class="grid">
             <li class="col-8-12">
               <h5 class="margin-bottom-2 opacity-3 uppercase">Deeper Understanding</h5>
               <h1 class="large fromLeft normal">How Could Syllabi Serve</h1>
               <p class="lead semiBold margin-bottom-2 ae-3">With well-crafted syllabi, faculty design learning experiences that positively shape and alter how students perceive their instructors and seek assistance for academic challenges.</p>
             </li>
           </ul>

           <ul class="grid margin-top-10">
             <li class="col-4-12">

               <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
             </li>
             <li class="col-8-12 float-right">
               <div class="ae-2 cell-100 rounded padding-5">
                 <h2 class="ae-2 light center fromLeft">With this physical document we can shape the way students
                    view their instructors, the course and its material, their actions when they face academic
                     difficulties, and overall, their course experience.
                 </h2>
               </div>
             </li>
           </ul>
          </div>
       </div>
     </div>
   </div>
   <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>

  <section class="slide" data-name="p1" data-title="p1">
     <div class="content" style="background: rgba(130, 53, 89, .97);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12 left">
           <ul class="grid">
             <li class="col-8-12">
               <h5 class="margin-bottom-2 opacity-3 uppercase">Deeper Understanding</h5>
               <h1 class="large fromLeft normal">How Could Syllabi Serve</h1>
               <p class="lead semiBold margin-bottom-2 ae-3">With well-crafted syllabi, faculty design learning experiences that positively shape and alter how students perceive their instructors and seek assistance for academic challenges.</p>
             </li>
           </ul>

           <ul class="grid margin-top-5">
             <li class="col-12-12 float-right">
               <h5 class="uppercase semiBold margin-bottom-1 text-yellow">
                <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
              </h5>
              <p class="large">Equity-Mindedness Concept <em class="normal margin-right-1">Welcoming</em> from Step 4. </p>

               <ul class="grid left">
                 <li class="col-3-12 left fromRight">
                   <ul class="tabs controller uppercase bold ae-1 fromCenter" data-slider-id="60">
                     <li class="selected">Office Hours</li>
                     <li>Course Goals</li>
                     <li>Attendance</li>
                     <li>Participation</li>
                   </ul>
                 </li>
                 <li class="col-9-12 left fromRight">
                   <ul class="slider animated" data-slider-id="60">
                     <li class="selected fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Welcoming</h3>
                           <p class="small normal">
                             Location: 233 Jones Hall<br/>
                              Monday, Wednesay, Friday 10:00 - 10:50 a.m.<br/>
                              Tuesday, Thursday 9:30–10:30 a.m.<br/>
                              jsmith@schoolname.com<br/><br/>

                              <span class="text-teal">I welcome you to contact me outside of class and student hours.
                              You may email me, call my office, or contact the department
                              and leave a message.</span></p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                           <p class="small normal">
                              Location: 233 Jones Hall<br/>
                              Monday, Wednesay, Friday 10:00 - 10:50 a.m.<br/>
                              Tuesday, Thursday 9:30–10:30 a.m.<br/>
                              jsmith@schoolname.com<br/><br/>

                              <span class="">If	you	need	to	contact	me	outside	of	office hours,	you
                                may	email	me,	call	my	office,	or contact	the	department	and	leave	a
                                message</span>
                              </p>
                         </li>
                       </ul>
                     </li>
                     <li class="fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Welcoming</h3>
                           <p class="small normal">
                             Some	of the specific skills <span class="text-teal">I	hope you will obtain in this cours	are	listed	below.
                             Being	a	critical	consumer	of	information</span> about	mental	processes	and	behavior
                             is important;	all	of	these	activities	will	help you	become	one,	and	it
                             is	my	hope	that you	will	use	the	skills	in	your	daily	life.</p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                           <p class="small normal">
                             Some	of	the	specific	skills	you	should obtain	in	this	course
                             are	listed	below. Because	you	are	not	yet	a	critical	consumer of
                             information	about	mental	processes	and behavior,	all	of	these	activities
                             	will	help	you become	one,	and	if	you	are	motivated enough,	use	the	skills
                             in	your	daily	life.</p>
                         </li>
                        </ul>
                     </li>
                     <li class="fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Welcoming</h3>
                           <p class="small normal text-teal">
                             You	should	attend	every	class	but extenuating	circumstances	arise	that	can
                             make	this	difficult.	</p>
                          <p class="small normal">If	you	cannot	attend	a class,	please	let	me
                             know.	If circumstances	make	you	miss	more	than 3	classes	during	the
                             semester,<span class="text-teal"> you	may be	overextended.	I	ask	that	you	come	see me	to	discuss
                             your	options.</span></p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                           <p class="small normal text-teal">
                             I	expect	you	to	attend	every	class.	</p>
                           <p class="small normal">If	you	 cannot	attend	a	class,
                             please	let	me	know.	If	circumstances	make	you	miss	more	than	3
                             classes	during	the	semester,	I	will	drop	you	 from	the	class	roster
                             in	accordance	with	the	college’s	attendance	policy.
                           </p>
                         </li>
                        </ul>
                     </li>
                     <li class="fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Welcoming</h3>
                           <p class="small normal text-teal">
                             All	of	us	in	the	class,	you,	me,	your	peers, have	a	responsibility
                             to	create	an environment	in	which	we	can	all	learn from	each	other.
                             I	expect	everyone	to participate	in	class	so	that	we	can	all benefit
                             from	the	insights	and	experiences that	each	person	brings.</p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                           <p class="small normal ">
                             Come	prepared	to	actively	participate	in this	course.	This	is	the	best
                             way	to	engage you	in	learning	the	material	(and	it	makes the	lectures
                             more	interesting).</p>
                         </li>
                        </ul>
                     </li>

                   </ul>
                </li>
              </ul>
             </li>
           </ul>
          </div>
       </div>
     </div>
   </div>
   <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>
