
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>



<nav class="panel bottom small fixed">
  <div class="sections">
    <div class="left"></div>
    <div class="center">
      <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
    </div>
    <div class="right">

    </div>
  </div>
</nav>

<nav class="panel bottom small customPanel">
  <div class="sections">
    <div class="left">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Section Intro", intro_5_path %>
        </li>
      </ul>
  </div>
    <div class="right">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Next Section", s5_5_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- intro -->
 <section class="slide">
   <div class="content" style="background: rgba(140, 38, 78, .96);">
    <div class="container">
      <div class="wrap top left">
        <div class="fix-12-12">
          <div class="margin-bottom-2 left underline ae-1">
            <h5 class="uppercase semiBold margin-bottom-2 ae-2 text-yellow">next:
              <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> final exercise</span></h5>
          </div>
          <ul class="flex margin-bottom-10 left">
            <li class="col-12-12">
              <h2 class="ae-3 left">
                A Deeper Understanding
              </h2>
              <p class="normal p semiBold opacity-5 ae-5">Reflection</p>

              <h2 class="light small ae-8"></h2>
            </li>
          </ul>
          <ul class="fix-9-12 float-left">
            <li class="left">
              <h2 class="small ae-2 light fromLeft">With well-crafted syllabi, faculty design learning
                experiences that positively shape and alter how students perceive their instructors
                and seek assistance for academic challenges.</h2>


            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
 </section>

 <section class="slide" data-name="p1" data-title="p1">
    <div class="content" style="background: rgba(140, 38, 78, .96);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <div class="margin-bottom-2 left underline ae-1">
            <h5 class="uppercase semiBold margin-bottom-2 ae-2 opacity-3">A Deeper Understanding</h5>
          </div>
          <ul class="flex margin-bottom-10 left">
            <li class="col-8-12">
              <h2 class="ae-3 left">
                How Could Syllabi Serve
              </h2>
              <p class="normal p semiBold opacity-5 ae-5">Reflection</p>

              <p class="lead semiBold margin-bottom-2 ae-3">
                With this physical document we can shape the way students view their instructors,
                the course and its material, their actions when they face academic difficulties, and, overall,
                their course experience.</p>
            </li>
          </ul>

          <ul class="grid">
            <li class="col-2-10">
              <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
            </li>
            <li class="col-8-10 float-right">
              <div class="ae-2 cell-100 rounded padding-4">
                <h2 class="small ae-2 light left fromLeft">Effective redesign of the syllabus is one action that can be
                  considered to improve educational outcomes, particularly for students of color.
                </h2>
              </div>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
 </section>

 <section class="slide" data-name="p1" data-title="p1">
    <div class="content" style="background: rgba(140, 38, 78, .96);">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <div class="margin-bottom-2 left underline ae-1">
            <h5 class="uppercase semiBold margin-bottom-2 ae-2 opacity-3">A Deeper Understanding</h5>
          </div>
          <ul class="flex margin-bottom-10 left">
            <li class="col-8-12">
              <h2 class="ae-3 left">
                How Could Syllabi Serve
              </h2>
              <p class="normal p semiBold opacity-5 ae-5">Reflection</p>

              <p class="lead semiBold margin-bottom-2 ae-3">
                With this physical document we can shape the way students view their instructors,
                the course and its material, their actions when they face academic difficulties, and, overall,
                their course experience.</p>
            </li>
          </ul>

          <ul class="grid">
            <li class="col-2-10">
              <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
            </li>
            <li class="col-8-10 float-right">
              <div class="ae-2 cell-100 rounded padding-4">
                <h2 class="small ae-2 light left fromLeft">With this physical document we can shape the way students
                   view their instructors, the course and its material, their actions when they face academic
                    difficulties, and overall, their course experience.
                </h2>
              </div>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
 </section>

  <section class="slide" data-name="p1" data-title="p1">
     <div class="content" style="background: rgba(140, 38, 78, .96);">
     <div class="container">
       <div class="wrap top">
         <div class="fix-12-12">
           <div class="margin-bottom-2 left underline ae-1">
             <h5 class="uppercase semiBold margin-bottom-2 ae-2 opacity-3">A Deeper Understanding</h5>
           </div>
           <ul class="flex margin-bottom-8 left">
             <li class="col-8-12">
               <h2 class="ae-3 left">
                 How Could Syllabi Serve
               </h2>
               <p class="normal p semiBold opacity-5 ae-5"><i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise</p>
             </li>
           </ul>


           <ul class="grid">
             <li class="col-12-12">
               <p class="left lead semiBold margin-bottom-3 ae-3">
                 Below, explore examples of the equity-mindedness concept
                 <em class="normal margin-right-1">Welcoming</em>within a syllabus.
               </p>
               <ul class="grid left">
                 <li class="col-3-12 left fromRight">
                   <ul class="tabs controller uppercase bold ae-1 fromCenter shadow" data-slider-id="60">
                     <li class="selected">Office Hours</li>
                     <li>Course Goals</li>
                     <li>Attendance</li>
                     <li>Participation</li>
                   </ul>
                 </li>
                 <li class="col-9-12 left fromRight">
                   <ul class="slider animated" data-slider-id="60">
                     <li class="selected fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2 rounded">Welcoming</h3>
                           <p class="small normal">
                             Location: 233 Jones Hall<br/>
                              Monday, Wednesay, Friday 10:00 - 10:50 a.m.<br/>
                              Tuesday, Thursday 9:30–10:30 a.m.<br/>
                              jsmith@schoolname.com<br/><br/>
                            </p>

                            <p class="small normal cell-100 padding-1 rounded">
                              <span class="text-yellow">I welcome you to contact me outside of class and student hours.</span>
                              You may email me, call my office, or contact the department
                              and leave a message.</p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2 rounded">Unwelcoming</h3>
                           <p class="small normal">
                              Location: 233 Jones Hall<br/>
                              Monday, Wednesay, Friday 10:00 - 10:50 a.m.<br/>
                              Tuesday, Thursday 9:30–10:30 a.m.<br/>
                              jsmith@schoolname.com<br/><br/>

                              <p class="small normal cell-100 padding-1 rounded">If	you	need	to	contact	me	outside	of	office hours,	you
                                may	email	me,	call	my	office,	or contact	the	department	and	leave	a
                                message</p>
                         </li>
                       </ul>
                     </li>
                     <li class="fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2 rounded">Welcoming</h3>
                           <p class="small normal">
                             Some	of the specific skills <span class="text-yellow">I	hope you will obtain in this cours	are	listed	below.
                             Being	a	critical	consumer	of	information</span> about	mental	processes	and	behavior
                             is important;	all	of	these	activities	will	help you	become	one,	and	it
                             is	my	hope	that you	will	use	the	skills	in	your	daily	life.</p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2 rounded">Unwelcoming</h3>
                           <p class="small normal">
                             Some	of	the	specific	skills	you	should obtain	in	this	course
                             are	listed	below. Because	you	are	not	yet	a	critical	consumer of
                             information	about	mental	processes	and behavior,	all	of	these	activities
                             	will	help	you become	one,	and	if	you	are	motivated enough,	use	the	skills
                             in	your	daily	life.</p>
                         </li>
                        </ul>
                     </li>
                     <li class="fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Welcoming</h3>
                           <p class="small normal text-yellow">
                             You	should	attend	every	class	but extenuating	circumstances	arise	that	can
                             make	this	difficult.	</p>
                          <p class="small normal">If	you	cannot	attend	a class,	please	let	me
                             know.	If circumstances	make	you	miss	more	than 3	classes	during	the
                             semester,<span class="text-yellow"> you	may be	overextended.	I	ask	that	you	come	see me	to	discuss
                             your	options.</span></p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                           <p class="small normal text-yellow">
                             I	expect	you	to	attend	every	class.	</p>
                           <p class="small normal">If	you	 cannot	attend	a	class,
                             please	let	me	know.	If	circumstances	make	you	miss	more	than	3
                             classes	during	the	semester,	I	will	drop	you	 from	the	class	roster
                             in	accordance	with	the	college’s	attendance	policy.
                           </p>
                         </li>
                        </ul>
                     </li>
                     <li class="fromCenter">
                       <ul class="grid left">
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Welcoming</h3>
                           <p class="small normal text-yellow">
                             All	of	us	in	the	class,	you,	me,	your	peers, have	a	responsibility
                             to	create	an environment	in	which	we	can	all	learn from	each	other.
                             I	expect	everyone	to participate	in	class	so	that	we	can	all benefit
                             from	the	insights	and	experiences that	each	person	brings.</p>
                         </li>
                         <li class="col-6-12 left fromRight">
                           <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                           <p class="small normal ">
                             Come	prepared	to	actively	participate	in this	course.	This	is	the	best
                             way	to	engage you	in	learning	the	material	(and	it	makes the	lectures
                             more	interesting).</p>
                         </li>
                        </ul>
                     </li>

                   </ul>
                </li>
              </ul>
             </li>
           </ul>
          </div>
       </div>
     </div>
   </div>
   <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
  </section>



      <section class="slide kenBurns">
        <div class="content" style="background: rgba(140, 38, 78, .96);">
          <div class="container">
            <div class="wrap">


              <div class="fix-10-12 toCenter">
                <h2 class="ae-2 normal small margin-bottom-2">
                  <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
                  <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>Deconstruction and Reflection</h1>

              </div>
              <div class="fix-5-12 ae-5">
                <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
              </div>


              <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
              <h3 class="ae-3 large semiBold">
                <%= link_to s5_5_path, class: "ae-10 center button big transparent" do %>
                Deconstruction and Reflection <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                <% end %>
              </h3>


            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-07.png")%>)"></div>
      </section>
