<%= render "step5/sections/s4/p1" %>
<%= render "step5/sections/s4/p2" %>
<%= render "step5/sections/s4/p3" %>
<%= render "step5/sections/s4/p4" %>
<%= render "step5/sections/s4/p5" %>
<%= render "step5/sections/s4/p6" %>
<%= render "step5/sections/s4/p7" %>

<!-- Panel Bottom #06 -->
<nav class="panel bottom">
  <div class="sections desktop">
    <div class="left">
      <span class="onTop" data-tooltip="Section Home">
        <span class="white button actionButton">
          <%= link_to s5_3_path do %>
            <i class="fal fa-arrow-circle-left h3"></i>
          <% end %>
        </span>
      </span>
    </div>
    <div class="center"><nav class="medium"><div class="navigation"><ul></ul></div></nav></div>
    <div class="right">
      <span class="onTop" data-tooltip="Next Section">
        <span class="white button actionButton">
          <%= link_to recap_4_path do %>
            <i class="fal fa-arrow-circle-right h3"></i>
          <% end %>
        </span>
      </span>
    </div>
  </div>
</nav>
