
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>


<nav class="panel bottom small fixed">
  <div class="sections">
    <div class="left"></div>
    <div class="center">
      <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
    </div>
    <div class="right">

    </div>
  </div>
</nav>

<nav class="panel bottom small customPanel">
  <div class="sections">
    <div class="left">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Section Intro", intro_5_path %>
        </li>
      </ul>
  </div>
    <div class="right">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Next Section", recap_5_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>






    <!-- Deconstruction and Reflection ********************** -->

    <!-- Deconstruction intro -->
    <section class="slide">
      <div class="content" style="background: rgba(34, 67, 95, .97);">
       <div class="container">
         <div class="wrap center">
           <ul class="fix-10-12 center">
             <li class="left">
               <h1 class="ae-2 light large fromLeft">Deconsructing your syllabus also entails identifying which parts exemplify and do not exemplify equity-minded practice.</h1>

               <h5 class="margin-top-8 uppercase semiBold margin-bottom-2 ae-8 text-yellow">next:
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 5-minute exercise</span></h5>
               <h2 class="light small ae-8">
                 <span class="normal yellow padding-left-1 padding-right-1">Please pull out your syllabus to follow along.</span></h2>
               <p class="">
                 <a href="#p1" class="ae-10 center button big transparent margin-top-3">
                   I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                 </a>
               </p>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <!-- Deconstruction exercise -->
    <section class="slide kenBurns" data-name="p1" data-title="p1">
       <div class="content" style="background: rgba(34, 67, 95, .97);">
       <div class="container">
         <div class="wrap top">


           <div class="fix-12-12 left">
             <ul class="grid">
               <li class="col-12-12">
                 <%= render "step5/sections/s3/title" %>
               </li>
             </ul>

             <ul class="grid margin-top-2">
               <li class="col-4-12">
                 <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
                </li>
                <li class="col-8-12">
                  <ol class="list decimal margin-left-2 margin-top-2 margin-bottom-3 flexs">
                    <li class="margin-bottom-3">
                      <p class="semiBold">Write
                        <span class="text-teal bold">DEMYSTIFYING </span>
                        next to sections that provide first-time college students with information they need to
                        successfully complete the course in clear, plain language with limited to
                        no academic jargon (and write MYSTIFYING next to sections that do the opposite).
                      </p>
                    </li>
                    <li class="margin-bottom-3">
                      <p class="semiBold">
                        Write
                        <span class="text-teal bold">WELCOMING </span>
                        next to sections that, in their tone and content, communicate care, support, respect,
                        and inclusion as class norms (and write UNWELCOMING next to sections that do the opposite).
                      </p>
                    </li>
                    <li class="margin-bottom-3">
                      <p class="semiBold">
                        Write <span class="text-teal bold">VALIDATING </span> next to sections that communicate a belief
                        in students’ ability to be successful (and write INVALIDATING next to sections that do the opposite).
                       </p>
                    </li>
                  </ol>
                 </li>
             </ul>
            </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <!-- Deconstruction exercise -->
    <section class="slide">
       <div class="content" style="background: rgba(34, 67, 95, .97);">
       <div class="container">
         <div class="wrap top">


           <div class="fix-12-12 left">
             <ul class="grid">
               <li class="col-12-12">
                 <%= render "step5/sections/s3/title" %>
               </li>
             </ul>

             <ul class="grid margin-top-2">
               <li class="col-4-12">
                 <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
                </li>
                <li class="col-8-12">
                  <ol class="list decimal margin-left-2 margin-top-2 margin-bottom-3 flexs">
                    <li class="margin-bottom-3">
                      <p class="semiBold">
                        Write <span class="text-teal bold">CREATING A PARTNERSHIP  </span> next to sections that communicate the instructor’s
                         commitment to working with students to ensure their success (and write WITHOUT A PARTNERSHIP next to
                         sections that do the opposite).
                       </p>
                    </li>
                    <li class="margin-bottom-3">
                      <p class="semiBold">
                        Write <span class="text-teal bold">REPRESENTING  </span> next to sections that communicate the value of students’
                        racial backgrounds and lived experiences as sources of learning and knowledge by including them in assignments,
                        readings, and other materials (and write UNDER-REPRESENTED next to sections that do the opposite).
                       </p>
                    </li>
                    <li class="margin-bottom-3">
                      <p class="semiBold">
                        Write <span class="text-teal bold">DECONSTRUCTING   </span> next to sections that promote awareness and
                        critical examination of social inequalities, privilege, and dominant racialized norms
                        (and write UNDECONSTRUCTED) next to sections that do the opposite).
                       </p>
                    </li>
                  </ol>
                 </li>
             </ul>
            </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <!-- reflection intro -->
    <section class="slide">
      <div class="content" style="background: rgba(34, 67, 95, .97);">
       <div class="container">
         <div class="wrap center">
           <div class="fix-12-12 left">
           <ul class="fix-10-12">
             <li class="left">
               <h1 class="ae-2 light large fromLeft">
                 Reflecting on your observations and findings is another fundamental aspect of the equity-minded inquiry process.</h1>

               <h5 class="margin-top-8 uppercase semiBold margin-bottom-2 ae-8 text-yellow">next:
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 5-minute exercise</span></h5>
               <h2 class="light small ae-8">Reflection on Observations</h2>
               <p class="">
                 <a href="#p2" class="ae-10 center button big transparent margin-top-3">
                   I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                 </a>
               </p>

             </li>
           </ul>
         </div>
       </div>
     </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>


    <!-- reflection -->
    <section class="slide kenBurns" data-name="p2" data-title="p2">
      <div class="content" style="background: rgba(34, 67, 95, .97);">
       <div class="container">
         <div class="wrap top">
           <div class="fix-12-12 left">
          <ul class="flex left">
             <li class="col-12-12">
               <%= render "step5/sections/s3/title" %>
             </li>
           </ul>
           <ul class="grid left margin-top-10">
             <li class="col-3-12 right fromRight">
               <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
             </li>
             <li class="col-9-12">
               <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
                <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
              </h5>

              <ul class="grid left padding-1 rounded">
                <li class="col-12-12">
                  <p class="lead semiBold">1. Which aspects of equity-minded practice are generally present in your syllabus? Which are generally absent? </p>
                </li>
                <li class="col-12-12">
                  <p class="lead semiBold">2. Imagine you’re a student reading the syllabus on the first day of class. Do you feel that the instructor is willing to provide opportunities and resources for you to do well in the course? Why or why not?</p>
                </li>
              </ul>
             </li>
            </ul>
         </div>
       </div>
     </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>

    <!-- reflection -->
    <section class="slide">
      <div class="content" style="background: rgba(34, 67, 95, .97);">
       <div class="container">
         <div class="wrap top">
           <div class="fix-12-12 left">
          <ul class="flex left">
             <li class="col-12-12">
               <%= render "step5/sections/s3/title" %>
             </li>
           </ul>
           <ul class="grid left margin-top-10">
             <li class="col-3-12 right fromRight">
               <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
             </li>
             <li class="col-9-12">
               <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
                <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
              </h5>

              <ul class="grid">
                <li class="col-12-12">
                  <p class="lead semiBold">3. Imagining yourself again as a student reading your syllabus, do you feel that the instructor assumes that you want to learn and cares for your development as scholars and human beings? Why or why not?</p>
                </li>
                <li class="col-12-12">
                  <p class="lead semiBold">4. Imagine you are a student from a racially minoritized group reading your syllabus on the first day of class. Do you feel the instructor and the course speak to your experiences? Do you feel like the instructor is an advocate for racial equity? </p>
                </li>
                <li class="col-12-12">
                  <p class="lead semiBold">5. What to you learn from completing this exercise?  </p>
                </li>
              </ul>
             </li>
            </ul>
         </div>
       </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>



      <section class="slide kenBurns">
        <div class="content" style="background: rgba(34, 67, 95, .97);">
          <div class="container">
            <div class="wrap">

              <div class="fix-10-12 toCenter">
                <h2 class="ae-2 normal small margin-bottom-2">
                  <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">Well Done.</span></h2>
                  <h1 class="ae-3 huge">Great job! Let's move on.</h1>
                <%= link_to recap_5_path, class: "button transparent margin-top-5 ae-8" do %>
                  <h3 class="large margin-bottom-0">Learning Summary <i class="far fa-long-arrow-alt-right margin-left-1"></i></h3>
                <% end %>
              </div>
              <div class="fix-5-12 ae-5">
                <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
              </div>

            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
      </section>
