
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>


<nav class="panel bottom small fixed">
  <div class="sections">
    <div class="left"></div>
    <div class="center">
      <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
    </div>
    <div class="right">

    </div>
  </div>
</nav>

<nav class="panel bottom small customPanel">
  <div class="sections">
    <div class="left">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Section Intro", intro_5_path %>
        </li>
      </ul>
  </div>
    <div class="right">
      <ul class="menu small">
        <li tabindex="0" class="toFirstSlide hover-state">
          <%= link_to "Next Section", recap_5_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>






    <!-- Deconstruction and Reflection ********************** -->

    <section class="slide">
      <div class="content" style="background: rgba(140, 38, 78, .96);">
       <div class="container">
         <div class="wrap top left">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline ae-1">
               <h5 class="uppercase semiBold margin-bottom-2 ae-2 text-yellow">next:
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 10-minute exercise</span></h5>
             </div>
             <ul class="flex margin-bottom-10 left">
               <li class="col-12-12">
                 <h2 class="ae-3 left">
                   Deconstruction and Reflection
                 </h2>
                 <p class="normal p semiBold opacity-5 ae-5">Active Exercise</p>


               </li>
             </ul>
             <ul class="fix-9-12 float-left">
               <li class="left">
                 <h2 class="small ae-2 light fromLeft">Deconsructing your syllabus also entails identifying which parts exemplify and do not exemplify equity-minded practice.</h2>
                 <br/><br/>
                 <p class="semiBold lead ae-8">
                   <span class="normal yellow padding-1 rounded">Please pull out your syllabus to follow along.</span>
                 <p>

                   <ul class="fix-12-12 float-left">
                     <li class="left">
                        <ul class="flex ae-2 cell-100 rounded margin-top-6 padding-3">
                          <li class="col-6-12">
                            <h5 class="uppercase semiBold margin-bottom-1 text-yellow ae-2"><i class="far fa-pen-square"></i> take notes</h5>
                            <p class=" ae-2 tight semiBold margin-bottom-0 ">As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and sensemaking.</p>
                          </li>
                          <li class="col-6-12">
                            <h5 class="uppercase semiBold margin-bottom-1 text-yellow ae-2"><i class="fal fa-crosshairs"></i> focused reflection</h5>
                            <p class="ae-2 tight semiBold margin-bottom-0">
                              What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?
                            </p>
                           </li>
                        </ul>

                       </li>
                    </ul>


               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
    </section>


    <!-- Deconstruction exercise -->
    <section class="slide">
      <div class="content" style="background: rgba(140, 38, 78, .96);">
       <div class="container">
         <div class="wrap top left">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline ae-1">
               <h5 class="uppercase semiBold margin-bottom-2 ae-2">
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> Prompt Inquiry</span></h5>
             </div>
             <ul class="flex margin-bottom-4 left">
               <li class="col-12-12">
                 <h1 class="ae-3 left large margin-bottom-2">
                  Deconstruction and Reflection
                 </h1>
                 <p class="lead semiBold opacity-6 ae-5">Who does your syllabus serve?</p>
               </li>
             </ul>
             <p class="normal lead semiBold ae-6  margin-top-5"><i class="fal fa-pen margin-right-1"></i>
               On your syllabus, write the following keywords in sections that reflect the associated description.</p>


            <ul class="grid margin-top-4">
              <li class="col-3-12">
                <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
               </li>
               <li class="col-9-12">

                 <ol class="ae-6 list decimal margin-left-2 margin-top-3 margin-bottom-3 flexs">
                   <li class="">
                     <ul class="flex">
                       <li class="col-7-12">
                          <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">DEMYSTIFYING </span></p>
                          <p class="tight opacity-8 semiBold margin-bottom-0">
                             Provide first-time college students with information they need to
                             successfully complete the course in clear, plain language with limited to
                             no academic jargon.
                         </p>
                      </li>
                      <li class="col-5-12">
                        <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">MYSTIFYING </span></p>
                        <p class="tight opacity-8 semiBold margin-bottom-0">
                          Do the opposite.
                       </p>
                      </li>
                    </ul>
                   </li>
                   <hr class="opacity-2 margin-2"/>
                   <li class="">
                     <ul class="flex">
                       <li class="col-7-12">
                          <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">WELCOMING </span></p>
                          <p class="tight opacity-8 semiBold margin-bottom-0">
                            In their tone and content, communicate care, support, respect,
                            and inclusion as class norms.
                         </p>
                      </li>
                      <li class="col-5-12">
                        <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">UNWELCOMING </span></p>
                        <p class="tight opacity-8 semiBold">
                          Do the opposite.
                       </p>
                      </li>
                    </ul>
                   </li>
                   <hr class="opacity-2 margin-2"/>
                   <li class="">
                     <ul class="flex">
                       <li class="col-7-12">
                          <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">VALIDATING </span></p>
                          <p class="tight opacity-8 semiBold margin-bottom-0">
                            Communicate a belief
                            in students’ ability to be successful.
                         </p>
                      </li>
                      <li class="col-5-12">
                        <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">INVALIDATING </span></p>
                        <p class="tight opacity-8 semiBold">
                          Do the opposite.
                       </p>
                      </li>
                    </ul>
                   </li>
                 </ol>
                </li>
              </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
    </section>

    <!-- Deconstruction exercise -->
    <section class="slide">
      <div class="content" style="background: rgba(140, 38, 78, .96);">
       <div class="container">
         <div class="wrap top left">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline ae-1">
               <h5 class="uppercase semiBold margin-bottom-2 ae-2">
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> Prompt Inquiry</span></h5>
             </div>
             <ul class="flex margin-bottom-4 left">
               <li class="col-12-12">
                 <h1 class="ae-3 left large margin-bottom-2">
                  Deconstruction and Reflection
                 </h1>
                 <p class="lead semiBold opacity-6 ae-5">Who does your syllabus serve?</p>
               </li>
             </ul>
             <p class="normal lead semiBold ae-6  margin-top-5"><i class="fal fa-pen margin-right-1"></i>
               On your syllabus, write the following keywords in sections that reflect the associated description.</p>


            <ul class="grid margin-top-4">
              <li class="col-3-12">
                <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
               </li>
               <li class="col-9-12">
                 <ol class="ae-6 list decimal margin-left-2 margin-top-2 margin-bottom-3 flexs">
                   <li class="">
                     <ul class="flex">
                       <li class="col-7-12">
                          <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">CREATING A PARTNERSHIP </span></p>
                          <p class="tight opacity-8 semiBold margin-bottom-0">
                             Communicate the instructor’s commitment to working with students to ensure their success.
                         </p>
                      </li>
                      <li class="col-5-12">
                        <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">WITHOUT A PARTNERSHIP  </span></p>
                        <p class="tight opacity-8 semiBold margin-bottom-0">
                          Do the opposite.
                       </p>
                      </li>
                    </ul>
                   </li>
                   <hr class="opacity-2 margin-2"/>
                   <li class="">
                     <ul class="flex">
                       <li class="col-7-12">
                          <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">REPRESENTING </span></p>
                          <p class="tight opacity-8 semiBold margin-bottom-0">
                            Communicate the value of students’
                            racial backgrounds and lived experiences as sources of learning and knowledge by including them in assignments,
                            readings, and other materials.
                         </p>
                      </li>
                      <li class="col-5-12">
                        <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">UNDER-REPRESENTED </span></p>
                        <p class="tight opacity-8 semiBold">
                          Do the opposite.
                       </p>
                      </li>
                    </ul>
                   </li>
                   <hr class="opacity-2 margin-2"/>
                   <li class="">
                     <ul class="flex">
                       <li class="col-7-12">
                          <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold">DECONSTRUCTING  </span></p>
                          <p class="tight opacity-8 semiBold margin-bottom-0">
                            Promote awareness and
                            critical examination of social inequalities, privilege, and dominant racialized norms.
                         </p>
                      </li>
                      <li class="col-5-12">
                        <p class="lead bold margin-bottom-1"><span class="text-yellow semiBold"> UNDECONSTRUCTED</span></p>
                        <p class="tight opacity-8 semiBold">
                          Do the opposite.
                       </p>
                      </li>
                    </ul>
                   </li>
                 </ol>
                </li>
              </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
    </section>

    <!-- reflection intro -->
    <section class="slide">
      <div class="content" style="background: rgba(140, 38, 78, .96);">
       <div class="container">
         <div class="wrap top left">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline ae-1">
               <h5 class="uppercase semiBold margin-bottom-2 ae-2 text-yellow">next:
                 <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 10-minute exercise</span></h5>
             </div>
             <ul class="flex margin-bottom-10 left">
               <li class="col-12-12">
                 <h2 class="ae-3 left">
                   Reflection on Observations
                 </h2>
                 <p class="normal semiBold opacity-5 ae-2">Focused Reflection</p>


               </li>
             </ul>
             <ul class="fix-9-12 float-left">
               <li class="left">
                 <h2 class="small ae-2 light fromLeft">Reflecting on your observations and findings is another fundamental aspect of the equity-minded inquiry process.</h2>
                 <br/><br/>
                 <!-- <p class="semiBold lead ae-8">
                   <span class="normal yellow padding-1 rounded">Please pull out your syllabus to follow along.</span>
                 <p> -->
                 <!-- <p class="">
                   <a href="#p1" class="ae-10 center button big transparent margin-top-3">
                     I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                   </a>
                 </p> -->


               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
    </section>

    <!-- reflection -->

     <section class="slide" >
        <div class="content" style="background: rgba(140, 38, 78, .96);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12">
              <div class="margin-bottom-2 left underline">
                <h5 class="uppercase semiBold margin-bottom-2 opacity-3 ae-2">Prompt Inquiry</h5>
              </div>
              <ul class="flex margin-bottom-8 left">
                <li class="col-8-12">
                  <h2 class="left">
                    Reflections  on Observations
                  </h2>
                  <p class="normal semiBold opacity-5">Focused Reflection</p>
                </li>
              </ul>

              <h5 class="uppercase semiBold margin-bottom-3 text-yellow ae-4 left">
               <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
             </h5>


              <ul class="grid left">

                <li class="col-2-10">
                  <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
                </li>
                <li class="col-8-10 left">
                  <div class="ae-2 cell-100 rounded padding-3">
                    <ul class="grid left padding-1 rounded">
                      <li class="col-12-12">
                        <p class="lead semiBold">1. Which aspects of equity-minded practice are generally present in your syllabus? Which are generally absent? </p>
                      </li>
                      <li class="col-12-12">
                        <p class="lead semiBold cropBottom">2. Imagine you’re a student reading the syllabus on the first day of class. Do you feel that the instructor is willing to provide opportunities and resources for you to do well in the course? Why or why not?</p>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>

              <p class="left margin-top-5 semiBold opacity-3 lead ae-8"><i class="fal fa-mouse-alt margin-right-1"></i> Scroll down once finished</p>
             </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
     </section>


    <!-- reflection -->
    <section class="slide" >
       <div class="content" style="background: rgba(140, 38, 78, .96);">
       <div class="container">
         <div class="wrap top">
           <div class="fix-12-12">
             <div class="margin-bottom-2 left underline">
               <h5 class="uppercase semiBold margin-bottom-2 opacity-3 ae-2">Prompt Inquiry</h5>
             </div>
             <ul class="flex margin-bottom-8 left">
               <li class="col-8-12">
                 <h2 class="left">
                   Reflections  on Observations
                 </h2>
                 <p class="normal semiBold opacity-5">Focused Reflection</p>
               </li>
             </ul>

             <h5 class="uppercase semiBold margin-bottom-3 text-yellow ae-4 left">
              <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
            </h5>


             <ul class="grid left">

               <li class="col-2-10">
                 <%= image_tag("graphics/my-syllabus.png", class: "shadow ae-4") %>
               </li>
               <li class="col-8-10 left">
                 <div class="ae-2 cell-100 rounded padding-3">
                   <ul class="grid left padding-1 rounded">
                     <li class="col-12-12">
                       <p class="lead semiBold">3. Imagining yourself again as a student reading your syllabus, do you feel that the instructor assumes that you want to learn and cares for your development as scholars and human beings? Why or why not?</p>
                     </li>
                     <li class="col-12-12">
                       <p class="lead semiBold ">4. Imagine you are a student from a racially minoritized group reading your syllabus on the first day of class. Do you feel the instructor and the course speak to your experiences? Do you feel like the instructor is an advocate for racial equity? </p>
                     </li>
                     <li class="col-12-12">
                       <p class="lead semiBold cropBottom">5. What to you learn from completing this exercise?  </p>
                     </li>
                   </ul>
                 </div>
               </li>
             </ul>

             <p class="left margin-top-5 semiBold opacity-3 lead ae-8"><i class="fal fa-mouse-alt margin-right-1"></i> Scroll down once finished</p>
            </div>
         </div>
       </div>
     </div>
     <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
    </section>


    <section class="slide kenBurns" data-name="intro" data-title="Intro">
      <div class="content" style="background: rgba(140, 38, 78, .96);">
        <div class="container">
          <div class="wrap">

            <div class="fix-10-12 toCenter">
              <h2 class="ae-2 normal small margin-bottom-2">
                <i class=" margin-right-1"></i> <span class="opacity-5"><i class="fad fa-check"></i> Section Complete</span></h2>
                <h1 class="big cropBottom ae-2"><i class="fal fa-file-certificate margin-right-4"></i>Deconstruction and Reflection</h1>

            </div>
            <div class="fix-5-12 ae-5">
              <%= image_tag("https://loading.io/assets/img/animation/icon/showcase/idea.svg", class: "width-50")%>
            </div>


            <h4 class="ae-2 small text-yellow light margin-bottom-3 uppercase"><span class="opacity-6">next up </span></h4>
            <h3 class="ae-3 large semiBold">
              <%= link_to recap_5_path, class: "ae-10 center button big transparent" do %>
              Learning Summary <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
              <% end %>
            </h3>

          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-08.png")%>)"></div>
    </section>
