  <body class="slides zoom horizontal noPreload animated ">
    <!-- <script>
      $(function(){
        window.autoplayInterval = setInterval(function(){
          window.changeSlide('increase');
        },10000);

        $(document).on('click mousewheel', function(){
          clearInterval(window.autoplayInterval);
        });
      });
    </script> -->


    <%= render "shared/panels/top/nav_1" %>


      <!-- Navigation -->
      <nav class="side medium stroke">
        <div class="navigation">
          <ul></ul>
        </div>
      </nav>


    <section class="slide kenBurns">
      <div class="content" style="background: #823559;">
        <div class="container">
          <div class="wrap padding-top-phablet-5">

            <div class="fix-10-12 toCenter">
              <h5 class="uppercase text-gray semiBold margin-bottom-2 ae-1">cue online syllabus review</h5>
              <h1 class="ae-1 normal">Section Five</h1>
              <!-- <p class="ae-2 margin-bottom-3"><span class="opacity-8">Each section is approximately 10-15 minutes.</span></p> -->
            </div>

            <div class="fix-12-12 margin-top-7">
              <div class="frame-97 ae-5 padding-2 blak opacity-2">
                <span class="absolute" style="left: 0; width: auto;">
                  <%= image_tag("emoji/animations/uncomfortable.gif", style: " height: 80px; margin-left: 10px; margin-top: -20px;", class: "")%>
                </span>
                <h2 class="small align-left cropBottom inline-block padding-top-1">
                  <span class="light margin-left-10 margin-left-phablet-0 title-group">
                    How do you feel?
                  </span>
                  <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
                  <a href="#" class="button-buy-97"><i class="h1 text-green far fa-check-circle"></i></a>
                </h2>
              </div>

              <div class="frame-97 ae-5 padding-2 blak opacity-2">
                <span class="absolute" style="left: 0; width: auto;">
                  <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png", style: " height: 55px; margin-left: 25px; margin-top: 0px;", class: "")%>
                </span>
                <h2 class="small align-left cropBottom inline-block padding-top-1">
                  <span class="light margin-left-10 margin-left-phablet-0 title-group">
                    How do you feel?
                  </span>
                  <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
                  <a href="#" class="button-buy-97"><i class="h1 text-green far fa-check-circle"></i></a>
                </h2>
              </div>


              <div class="frame-97 ae-5 padding-2 blak opacity-2">
                <span class="absolute" style="left: 0; width: auto;">
                  <%= image_tag("graphics/mind.svg", style: " height: 55px; margin-left: 25px; margin-top: 0px;", class: "")%>
                </span>
                <h2 class="small align-left cropBottom inline-block padding-top-1">
                  <span class="light margin-left-10 margin-left-phablet-0 title-group">
                    How do you feel?
                  </span>
                  <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
                  <a href="#" class="button-buy-97"><i class="h1 text-green far fa-check-circle"></i></a>
                </h2>
              </div>

              <div class="frame-97 ae-5 padding-4 white">
                <span class="absolute" style="left: 0; width: auto;">
                  <%= image_tag("graphics/syllabus.svg",style: " height: 110px; margin-left: 20px; margin-top: -25px;", class: "")%>
                </span>
                <h2 class="small align-left cropBottom inline-block padding-top-1">
                  <span class="light margin-left-10 margin-left-phablet-0 title-group">
                    How do you feel?
                  </span>
                  <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
                  <a href="#" class="button-buy-97"><i class="h1 text-blue far fa-arrow-circle-right"></i></a>
                </h2>
              </div>

              <div class="frame-97 ae-5 padding-2 blak opacity-2">
                  <span class="absolute" style="left: 0; width: auto;">
                    <%= image_tag("graphics/syllabus-group.png", style: " height: 75px; margin-left: 10px; margin-top: -10px;", class: "")%>
                  </span>
                  <h2 class="small align-left cropBottom inline-block padding-top-1">
                    <span class="light margin-left-10 margin-left-phablet-0 title-group">
                      How do you feel?
                    </span>
                    <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
                    <a href="#" class="button-buy-97"><i class="h1 far fa-clock"></i></a>
                  </h2>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section class="slide kenBurns" data-name="intro" data-title="Intro">
      <div class="content" style="background: #823559;">
        <div class="container">
          <div class="wrap">

            <div class="fix-11-12 center">
              <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">Section V</span></h3>
              <h1 class="big cropBottom ae-2 margin-bottom-2 normal">Who Does my Syllabus Serve?</h1>
              <h1 class=" ae-2">
                This section is designed to help you think about who your syllabus
                 is written for and who it’s designed to serve.
              </h1>
              <!-- <h1 class=" thin ae-2">
               We'll reflect on your syllabus, identify how it serves
               students from minoritized racial/ethnic groups and how it
               could be better leveraged to do so in equity-minded ways.
             </h1> -->
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(assets/img/background/img-23.jpg)"></div>
    </section>

    <section class="slide kenBurns" data-name="outcome" data-title="learning outcome">
      <div class="content" style="background: #823559;">
        <div class="container">
          <div class="wrap">
            <div class="fix-10-12">
              <div class="col-12-12 ae-1 cell-100 rounded margin-bottom-2 done padding-5">
                <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">
                  <i class="fal fa-lightbulb-on margin-right-1"></i> Key learning outcome</span></h3>
                  <h2 class="ae-2">A proportional assessment of who—among higher education audiences like faculty,
                  students, accreditation agencies, and the system office—your syllabus is currently designed to serve.</h2>
              </div>
              <%= link_to intro_5_path, class: "big button ae-5 middle margin-top-1
              margin-left-4" do %>
              Yes, Let's Begin
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url();"></div>
    </section>



   <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
     <div class="sections desktop ">
       <div class="left">
         <span class="onTop" data-tooltip="Section Home">
           <span class="white button actionButton">
             <%= link_to title_5_path do %>
               <i class="far fa-home h4"></i>
             <% end %>
           </span>
         </span>
       </div>
       <div class="center opacity-3">
         <i class="fal fa-arrow-alt-up h2 no-margin"></i>
         <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
         <i class="fal fa-arrow-alt-down h2 no-margin"></i>
       </div>
       <div class="right">
         <span class="onTop" data-tooltip="Next Page">
           <span class="white button actionButton">
             <%= link_to intro_5_path do %>
               <i class="fal fa-check-circle h3"></i>
             <% end %>
           </span>
         </span>
       </div>
     </div>
   </nav>


</body>
