

<section class="slide whiteSlide" data-name="p1" data-title="p1">
  <div class="content" style="background: ;">
   <div class="container">
     <div class="wrap top">

       <ul class="flex">
         <li class="col-7-12 left toLeft">
           <h1 class="huge bold text-orange ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
           <p class="large ae-1 left bold">
             CUE uses the term <span class="yellow">equity-mindedness</span>  to refer to the mode of thinking exhibited by practitioners
             who are willing to:
           </p>
          </li>
        </ul>
         <ul class="flex reverse margin-top-5">
           <li class="col-7-12 left">
             <ul class="grid">
              <li class="col-1-12 right ae-4 Above align-left">
                <i class="far fa-check-circle h1 margin-right-1"></i>
              </li>
              <li class="col-9-12 left ae-4 fromAbove toLeft align-left">
               <h3 class="big ae-5">
                take responsibility for the success of historically underserved
                 student from minoritized racial/ethnic groups
               </h3>
              </li>
            </ul>
            <ul class="grid">
              <li class="col-1-12 right ae-4 Above align-left">
                <i class="far fa-check-circle h1 margin-right-1"></i>
              </li>
              <li class="col-9-12 ae-4 Above align-left">
               <h3 class="big ae-10">
                 critically assess their own
                 practices as educators and/or administrators.
               </h3>
              </li>
            </ul>
          </li>
           <li class="col-5-12 left ae-8 fromAbove toRight align-right">
              <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
           </li>
          </ul>
       </div>

     </div>
   </div>
</section>
<section class="slide transparent whiteSlide autoHeight font-arial" >
  <div class="content" style="background: #fff;">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12 left">
          <h1 class="ae-1" style="font-family: 'Arial' !important; font-size: 40px; line-height: 48px;
          text-decoration: underline; text-decoration-color: #3BC0D1;">
            How do we typically think <br/>about student success?</h1>
        </div>
        <div class="fix-12-12 margin-top-10">
          <ul class="flex fixedSpaces later left">
            <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
              <h5 class="ae-4">Student motivation</h5>
              <%= image_tag("graphics/squares/orange/1.png", class: "wide shadow ae-1 fromCenter")%>
            </li>
            <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
              <%= image_tag("graphics/squares/orange/2.png", class: "wide shadow ae-1 fromCenter")%>
              <h5 class="ae-5">Student commitment</h5>
            </li>
            <li class="col-4-12 col-tablet-1-2 col-phone-1-1" style="position: relative;">
              <%= image_tag("graphics/sections/3/head-vector.png", class: "wide ae-1  fromCenter")%>
              <a href="?example=multipage-3" class="">
                <%= image_tag("graphics/sections/3/blue-squares.png", style: "position: absolute; right: 40%; top: 30%;  height: 40px; width: 40px;", class: "shadow ae-1  fromCenter")%>
              </a>
              <a href="?example=multipage-3" class="">
                <%= image_tag("graphics/sections/3/purple-squares.png", style: "position: absolute; bottom: 30%;  right: 30%;  height: 40px; width: 40px;", class: "shadow ae-1 fromCenter")%>
              </a>
            </li>
            <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
              <h5 class="ae-6">Student discipline</h5>
              <%= image_tag("graphics/squares/orange/2.png", class: "wide shadow ae-1 fromCenter")%>
            </li>
            <li class="col-2-12 col-tablet-1-2 col-phone-1-1">
              <%= image_tag("graphics/squares/orange/2.png", class: "wide shadow ae-1 fromCenter")%>
              <h5 class="ae-7">Student effort</h5>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
