<body class="slides horizontal noPreload animated">


  <!-- Navigation Arrows -->
  <nav class="side left">
    <div class="navigation">
      <div class="cell">
        <span class="prevSlide"><svg class="sideArrow   medium  "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
      </div>
    </div>
  </nav>

  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow   medium  "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>


  <!-- Slide 2 (#62) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <ul class="flex reverse noSpaces verticalCenter">
              <li class="col-6-12 left">
                <h1 class="ae-2">Magical balance</h1>
                <p class="ae-3"><span class="opacity-8">Design solves problems. It is the answer to question; you need to understand that first in order to answer the riddle.</span></p>
                <ul class="flex grid-62 later">
                  <li class="col-6-12 ae-4">
                    <i class="material-icons">panorama</i>
                    <h3>HQ photos</h3>
                    <p class="tiny opacity-6">Design is the conscious effort to impose a meaningful order.</p>
                  </li>
                  <li class="col-6-12 ae-5">
                    <i class="material-icons">settings_applications</i>
                    <h3>Useful components</h3>
                    <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p>
                  </li>
                  <li class="col-6-12 ae-6">
                    <i class="material-icons">videocam</i>
                    <h3>Video calls</h3>
                    <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p>
                  </li>
                  <li class="col-6-12 ae-7">
                    <i class="material-icons">face</i>
                    <h3>Photo profile</h3>
                    <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p>
                  </li>
                </ul>
              </li>
              <li class="col-6-12 left ae-1 image-62">
                <img class="macbook-62 margin-bottom-3" src="<%= image_url("graphics/syllabus-1.svg")%>" data-action="zoom" width="1044" alt="Macbook Image"/>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-61.jpg)"></div>
  </section>

  <!-- Slide 3 (#61) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <ul class="flex noSpaces verticalCenter">
              <li class="col-6-12 left ae-1">
                <img class="macbook-61 margin-bottom-3" src="assets/img/macbook-61.png" data-action="zoom" width="1044" alt="Macbook Image"/>
              </li>
              <li class="col-6-12 left">
                <h1 class="ae-2">I am creator</h1>
                <p class="ae-3"><span class="opacity-8">Scene Generator allows you to create your own unique scenes just by dragging and dropping items into a special&nbsp;scene.</span></p>
                <ul class="flex grid-61 later">
                  <li class="col-6-12 ae-4">
                    <i class="material-icons">panorama</i>
                    <h3>HQ photos</h3>
                    <p class="tiny opacity-6">Design is the conscious effort to impose a meaningful order.</p>
                  </li>
                  <li class="col-6-12 ae-5">
                    <i class="material-icons">settings_applications</i>
                    <h3>Useful components</h3>
                    <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p>
                  </li>
                  <li class="col-6-12 ae-6">
                    <i class="material-icons">videocam</i>
                    <h3>Video calls</h3>
                    <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p>
                  </li>
                  <li class="col-6-12 ae-7">
                    <i class="material-icons">face</i>
                    <h3>Photo profile</h3>
                    <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-61.jpg)"></div>
  </section>

  <!-- Slide 4 (#32) -->
  <section class="slide fade-6 kenBurns fromLeft">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <ul class="flex reverse">
              <li class="col-6-12 left cell-32">
                <h1 class="ae-2">Simple is good</h1>
                <p class="ae-3"><span class="opacity-8">What problem have you solved, ever, that was worth solving where you knew all the given information in&nbsp;advance?</span></p>
                <ul class="items-32">
                  <li class="fix-4-12 toLeft ae-4 margin-bottom-3">
                    <h3>Fashion</h3>
                    <p class="tiny opacity-6">Fashion is a language that creates itself in clothes to interpret reality.</p>
                  </li>
                  <li class="fix-4-12 toLeft ae-5 margin-bottom-3">
                    <h3>Creativity</h3>
                    <p class="tiny opacity-6">Clear thinking at the wrong moment can stifle creativity.</p>
                  </li>
                </ul>
              </li>
              <li class="col-6-12 left ae-1 fromRight">
                <img class="ipad-32" data-action="zoom" width="1400" src="assets/img/ipad-32.png" alt="iPad Image"/>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-32.jpg)"></div>
  </section>

  <!-- Slide 5 (#31) -->
  <section class="slide fade-6 kenBurns fromRight">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <ul class="flex reverse">
              <li class="col-6-12 left">
                <div class="fix-5-12 toLeft">
                  <h1 class="ae-1">Just make it better than anyone else</h1>
                  <p class="ae-2"><span class="opacity-8">Do we really need a simple definition of design or should we accept that design is too complex a matter to be summarized in less than a&nbsp;book?</span></p>

                  <div class="relative ae-3">
                    <img width="64" class="avatar-31 fromCenter" src="assets/img/icon-3.png" alt="Icon"/>
                    <div class="quote-31">
                      <h3 class="margin-bottom-1">Paul Rand</h3>
                      <p class="tiny opacity-8">Graphic designer, Art director</p>
                      <p class="tiny opacity-6 fix-4-12 toLeft">&laquo;Just because something looks good doesn’t mean its useful. And just because something is useful does not make it&nbsp;beautiful.&raquo;</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-6-12 left ae-1">
                <img class="ipad-31" src="assets/img/ipad-31.png" width="1400" alt="iPad Image" data-action="zoom"/>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-31.jpg)"></div>
  </section>


<!-- Slide #62 -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="">

        <div class="marting">
          <ul class="flex noSpaces verticalCenter">
            <li class="col-4-12 left ae-1 left">
              <img class="margin-bottom-3 left" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 left ae-1">
              <img class=" margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 right ae-1 ">

              <div class="float-right">
                <img class="margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="600" alt="Macbook Image"/>
              </div>


            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-61.jpg)"></div>
</section>


<!-- Slide #62 -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="">

        <div class="marting">
          <ul class="flex noSpaces verticalCenter">
            <li class="col-4-12 left ae-1 left">
              <img class="margin-bottom-3 left" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 left ae-1">
              <img class=" margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 right ae-1 ">

              <div class="float-right">
                <img class="margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="600" alt="Macbook Image"/>
              </div>


            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-61.jpg)"></div>
</section>


<!-- Slide #62 -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="">

        <div class="marting">
          <ul class="flex noSpaces verticalCenter">
            <li class="col-4-12 left ae-1 left">
              <img class="margin-bottom-3 left" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 left ae-1">
              <img class=" margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 right ae-1 ">

              <div class="float-right">
                <img class="margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="600" alt="Macbook Image"/>
              </div>


            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-61.jpg)"></div>
</section>
