
<section class="slide " data-name="page-1-purple-citation" data-title="page-1-purple-citation">
  <div class="content" style="background: #5DA5B1;">
    <div class="container">
      <div class="wrap">

        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/page_1/syllabi/3.png")%>" alt="iPad Image"/>
                <a href="#p1">
                  <img class="" style="position: absolute; top: 115px; left: -65px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_1/tags/checked/1.png")%>" alt="iPad Image"/>
                </a>
                <a href="#p2">
                  <img class="" style="position: absolute; top: 200px; right: -50px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_1/tags/checked/2.png")%>" alt="iPad Image"/>
                </a>
                <a href="#p3">
                  <img class="" style="position: absolute; top: 520px; left: -50px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_1/tags/checked/3.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -50px; right: -130px;" width="255" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>
              </div>
            </li>
            <li class="col-6-12 left cell-32">
              <a href="#page-1-purple-tag">
                <img class="ae-1" style="" data-action="" src="<%= image_url("graphics/sections/6/page_1/insight/3c.png")%>" alt="iPad Image"/>
              </a>
              <!-- <h6 class=" medium right ae-10 margin-bottom-1 uppercase micro">
                Finished?
              </h6> -->
              <%= link_to s6_3_path do %>
                <h2 class=" medium right ae-10 margin-right-10">
                  Next Section <span class="margin-left-1"><i class="fal fa-arrow-circle-right"></i></span>
                </h2>
              <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
