
<section class="slide" data-name="p2" data-title="p2">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/page_2/syllabi/2.png")%>" alt="iPad Image"/>
                <a href="#p1">
                  <img class="" style="position: absolute; top: 115px; left: -65px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_2/tags/checked/1.png")%>" alt="iPad Image"/>
                </a>
                <a href="#p2">
                  <img class="" style="position: absolute; top: 390px; left: -65px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_2/tags/checked/2.png")%>" alt="iPad Image"/>
                </a>
                <a href="#p3" class="ae-10">
                  <img class="" style="position: absolute; top: 520px; left: -65px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_2/tags/3.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -50px; right: -130px;" width="255" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>
              </div>
            </li>
            <li class="col-6-12 left">
              <a href="#p2c">
                <img class="ae-1" style="" data-action="" src="<%= image_url("graphics/sections/6/page_2/insight/2.png")%>" alt="iPad Image"/>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
