<section class="slide" data-name="p1" data-title="p1">
  <div class="content" style="background: #5DA5B1;">
    <div class="container">
      <div class="wrap">
        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/page_4/syllabi/1.png")%>" alt="iPad Image"/>
                <a href="#p1">
                  <img class="" style="position: absolute; top: 515px; right: -45px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_4/tags/checked/1.png")%>" alt="iPad Image"/>
                </a>
                <a href="#p2" class="ae-9">
                  <img class="" style="position: absolute; bottom: 225px; right: -45px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_4/tags/2.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -50px; right: -130px;" width="255" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>
              </div>
            </li>
            <li class="col-6-12 left cell-32">
              <a href="">
                <img class="ae-1" style="" data-action="" src="<%= image_url("graphics/sections/6/page_4/insight/1.png")%>" alt="iPad Image"/>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
