
<section class="slide" data-name="page-1-purple-tag" data-title="page-1-purple-tag">
  <div class="content" style="background: #5DA5B1;">
    <div class="container">
      <div class="wrap">

        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/page_1_purple_sy_highlighted.png")%>" alt="iPad Image"/>
                <a href="#page-1-yellow-tag">
                  <img class="" style="position: absolute; top: 115px; left: -65px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/yellow-tag-check.png")%>" alt="iPad Image"/>
                </a>
                <a href="#page-1-green-tag">
                  <img class="" style="position: absolute; top: 200px; right: -50px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/green-tag-check.png")%>" alt="iPad Image"/>
                </a>
                <a href="#page-1-purple-tag">
                  <img class="" style="position: absolute; top: 520px; left: -50px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/purple-tag-check.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -50px; right: -130px;" width="255" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>
              </div>

            </li>
            <li class="col-6-12 left cell-32">
              <br/><br/><br/>
              <a href="#page-1-purple-citation">
                <img class="ae-1" style="" data-action="" src="<%= image_url("graphics/sections/6/purple-insight-01.png")%>" alt="iPad Image"/>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
