<!doctype html>
<html>
  <head>
  	<%= csrf_meta_tags %>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
  	<meta name="apple-mobile-web-app-capable" content="yes" />

    <title>EQMD</title>
  	<!-- Compressed Styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
  	<!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<!-- Compressed Scripts -->
  	<%= javascript_include_tag 'application', media: 'all' %>
    <!-- Fonts and Material Icons -->
  	<link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>

    <!-- EXAMPLE: Background-gradient -->
    <!-- More examples are here: https://designmodo.com/slides/app/#examples -->

    <style>
      /* get more here: http://www.colorzilla.com/gradient-editor/ */
      .gradient-1 {
        background: rgba(255,42,104,1);
        background: -moz-linear-gradient(45deg, rgba(255,42,104,1) 0%, rgba(255,94,58,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,42,104,1)), color-stop(100%, rgba(255,94,58,1)));
        background: -webkit-linear-gradient(45deg, rgba(255,42,104,1) 0%, rgba(255,94,58,1) 100%);
        background: -o-linear-gradient(45deg, rgba(255,42,104,1) 0%, rgba(255,94,58,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(255,42,104,1) 0%, rgba(255,94,58,1) 100%);
        background: linear-gradient(45deg, rgba(255,42,104,1) 0%, rgba(255,94,58,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a68', endColorstr='#ff5e3a', GradientType=1 );
      }
      .gradient-2 {
        background: rgba(198,68,252,1);
        background: -moz-linear-gradient(top, rgba(198,68,252,1) 0%, rgba(88,86,214,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(198,68,252,1)), color-stop(100%, rgba(88,86,214,1)));
        background: -webkit-linear-gradient(top, rgba(198,68,252,1) 0%, rgba(88,86,214,1) 100%);
        background: -o-linear-gradient(top, rgba(198,68,252,1) 0%, rgba(88,86,214,1) 100%);
        background: -ms-linear-gradient(top, rgba(198,68,252,1) 0%, rgba(88,86,214,1) 100%);
        background: linear-gradient(to bottom, rgba(198,68,252,1) 0%, rgba(88,86,214,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c644fc', endColorstr='#5856d6', GradientType=0 );
      }
    </style>
  </head>
  <body class="slides noPreload animated">

    <!-- SVG Library -->
    <%= render "shared/svg_library" %>
    <!-- Panel Top #06 -->

    <%= yield %>

  </body>
</html>
