<!doctype html>
<html>
  <head>
  	<%= csrf_meta_tags %>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
  	<meta name="apple-mobile-web-app-capable" content="yes" />

    <title>Step 3</title>
    <!-- Compressed Styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compressed Scripts -->
    <%= javascript_include_tag 'application', media: 'all' %>
    <!-- Fonts and Material Icons -->
    <link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>

    <style>
      .content {
        background: transparent !important;
      }
      h1 {font-size: 75px;}
      h2 {font-size: 32px;}
      h5 {font-size: 20px;}
      p  {font-size: 16px;}
      body, p {font-family: 'Arial', 'Helvetica'; font-weight: 400;}
      p {font-size: 16px; line-height: 23px;}
      .font-size-18 {font-size: 18px; line-height: 27px;}

       .slides {
          -webkit-transition:1s;
          transition:1s;
       }
       /* set background colors for each of your slides */
       .slides.stage-1 {
          background:#FEF1EF;
       }
       .slides.stage-2 {
          background:#E7FDFF;
       }
       .slides.stage-3 {
          background:#F2D7FF;
       }
       .slides.stage-4 {
          background:#1D4183;
       }
       .slides.stage-5 {
          background:#489D43;
       }
       .slide.transparent,
       .slide.transparent .background {
          background:transparent !important;
       }
       .autoHeight {
          min-height:60vh;
       }
       /* ignore */
       .slides.scroll .menuToggle.scrollEffectToggle,
       .slides:not(.scroll) .menuToggle.slideEffectToggle { background: #fff; color:#303030; padding: 11px 7px; margin: -5px 0 !important; border-radius: 5px; }
       .slides.scroll .menuToggle.scrollEffectToggle *,
       .slides:not(.scroll) .menuToggle.slideEffectToggle * { cursor: default !important; opacity:1; pointer-events:none;}}
       /* ignore */

       .font-arial h1 {font-family: 'Arial' !important; font-size: 40px; line-height: 48px;}
       .font-arial h5 {font-family: 'Arial' !important; color: #156F7A; font-size: 20px; line-height: 24px; font-weight: 500; margin: 15px 0;}

      </style>

  </head>
  <body class="slides zen smooth horizontal animated">
    <%= render "step3/navigation" %>
    <%#= render "shared/svg_library" %>
    <%= yield %>
  </body>
</html>
