<!doctype html>
<html>
  <head>
  	<%= csrf_meta_tags %>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
  	<meta name="apple-mobile-web-app-capable" content="yes" />

  	<title>Step 2</title>
  	<!-- Compressed Styles -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
  	<!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<!-- Compressed Scripts -->
  	<%= javascript_include_tag 'application', media: 'all' %>
    <!-- Fonts and Material Icons -->
  	<link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>

    <!-- Template #02 -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <style>
      .quicksand { font-family: 'Quicksand', sans-serif !important; }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap" rel="stylesheet">


  </head>
  <body class="slides zen animated slow smooth">
    <%= render "shared/svg_library" %>
    <%= render "step3/navigation" %>
    <%= yield %>

  </body>
</html>
